    <!-- Contenido Central -->
    <div class="container-fluid ml-4 mt-3 mb-3">
        <div class="row container-fluid">
            <!-- Panel lateral -->
            <div class="col-3">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNavActive" id="v-pills-panel-tab" data-toggle="pill" href="#v-pills-panel" role="tab"
                            aria-controls="v-pills-panel" aria-selected="true" title="Panel">
                            <span class="text-uppercase">panel</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav" id="v-pills-cotizacion-tab" data-toggle="pill" href="#v-pills-cotizacion" role="tab"
                            aria-controls="v-pills-cotizacion" aria-selected="false" title="Cotización">
                            <span class="text-uppercase">cotización</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav justify-items-center" id="v-pills-envios-tab" data-toggle="pill" href="#v-pills-envios" role="tab"
                            aria-controls="v-pills-envios" aria-selected="false" title="Envíos">
                            <span class="text-uppercase">envíos</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav" id="v-pills-rastreo-tab" data-toggle="pill" href="#v-pills-rastreo" role="tab"
                            aria-controls="v-pills-rastreo" aria-selected="false" title="Rastreo">
                            <span class="text-uppercase">rastreo</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav" id="v-pills-historial-tab" data-toggle="pill" href="#v-pills-historial" role="tab"
                            aria-controls="v-pills-historial" aria-selected="false" title="Historial">
                            <span class="text-uppercase">historial</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav" id="v-pills-configuracion-tab" data-toggle="pill" href="#v-pills-configuracion" role="tab"
                            aria-controls="v-pills-configuracion" aria-selected="false" title="Configuración">
                            <span class="text-uppercase">configuración</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav d-flex" id="v-pills-ayuda-tab" data-toggle="pill" href="#v-pills-ayuda" role="tab"
                        aria-controls="v-pills-ayuda" aria-selected="false" style="z-index: 2;" title="Ayuda">
                            <!-- <img src="./img/help_outline-24px.svg" alt="Ayuda"> -->
                            <span class="text-uppercase">ayuda</span>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Sección Central -->
            <div class="col-9 mt-3">
               {{{body}}}
            
            
            
            </div>
        </div>
    </div>