<!-- footer --> 
    <div class="row col-md-12 footer-panel">
        <div class="col-md-4 centrar left-footer">
            <span class="title-footer">SERVICIO DE ATENCIÓN AL CLIENTE</span>
            <p class="parrafo-footer">Centro de Ayuda</p>

            <h5 style="font-weight:bold;">MÉTODOS DE PAGOS</h5>
            <div class="pagos-metodos">
                <img src="/img/web_elements/mastercard.svg" alt="">
                <img src="/img/web_elements/visa.svg" alt="">
                <img src="/img/web_elements/stripe-panel.svg" alt="">
                <img src="/img/web_elements/paypal-panel.svg" alt="">
            </div>
        </div>

        <div class="col-md-4 centrar">
            <span class="title-footer">INFORMACION DE LA EMPRESA</span>
            <p class="parrafo-footer">¿Quienes somos?</p>

            <p class="parrafo-footer">Contactanos</p>

            <div class="pagos-metodos">
                <img src="/img/web_elements/instagram.svg" alt="">
                <img src="/img/web_elements/facebook-panel.svg" alt="">
                <img src="/img/web_elements/twitter-panel.svg" alt="">                
            </div>
        </div>

        <div class="col-md-4 centrar">
            <img src="/img/logos/wikienvios_logotipo_grisoscuro-04.png" alt="" style="width: 100%;">
        </div>
    </div>
    <br><br><br>
<!-- end footer -->   

