<!DOCTYPE html>
<html lang="es">
<head>
    <title>Wikienvíos - {{title}}</title>
    <meta charset="UTF-8">
    <meta property="og:type" content="website" />
    <meta name="description" content="Wikienvíos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Servicio para envío de paqueterías" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/ico" href="/img/logos/wikienvios_logotipo_PNG-01.png">  

    <!-- styles CSS -->
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="/css/Chart.min.css">
    <link rel="stylesheet" href="/css/inicioSesion.css">
    <link rel="stylesheet" href="/css/estiloNav.css">
    <link rel="stylesheet" href="/css/envios.css">
    <link rel="stylesheet" href="/css/estiloResponsive.css">
    <link rel="stylesheet" href="/css/jquery.typeahead.css">
    <link rel="stylesheet" href="/css/spinner.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/querysMobile.css">

</head>
<body>

<!-- spinner de carga -->
<div class="caja-loader" id="spinner">
    <div class="loader"></div>
</div>
