<!-- Panel Superior -->
    <header class="barraHeader container-fluid">
        <div class="col-lg-3 d-inline-flex p-2 justify-content-center align-items-center ml-3">
            <img id="logoWikienvios" src="/img/logos/wikienvios_logotipo_blanco-04-04.png" width="80%" alt="Wikienvíos">
        </div>
        <div class="col-lg-6 d-flex p-2 justify-content-center align-items-center bienvenidoHeader">
            <span>&iexcl;bienvenido!</span><span class="usuarioHeader ml-3">{{user}}</span>
        </div>
        <div class="col-lg-3 d-flex p-2 justify-content-center align-self-center perfil-cotizacion">
            <img src="/img/perfil_cotizacion.svg" class="col-md-7" alt="" data-toggle="modal" data-target="#perfil">
        </div>
    </header>

    <!-- Contenido Central -->
    <div class="container-fluid mt-3 mb-3">
        <div class="row container-fluid">
            <!-- Panel lateral -->
            <div class="col-md-3" id="botonesPanel">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{panel}}" href="/dashboard" title="Panel">
                            <span class="text-uppercase">panel</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{cotizacion}}" href="/dashboard/cotizacion" title="Cotización">
                            <span class="text-uppercase">cotización</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{envios}}" href="/dashboard/envios" title="Envíos">
                            <span class="text-uppercase">envíos</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{rastreo}}" href="/dashboard/rastreo" title="Rastreo">
                            <span class="text-uppercase">rastreo</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{historial}}" href="/dashboard/historial" title="Historial">
                            <span class="text-uppercase">historial</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{directorio}}" href="/dashboard/directorio" title="Directorio">
                            <span class="text-uppercase">directorio</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{configuracion}}" href="/dashboard/config" title="Configuración">
                            <span class="text-uppercase">configuración</span>
                        </a>
                    </div>

                    <div class="d-flex justify-content-center align-items-center">
                        <a class="itemNav{{ayuda}} d-flex" id="v-pills-ayuda-tab" data-toggle="pill" 
                            href="#v-pills-ayuda" role="tab" aria-controls="v-pills-ayuda" aria-selected="false" style="z-index: 2;"
                            title="Ayuda">
                            <img src="/img/help_outline-24px.svg" class="ayuda" alt="Ayuda">
                            <span class="text-uppercase">ayuda</span>
                        </a>
                    </div>
                </div>
            </div>