
<!-- include scripts -->
<script src="/js/all.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/jquery.typeahead.js"></script>
<script src="/js/datepicker.js"></script>
<script src="/js/Chart.min.js"></script>
<script src="/js/funciones.js"></script>
<script src="{{importScript}}"></script>
<script src="/js/main.js"></script>