<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Donation Completed</title>
</head>

<body class="bg-gray-900">
    <nav class="bg-purple-900 h-20 flex justify-center">
        <h1 class="text-white text-5xl">Realizacion de pago Stripe</h1>
    </nav>
    <div class="flex flex-col items-center mt-32 text-white text-2xl">
        <p>¡Pago exitoso!</p>
        <p>Su pago se ha realizado de forma exitosa.</p>
        <a href="/compra-stripe-prueba"><button class="bg-blue-700 rounded p-4 mt-3">Volver al pago</button></a>
    </div>
</body>

</html>