<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/estilos-stripe.css" rel="stylesheet">
    <title>Donation App</title>
</head>

<body class="bg-gray-900">
    <nav class="bg-purple-900 h-20 flex justify-center">
        <h1 class="text-white text-5xl">Realizacion de pago Stripe</h1>
    </nav>

    <div class="flex justify-center mt-32">
        <form action="/comprar-stripe" method="POST" class="flex flex-col w-1/3">
            <input class="bg-transparent text-white p-2 h-10 mb-4" type="text" name="name" placeholder="Nombre">
            <input type="email" class="bg-transparent text-white p-2 h-10 mb-4" name="email" placeholder="Correo electrónico">
            <input class="bg-transparent text-white p-2 h-10 mb-4" type="text" name="amount" placeholder="Monto">

            <div id="card-element" class="bg-transparent text-white p-2 h-10 mb-4"></div>
            <div id="card-errors" role="alert"></div>
            <button class="text-white bg-purple-900 p-4 rounded">Realizar pago</button>
        </form>
    </div>
</body>

<script src="js/stripe.js"></script>
<script src="prueba-stripe/stripe.js"></script>

</html>