<!DOCTYPE html>
<html>

<head>
    <title> Integración de PayPal a Wikienvíos </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="prueba-paypal/app.css">
</head>

<body>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="main">
                <div class="row padder">
                    <div class="col-md-3 cover">
                        <img src="prueba-paypal/cover.png" class="img img-responsive" alt="book"> </img>
                    </div>
                    <div class="col-md-9">
                        <h2 style="color: #00BDB7;">
                            ¡Felicidades!
                            <hr>
                            Pago realizado satisfactoriamente.
                        </h2>
                        <hr>
                        <a href="/compra-paypal-prueba">
                            <button class="btn btn-warning btn-lg"> Volver al pago </button>
                        </a>
                        </a>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2">
        </div>



</body>

</html>