<!DOCTYPE html>
<html>

<head>
    <title> Integración de PayPal a Wikienvíos </title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="prueba-paypal/app.css">
</head>

<body>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="main">
                <div class="row padder">
                    <div class="col-md-3 cover">
                        <img src="prueba-paypal/cover.png" class="img img-responsive" alt="book"> </img>
                    </div>
                    <div class="col-md-9">
                        <h2> Realización de pago mediante PayPal </h2>
                        <hr>
                        <b> Descripción: </b> Prueba del método para la realización de pagos mediante PayPal.
                        <hr>
                        {{!-- <div class="col-md-7">
                            <h4> Monto a pagar (o recargar):</h4>
                        </div> --}}
                        {{!-- <div class="col-md-2"><input placeholder="hola"></input></div> --}}
                        {{!-- <div class="input-group md-9"> --}}
                        <form action="/comprar-paypal" method="post">
                            <div class="input-group">
                                <span class="input-group-addon">Monto a pagar: $</span>
                                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)"
                                    placeholder="Monto a pagar en dólares ($)" name="monto">
                                <span class="input-group-addon">.00</span>
                            </div>
                            <hr>
                            {{!-- </div> --}}
                            {{!-- <a href="/comprar-paypal"> --}}
                            <button type="submit" class="btn btn-warning btn-lg"> Realizar el pago </button>
                            {{!-- </a> --}}
                        </form>

                    </div>

                </div>
            </div>
            <div class="col-md-2">
            </div>


            <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

            {{!-- <script type="text/javascript" src="prueba-paypal/app.js"></script> --}}
</body>

</html>