{{> header title="Configuracion"}}

    {{> menu configuracion="Active" user="Eduardo Macías"}}

        <!-- Sección Central -->
            <div class="col-md-9" id="seccionCentral">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-panel" role="tabpanel" aria-labelledby="v-pills-panel-tab">
                        <div class="container-fluid">
                            <div class="row" style="margin-top: 1.2rem;">
                                <!-- Titulo Amarillo -->
                                <div class="col-11 col-md-11 col-sm-12 tituloAmarilloCotizacion">
                                    <span>CONFIGURACIÓN</span>
                                </div>
                            </div>

                            <!-- Recuadro Gris -->
                            <div class="row">
                                <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                    <!-- Detalle de Cotización -->
                                    <div class="row recuadroCentralCotizacion">
                                        <div class="container" style="background: #F5F5F4 0% 0% no-repeat padding-box; max-width: 100%;">
                                            <h1 class="titulo-lista-envios">INTEGRACIONES</h1>
                                            <!-- configuraciones item-->
                                            <div class="row col-md-11 configuraciones-caja">
                                                <div class="col-md-3 centrar">
                                                    <img src="/img/logos/magento.svg" class="col-md-12" alt="">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">SHOP DOMAIN</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="SHOP DOMAIN">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">USUARIO</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="USUARIO">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">CONTRASEÑA</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="CONTRASEÑA">
                                                </div>
                                            </div>
                                            <div class="col-md-3 centrar right mr-5 button-amarillo">
                                                <img src="/img/web_elements/configuracion-integrar.svg" alt="">
                                                <span>INTEGRAR</span>
                                            </div>
                                            <div class="clear"></div>
                                            <!-- end configuraciones item-->

                                            <!-- configuraciones item-->
                                            <div class="row col-md-11 configuraciones-caja">
                                                <div class="col-md-3 centrar">
                                                    <img src="/img/logos/woocommerce.svg" class="col-md-12" alt="">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">SHOP DOMAIN</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="SHOP DOMAIN">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">USUARIO</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="USUARIO">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">CONTRASEÑA</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="CONTRASEÑA">
                                                </div>
                                            </div>
                                            <div class="col-md-3 centrar right mr-5 button-amarillo">
                                                <img src="/img/web_elements/configuracion-integrar.svg" alt="">
                                                <span>INTEGRAR</span>
                                            </div>
                                            <div class="clear"></div>
                                            <!-- end configuraciones item-->

                                            <!-- configuraciones item-->
                                            <div class="row col-md-11 configuraciones-caja">
                                                <div class="col-md-3 centrar">
                                                    <img src="/img/logos/shopify.svg" class="col-md-12" alt="">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">SHOP DOMAIN</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="SHOP DOMAIN">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">USUARIO</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="USUARIO">
                                                </div>

                                                <div class="col-md-3">
                                                    <label for="">CONTRASEÑA</label>
                                                    <input type="text"  class="form-control foco-yellow" placeholder="CONTRASEÑA">
                                                </div>
                                            </div>
                                            <div class="col-md-3 centrar right mr-5 button-amarillo">
                                                <img src="/img/web_elements/configuracion-integrar.svg" alt="">
                                                <span>INTEGRAR</span>
                                            </div>
                                            <div class="clear"></div>
                                            <!-- end configuraciones item-->
                                            <br><br>
                                        </div>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>



    <!-- modal perfil -->
    <div class="modal fade" id="perfil">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">PERFIL</p>
                    </div>
                    
                    <div class="row col-md-12 div-form">
                        <label for="">NOMBRE (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">APELLIDO (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                    </div>

                    <div class="row col-md-12 sin-padding">
                        <div class="row col-md-6 div-form">
                            <label for="">RFC</label>
                            <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                        </div>
                        <div class="row col-md-6 div-form">
                            <label for="">TELEFÓNO</label>
                            <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                        </div>
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">EMAIL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">RAZÓN SOCIAL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <div class="row col-md-7 sin-padding total">
                            <strong class="centrar">TUS PUNTOS</strong>
                            <span class="centrar">100</span>
                            <small>pts</small>
                        </div>
                        <div class="col-md-4 sin-padding centrar canjear-puntos">
                            <img src="/img/web_elements/canjear-puntos.svg" alt="">
                            <span>CANJEAR PUNTOS</span>
                        </div>
                    </div>
                    <br><br>

                    <div class="row text-center">
                        <div class="col-md-5">
                            <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                        </div>

                        <div class="col-md-5" id="in">
                            <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal-perfil -->
 
 
{{> footer }}

{{> scripts }}
