{{> header title="Cotización"}}

    {{> menu cotizacion="Active" user="Eduardo Macías"}}

            <!-- Sección Central -->
            <div class="col-md-9" id="seccionCentral">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-panel" role="tabpanel" aria-labelledby="v-pills-panel-tab">
                        <div class="container-fluid">
                            <!-- Titulo Amarillo -->
                            <div class="row" style="margin-top: 1.2rem;">
                                <div class="col-11 col-md-11 col-sm-12 tituloAmarilloCotizacion">
                                    <span>COTIZACIÓN</span>
                                </div>
                            </div>

                            <!-- Recuadro Gris -->
                            <div class="row">
                                <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                    <!-- Detalle de Cotización -->
                                    <div class="row recuadroCentralCotizacion">
                                        <div class="container">

                                            <div class="row" id="errorCotizacion"></div>
                                            <!-- Tipo de Envío -->
                                            <div class="col-md-12 cuadroEnvio">
                                                <div class="col-md-6 espacioBlancoEnvios">
                                                    <label for="" class="labelCheck col-md-4">TIPO DE ENVIO</label>
                                                    <div class="custom-control col-md-4">
                                                        <input type="radio" class="custom-control-input" id="Check1" name="tipo" value="2">
                                                        <label class="custom-control-label" for="Check1">DOCUMENTO</label>
                                                    </div>

                                                    <div class="custom-control col-md-3">
                                                        <input type="radio" class="custom-control-input" id="Check2" name="tipo" value="1" checked> 
                                                        <label class="custom-control-label" for="Check2">PAQUETE</label>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Origen / Destino -->
                                            <div class="row">
                                                <div class="col-md-5 labelOrigen">
                                                    <span class="col-md-12">ORIGEN (DESDE)</span>
                                                    <div class="row component">
                                                        <label for="codigoPostalOrigen" class="col-md-4 textLabel">CÓDIGO POSTAL</label>
                                                        <input type="text" id="codigoPostalOrigen" class="col-md-8 inputOrigen form-control" minlength="5" value="9682">
                                                    </div>
                                                </div>

                                                <div class="col-md-5 labelOrigen">
                                                    <span class="col-md-12">DESTINO (HACIA)</span>
                                                    <div class="row component">
                                                        <label for="codigoPostalDestino" class="col-md-4 textLabel">CÓDIGO POSTAL</label>
                                                        <input type="text" id="codigoPostalDestino" class="col-md-8 inputOrigen form-control" value="10728">
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- dimensiones de paquete -->
                                            <div class="row dimensiones">
                                                <div class="col-md-12 dimensiones-title">DIMENSIONES DEL PAQUETE (S)</div>
                                                <div class="col-md-2 packages">
                                                    <div class="custom-textinput p-2">
                                                        <div class="textinput-title">NÚMERO DE PIEZAS</div>
                                                        <input type="text" class="form-control dimensions" id="cantidad" value="0">
                                                        <div class="textinput-sub">piezas</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 packages">
                                                    <div class="custom-textinput p-2">
                                                        <div class="textinput-title">LARGO</div>
                                                        <input type="text" class="form-control dimensions" id="largo" value="0">
                                                        <div class="textinput-sub">cm</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 packages">
                                                    <div class="custom-textinput p-2">
                                                        <div class="textinput-title">ANCHO</div>
                                                        <input type="text" class="form-control dimensions" id="ancho" value="0">
                                                        <div class="textinput-sub">cm</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 packages">
                                                    <div class="custom-textinput p-2">
                                                        <div class="textinput-title">ALTO</div>
                                                        <input type="text" class="form-control dimensions" id="alto" value="0">
                                                        <div class="textinput-sub">cm</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 packages">
                                                    <div class="custom-textinput p-2">
                                                        <div class="textinput-title">PESO</div>
                                                        <input type="text" class="form-control dimensions" id="peso" value="0">
                                                        <div class="textinput-sub">kg</div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1 pack-img">
                                                    <img src="/img/web_elements/clean.svg" class="package-img" id="barrer">
                                                </div>  

                                                <div class="row col-md-12 dimensiones-total">
                                                    <img id="agregarPaqueteCotizacion" src="/img/agregar_paquete.svg" class="col-md-3" alt="agregar-paquete" style="height: 1.5rem;">
                                                    <div class="col-md-4"></div>
                                                    <div class="row col-md-5" style="padding-right: 0px;">
                                                        <div class="col-md-4 textLabel">SUB TOTAL</div>
                                                        <div class="col-md-8 text-center total-resultado" ><span id="subtotalCotizacion"> </span></div>
                                                    </div>
                                                </div>   

                                                <div class="row centrar" id="lista-paquetes">
                                                    <!-- traer datos del listado objeto -->
                                                </div>
                                            </div>
                                            <!-- end dimensiones paquete -->
                                              
                                            

                                            <!--footer formulario-->
                                            <div class="row col-md-12 footer-formulario-cotizacion">
                                                <div class="col-md-3 origen-footer">
                                                    <strong>ORIGEN (DESDE):</strong> <br> 
                                                    45019 - Col. Sola - Zapopan (JA) <br>
                                                    <strong>DESTINO (HACIA):</strong> <br>
                                                    43630 - Col. Vicente Guerrero - Tulancingo (HI)
                                                </div>
                                                <div class="col-md-3">
                                                    <br>
                                                    <strong>
                                                        TIPO: PAQUETE <br>
                                                        N° PAQUETES: 1 <small class="uno">(UNO)</small> 
                                                    </strong>
                                                </div>
                                                <div class="col-md-3 total-footer">
                                                    <span class="title-total-footer">TOTAL</span><br>
                                                    <span class="total-number-footer" id="totalCotizacion"></span>
                                                    <!-- aqui va moneda pero desde el ajax-->
                                                </div>
                                                <div class="col-md-3">
                                                    <img src="/img/enviar_paquete.svg" alt="" class="col-md-12" id="btnCotizacion">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- modal perfil -->
    <div class="modal fade" id="perfil">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">PERFIL</p>
                    </div>
                    
                    <div class="row col-md-12 div-form">
                        <label for="">NOMBRE (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">APELLIDO (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                    </div>

                    <div class="row col-md-12 sin-padding">
                        <div class="row col-md-6 div-form">
                            <label for="">RFC</label>
                            <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                        </div>
                        <div class="row col-md-6 div-form">
                            <label for="">TELEFÓNO</label>
                            <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                        </div>
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">EMAIL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">RAZÓN SOCIAL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <div class="row col-md-7 sin-padding total">
                            <strong class="centrar">TUS PUNTOS</strong>
                            <span class="centrar">100</span>
                            <small>pts</small>
                        </div>
                        <div class="col-md-4 sin-padding centrar canjear-puntos">
                            <img src="/img/web_elements/canjear-puntos.svg" alt="">
                            <span>CANJEAR PUNTOS</span>
                        </div>
                    </div>
                    <br><br>

                    <div class="row text-center">
                        <div class="col-md-5">
                            <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                        </div>

                        <div class="col-md-5" id="in">
                            <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal-perfil -->


{{> footer }}


{{> scripts }}


<script>   

        /* zipcode origen 
        $.typeahead({
            input: '.js-typeahead-zipcode_v1',
            minLength: 5,
            order: "asc",
            delay: 300,
            debug: false,
            backdrop: {
		        "opacity": 0.15,
		        "filter": "alpha(opacity=15)",
		        "background-color": "#b9d7ff"
		    },
            template: function (query, item) {
                var color = "#777";
                return '<span class="">' +
                    '<span class="">'+item.codigoPostal+', <small style="color: ' + color + ';"><b>'+item.nombreColonia+'</b></small></span>' +
                    "</span>"
	    	},
            emptyTemplate: 'No se encontraron resultados',
            display: ['codigoPostal'],
            source: {
                display: "codigoPostal",
                ajax: function (query) {
                    return {
                        type: "POST",
                        url: "http://localhost:3000/obtener-codigo-postal",
                        data: { codigoPostal: query },
                    }
                } 
            },
            callback: {
                onClick: function (node, a, item, event) {
                    //alert(JSON.stringify(item));
                    $("#state").val(item.estado);
    	 			$("#city").val(item.ciudad);
    	 			$("#township").val(item.municipio);
                    $("#zipcode_origen").val(item.idCodigoPostal);
                },
                onSendRequest: function (node, query) {
                    //console.log('request is sent')
                },
                onReceiveRequest: function (node, query ) {
                    //console.log('request is received', node)
                },
                onCancel (node, event){
                    $("#state").val("");
    	 			$("#city").val("");
    	 			$("#township").val("");
                    $("#zipcode_origen").val("");
                }
            },
        });

        /* zipcode destino 
        $.typeahead({
            input: '.js-typeahead-zipcode_v2',
            minLength: 5,
            order: "asc",
            delay: 300,
            debug: false,
            backdrop: {
		        "opacity": 0.15,
		        "filter": "alpha(opacity=15)",
		        "background-color": "#b9d7ff"
		    },
            template: function (query, item) {
                var color = "#777";
                return '<span class="">' +
                    '<span class="">'+item.codigoPostal+', <small style="color: ' + color + ';"><b>'+item.nombreColonia+'</b></small></span>' +
                    "</span>"
	    	},
            emptyTemplate: 'No se encontraron resultados',
            display: ['codigoPostal'],
            source: {
                display: "codigoPostal",
                ajax: function (query) {
                    return {
                        type: "POST",
                        url: "http://localhost:3000/obtener-codigo-postal",
                        data: { codigoPostal: query },
                    }
                } 
            },
            callback: {
                onClick: function (node, a, item, event) {
                    //alert(JSON.stringify(item));
                    $("#state1").val(item.estado);
    	 			$("#city1").val(item.ciudad);
    	 			$("#township1").val(item.municipio);
                    $("#zipcode_destino").val(item.idCodigoPostal);
                },
                onSendRequest: function (node, query) {
                    //console.log('request is sent')
                },
                onReceiveRequest: function (node, query ) {
                    //console.log('request is received', node)
                },
                onCancel (node, event){
                    $("#state1").val("");
    	 			$("#city1").val("");
    	 			$("#township1").val("");
                    $("#zipcode_destino").val();
                }
            },
        });

    }); */
</script> 