{{> header title="Directorio"}}

    {{> menu directorio="Active" user="Eduardo Macías"}}

            <!-- Sección Central -->
            <div class="col-md-9" id="seccionCentral">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-panel" role="tabpanel" aria-labelledby="v-pills-panel-tab">
                        <div class="container-fluid">
                            <!-- Titulo Amarillo -->
                            <div class="row" style="margin-top: 1.2rem;">
                                <div class="col-11 col-md-11 col-sm-12 tituloAmarilloCotizacion">
                                    <span>DIRECTORIO</span>
                                </div>
                            </div>

                            <!-- Recuadro Gris -->
                            <div class="row">
                                <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                    <!-- Detalle de historial -->
                                    <div class="row recuadroCentralCotizacion" style="background: white;">
                                        <div class="row col-md-12 content-history">
                                        <!-- contenido -->
                                            <div class="col-md-12 title-blue">LIBRETA DE DIRECCIONES - ORíGEN</div>
                                            
                                            <div class="row col-md-12 buscador-directorio">                                              
                                                <input type="text" class="form-control col-md-7 inputcolor foco-yellow" 
                                                    placeholder="CÓDIGO POSTAL, ESTADO, CIUDAD, MUNICIPIO O DELEGACIÓN, CALLE Y NÚMERO">
                                                <img src="/img/web_elements/buscador-directorio.svg" class="col-md-3 left" alt="">
                                            </div>

                                            <table class="table-responsive labels-table-rastreo">
                                                <thead>
                                                    <tr>
                                                        <th><div>CÓDIGO POSTAL</div></th>
                                                        <th><div>ESTADO</div></th>
                                                        <th><div>CIUDAD</div></th>
                                                        <th><div>MUNICIPIO O DELEGACIÓN</div></th>
                                                        <th><div>CALLE Y NÚMERO</div></th>
                                                        <th><img src="/img/web_elements/black-eye.svg" alt=""></th>
                                                    </tr>                                                    
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/blue-eye.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="col-md-11" style="margin-bottom: 2rem;">
                                                <a href="#libreta-nueva-origen" data-toggle="modal" class="boton-amarillo col-md-4 text-center right centrar">
                                                    <img src="/img/ico/ico_plus.svg">
                                                    <span class="align-middle">AGREGAR A LIBRETA DE DIRECCIONES</span>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end recuadro gris-->


                            <!-- Recuadro Gris -->
                            <div class="row" style="margin-top: 1.5rem;">
                                <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                    <!-- Detalle de historial -->
                                    <div class="row recuadroCentralCotizacion" style="background: white;">
                                        <div class="row col-md-12 content-history">
                                        <!-- contenido -->
                                            <div class="col-md-12 title-blue">LIBRETA DE DIRECIONES - DESTINO</div>
                                            
                                            <div class="row col-md-12 buscador-directorio">                                              
                                                <input type="text" class="form-control col-md-7 inputcolor foco-yellow" 
                                                    placeholder="CÓDIGO POSTAL, ESTADO, CIUDAD, NOMBRE Y APELLIDO">
                                                <img src="/img/web_elements/buscador-directorio.svg" class="col-md-3 left" alt="">
                                            </div>

                                            <table class="table-responsive labels-table-rastreo">
                                                <thead>
                                                    <tr>
                                                        <th><div>CÓDIGO POSTAL</div></th>
                                                        <th><div>ESTADO</div></th>
                                                        <th><div>CIUDAD</div></th>
                                                        <th><div>MUNICIPIO O DELEGACIÓN</div></th>
                                                        <th><div>CALLE Y NÚMERO</div></th>
                                                        <th><img src="/img/web_elements/black-eye.svg" alt=""></th>
                                                    </tr>                                                    
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/blue-eye.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>43645</td>
                                                        <td>Hidalgo</td>
                                                        <td>Tulancingo de Bravo</td>
                                                        <td>Huapalcalcoda</td>
                                                        <td>Calle 2</td>
                                                        <td><img src="/img/web_elements/eye-black-opacity.svg" alt=""></td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <div class="col-md-11" style="margin-bottom: 2rem;">
                                                <a href="#libreta-nueva-destino" data-toggle="modal" class="boton-amarillo col-md-4 text-center right centrar">
                                                    <img src="/img/ico/ico_plus.svg">
                                                    <span class="align-middle">AGREGAR A LIBRETA DE DIRECCIONES</span>
                                                </a>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end recuadro gris-->

                        </div>
                    </div>
                </div>
            </div>
            <!-- end seccion central -->
        
        </div>
    </div>



    <!--nueva direccion origen modal -->
    <div class="modal fade" id="libreta-nueva-origen">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">NUEVA DIRECCIÓN - ORíGEN</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">NOMBRE (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="NOMBRE (S) DEL REMITENTE">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">APELLIDOS (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="APELLIDO (S) DEL REMITENTE">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">RFC
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RFC">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">RAZÓN SOCIAL 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RAZÓN SOCIAL ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO">
                        </div>

                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO 2 (OPCIONAL)">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">CORREO ELECTRÓNICO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CORREO ELECTRÓNICO">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="parrafo">CÓDIGO POSTAL
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CÓDIGO POSTAL">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">ESTADO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="ESTADO">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">CIUDAD
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CIUDAD">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">MUNICIPIO O DELEGACIÓN
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="MUNICIPIO O DELEGACIÓN">
                        </div>

                        <div class="col-md-9">
                            <label for="" class="parrafo">CALLE Y NÚMERO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CALLE Y NÚMERO *">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="parrafo">DIRECCIÓN LINEA 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="INTERIOR, COLONIA, ETC. (OPCIONAL)">
                        </div>
                    </div>
                    <span class="col-md-12 mensaje-rojo-obligatorio">* TODOS LOS CAMPOS MARCADOS, SON OBLIGATORIOS</span>
                    
                    <br><br>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar">GUARDAR</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- end nueva direccion origen-->


    <!--nueva direccion destino modal -->
    <div class="modal fade" id="libreta-nueva-destino">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">NUEVA DIRECCIÓN - DESTINO</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">NOMBRE (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="NOMBRE (S) DEL REMITENTE">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">APELLIDOS (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="APELLIDO (S) DEL REMITENTE">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">RFC
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RFC">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">RAZÓN SOCIAL 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RAZÓN SOCIAL ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO">
                        </div>

                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO 2 (OPCIONAL)">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">CORREO ELECTRÓNICO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CORREO ELECTRÓNICO">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="parrafo">CÓDIGO POSTAL
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CÓDIGO POSTAL">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">ESTADO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="ESTADO">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">CIUDAD
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CIUDAD">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">MUNICIPIO O DELEGACIÓN
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="MUNICIPIO O DELEGACIÓN">
                        </div>

                        <div class="col-md-9">
                            <label for="" class="parrafo">CALLE Y NÚMERO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CALLE Y NÚMERO *">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="parrafo">DIRECCIÓN LINEA 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="INTERIOR, COLONIA, ETC. (OPCIONAL)">
                        </div>
                    </div>
                    <span class="col-md-12 mensaje-rojo-obligatorio">* TODOS LOS CAMPOS MARCADOS, SON OBLIGATORIOS</span>
                    
                    <br><br>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar">GUARDAR</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- end nueva direccion destino-->



    <!-- modal perfil -->
    <div class="modal fade" id="perfil">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">PERFIL</p>
                    </div>
                    
                    <div class="row col-md-12 div-form">
                        <label for="">NOMBRE (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">APELLIDO (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                    </div>

                    <div class="row col-md-12 sin-padding">
                        <div class="row col-md-6 div-form">
                            <label for="">RFC</label>
                            <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                        </div>
                        <div class="row col-md-6 div-form">
                            <label for="">TELEFÓNO</label>
                            <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                        </div>
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">EMAIL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">RAZÓN SOCIAL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <div class="row col-md-7 sin-padding total">
                            <strong class="centrar">TUS PUNTOS</strong>
                            <span class="centrar">100</span>
                            <small>pts</small>
                        </div>
                        <div class="col-md-4 sin-padding centrar canjear-puntos">
                            <img src="/img/web_elements/canjear-puntos.svg" alt="">
                            <span>CANJEAR PUNTOS</span>
                        </div>
                    </div>
                    <br><br>

                    <div class="row text-center">
                        <div class="col-md-5">
                            <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                        </div>

                        <div class="col-md-5" id="in">
                            <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal-perfil -->


{{> footer }}

{{> scripts }}