
{{> header title="Envios"}}

    {{> menu envios="Active" user="Eduardo Macías"}}
               
            <!-- Sección Central -->
            <div class="col-md-9" id="seccionCentral">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-panel" role="tabpanel" aria-labelledby="v-pills-panel-tab">
                        <div class="container-fluid">
                            <!-- Titulo Amarillo -->
                            <div class="row" style="margin-top: 1.2rem;">
                                <div class="col-11 col-md-11 col-sm-12 tituloAmarilloCotizacion">
                                    <span>ENVÍOS</span>
                                </div>
                            </div>                         
 
                                <!-- Recuadro Gris -->
                                <div class="row">
                                    <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                        <!-- Detalle de Cotización -->
                                        <div class="row recuadroCentralCotizacion">
                                            <div class="container" style="background: #F5F5F4 0% 0% no-repeat padding-box; max-width: 100%;">
                                                <h1 class="titulo-lista-envios">ORIGEN (DESDE)</h1>

                                                <!-- formulario -->
                                                <div class="form-envios">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 required">
                                                            <label for="names1" class="labelForm">NOMBRES (S) DEL REMITENTE</label>
                                                            <input type="text" class="form-control" id="names1" placeholder="NOMBRES (S) DEL REMITENTE">
                                                        </div>
                                                        <div class="form-group col-md-6 required">
                                                            <label for="lastnames1" class="labelForm">APELLIDOS (S) DEL REMITENTE</label>
                                                            <input type="text" class="form-control" id="lastnames1" placeholder="APELLIDOS (S) DEL REMITENTE">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="rfc" class="labelForm">RFC</label>
                                                            <input type="text" class="form-control" id="rfc1" placeholder="RFC">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="socialreason" class="labelForm required">RAZÓN SOCIAL</label>
                                                            <input type="text" class="form-control mr-4" id="socialreason1" placeholder="RAZÓN SOCIAL (OPCIONAL)">
                                                        </div>
                                                    </div>
                                            
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3 required">
                                                            <label for="phone3" class="labelForm">TELÉFONO</label>
                                                            <input type="text" class="form-control" id="phone3" placeholder="TELÉFONO">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                             <label for="phone4" class="labelForm">TELÉFONO 2</label>
                                                            <input type="text" class="form-control" id="phone4" placeholder="TELÉFONO 2 (OPCIONAL)">
                                                        </div>
                                                        <div class="form-group col-md-6 required">
                                                            <label for="email1" class="labelForm">CORREO ELECTRÓNICO</label>
                                                            <input type="text" class="form-control" id="email1" placeholder="CORREO ELECTRÓNICO">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="zipcode1" class="labelForm required">CÓDIGO POSTAL</label>
                                                            <div class="typeahead__container">
                                                                <div class="typeahead__field">
                                                                    <div class="typeahead__query">
                                                                        <input class="js-typeahead-zipcode_v2" id="codigoPostalOrigenEnvios" name="zipcode_v2[query]" placeholder="ESCRIBE CÓDIGO POSTAL" autocomplete="off" value="">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                             <input class="" type="hidden" id="zipcode_destino">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                             <label for="state1" class="labelForm">ESTADO</label>
                                                            <input type="text" class="form-control" id="state1" placeholder="ESTADO">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="city1" class="labelForm required">CIUDAD</label>
                                                            <input type="text" class="form-control" id="city1" placeholder="CIUDAD">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3 required">
                                                            <label for="township1" class="labelForm">MUNICIPIO O DELEGACIÓN</label>
                                                            <input type="text" class="form-control" id="township1" placeholder="MUNICIPIO O DELEGACIÓN">
                                                        </div>
                                                        <div class="form-group col-md-9 required">
                                                            <label for="street1" class="labelForm">CALLE Y NÚMERO</label>
                                                            <input type="text" class="form-control" id="street1" placeholder="CALLE Y NÚMERO">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="address1" class="labelForm required">DIRECCIÓN LINEA 2</label>
                                                        <input type="text" class="form-control" id="address1" placeholder="INTERIOR, COLONIA, ETC. (OPCIONAL)">
                                                    </div>
                                                    <div class="form-group">
                                                         <label class="invalid-warning">* TODOS LOS CAMPOS MARCADOS, SON OBLIGATORIOS</label>
                                                    </div>
                                                  
                                                    <div class="row buttons-envios"> 
                                                        <a href="#libreta-origen" data-toggle="modal"  class="boton-amarillo col-md-4 text-center centrar salto">
                                                            <img src="/img/ico/ico_book.svg">
                                                            <span class="align-middle">BUSCAR EN LIBRETA DE DIRECCIONES</span>
                                                        </a>
                                                        
                                                        <a href="#" class="boton-amarillo col-md-4 text-center centrar salto">
                                                            <img src="/img/ico/ico_plus.svg">
                                                            <span class="align-middle">AGREGAR A LIBRETA DE DIRECCIONES</span>
                                                        </a>
                                                        
                                                        <a href="#" class="button-green col-md-2 text-center centrar salto">
                                                            <span class="align-middle">ACEPTAR</span>
                                                        </a>
                                                    </div>           
                                                </div>
                                                <!-- end formulario -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end recuadro gris -->


                                <!-- Recuadro Gris -->
                                <div class="row">
                                    <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                        <!-- Detalle de Cotización -->
                                        <div class="row recuadroCentralCotizacion">
                                            <div class="container" style="background: #F5F5F4 0% 0% no-repeat padding-box; max-width: 100%;">
                                                <h1 class="titulo-lista-envios">DESTINO (ENVIA A)</h1>

                                                <!-- formulario -->
                                                <div class="form-envios">
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6 required">
                                                            <label for="names1" class="labelForm">NOMBRES (S) DEL DESTINATARIO</label>
                                                            <input type="text" class="form-control" id="names1" placeholder="NOMBRES (S) DEL REMITENTE">
                                                        </div>
                                                        <div class="form-group col-md-6 required">
                                                            <label for="lastnames1" class="labelForm">APELLIDOS (S) DEL DESTINATARIO</label>
                                                            <input type="text" class="form-control" id="lastnames1" placeholder="APELLIDOS (S) DEL REMITENTE">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-6">
                                                            <label for="rfc" class="labelForm">RFC</label>
                                                            <input type="text" class="form-control" id="rfc1" placeholder="RFC">
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label for="socialreason" class="labelForm required">RAZÓN SOCIAL</label>
                                                            <input type="text" class="form-control mr-4" id="socialreason1" placeholder="RAZÓN SOCIAL (OPCIONAL)">
                                                        </div>
                                                    </div>
                                                
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3 required">
                                                            <label for="phone3" class="labelForm">TELÉFONO</label>
                                                            <input type="text" class="form-control" id="phone3" placeholder="TELÉFONO">
                                                        </div>
                                                        <div class="form-group col-md-3">
                                                             <label for="phone4" class="labelForm">TELÉFONO 2</label>
                                                            <input type="text" class="form-control" id="phone4" placeholder="TELÉFONO 2 (OPCIONAL)">
                                                        </div>
                                                        <div class="form-group col-md-6 required">
                                                            <label for="email1" class="labelForm">CORREO ELECTRÓNICO</label>
                                                            <input type="text" class="form-control" id="email1" placeholder="CORREO ELECTRÓNICO">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-4">
                                                            <label for="zipcode1" class="labelForm required">CÓDIGO POSTAL</label>
                                                            <div class="typeahead__container">
                                                                <div class="typeahead__field">
                                                                    <div class="typeahead__query">
                                                                        <input class="js-typeahead-zipcode_v2" id="codigoPostalDestinoEnvios" name="zipcode_v2[query]" placeholder="ESCRIBE CÓDIGO POSTAL" autocomplete="off">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                             <input class="" type="hidden" id="zipcode_destino">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                             <label for="state1" class="labelForm">ESTADO</label>
                                                            <input type="text" class="form-control" id="state1" placeholder="ESTADO">
                                                        </div>
                                                        <div class="form-group col-md-4">
                                                            <label for="city1" class="labelForm required">CIUDAD</label>
                                                            <input type="text" class="form-control" id="city1" placeholder="CIUDAD">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="form-group col-md-3 required">
                                                            <label for="township1" class="labelForm">MUNICIPIO O DELEGACIÓN</label>
                                                            <input type="text" class="form-control" id="township1" placeholder="MUNICIPIO O DELEGACIÓN">
                                                        </div>
                                                        <div class="form-group col-md-9 required">
                                                            <label for="street1" class="labelForm">CALLE Y NÚMERO</label>
                                                            <input type="text" class="form-control" id="street1" placeholder="CALLE Y NÚMERO">
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="address1" class="labelForm required">DIRECCIÓN LINEA 2</label>
                                                        <input type="text" class="form-control" id="address1" placeholder="INTERIOR, COLONIA, ETC. (OPCIONAL)">
                                                    </div>
                                                    <div class="form-group">
                                                         <label class="invalid-warning">* TODOS LOS CAMPOS MARCADOS, SON OBLIGATORIOS</label>
                                                    </div>
                                                      
                                                    <div class="row buttons-envios"> 
                                                        <a href="#libreta-destino" data-toggle="modal"  class="boton-amarillo col-md-4 text-center centrar">
                                                            <img src="/img/ico/ico_book.svg">
                                                            <span class="align-middle">BUSCAR EN LIBRETA DE DIRECCIONES</span>
                                                        </a>
                                                        
                                                        <a href="#" class="boton-amarillo col-md-4 text-center centrar">
                                                            <img src="/img/ico/ico_plus.svg">
                                                            <span class="align-middle">AGREGAR A LIBRETA DE DIRECCIONES</span>
                                                        </a>
                                                        
                                                        <a href="#" class="button-green col-md-2 text-center centrar">
                                                            <span class="align-middle">ACEPTAR</span>
                                                        </a>
                                                    </div>      
                                                </div>
                                                <!-- end formulario -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end recuadro gris -->


                                <!-- Recuadro Gris -->
                                <div class="row">
                                    <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                        <!-- Detalle de Cotización -->
                                        <div class="row recuadroCentralCotizacion">
                                            <div class="container" style="background: #F5F5F4 0% 0% no-repeat padding-box; max-width: 100%;">
                                                <h1 class="titulo-lista-envios">DIMENSIONES DEL PAQUETE O SOBRE (S)</h1>

                                                <div class="form-envios form-dimensiones-envios">

                                                <!-- Tipo de Envío -->
                                                <div class="col-md-8 cuadroEnvio">
                                                    <div class="col-md-6 espacioBlancoEnvios">
                                                        <label for="" class="labelCheck col-md-4">TIPO DE ENVIO</label>
                                                        <div class="custom-control col-md-4">
                                                            <input type="radio" class="custom-control-input" id="Check1" name="tipo">
                                                            <label class="custom-control-label" for="Check1">DOCUMENTO</label>
                                                        </div>

                                                        <div class="custom-control col-md-3">
                                                            <input type="radio" class="custom-control-input" id="Check2" name="tipo">
                                                            <label class="custom-control-label" for="Check2">PAQUETE</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end tipo de envio -->

                                                <!-- dimensiones de paquete -->
                                                <div class="row dimensiones">
                                                    <div class="col-md-2 packages">
                                                        <div class="custom-textinput p-2">
                                                            <div class="textinput-title">NÚMERO DE PIEZAS</div>
                                                            <input type="text" class="form-control dimensions" id="pieces" value="0">
                                                            <div class="textinput-sub">piezas</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 packages">
                                                        <div class="custom-textinput p-2">
                                                            <div class="textinput-title">LARGO</div>
                                                            <input type="text" class="form-control dimensions" id="length" value="0">
                                                            <div class="textinput-sub">cm</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 packages">
                                                        <div class="custom-textinput p-2">
                                                            <div class="textinput-title">ANCHO</div>
                                                            <input type="text" class="form-control dimensions" id="width" value="0">
                                                            <div class="textinput-sub">cm</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 packages">
                                                        <div class="custom-textinput p-2">
                                                            <div class="textinput-title">ALTO</div>
                                                            <input type="text" class="form-control dimensions" id="heigth" value="0">
                                                            <div class="textinput-sub">cm</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2 packages">
                                                        <div class="custom-textinput p-2">
                                                            <div class="textinput-title">PESO</div>
                                                            <input type="text" class="form-control dimensions" id="weigth" value="0">
                                                            <div class="textinput-sub">kg</div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-1 pack-img">
                                                        <img src="/img/web_elements/clean.svg" class="package-img">
                                                    </div>
                                                
                                                    <div class="row col-md-12 description-envios">
                                                        <div class="row col-md-6">
                                                            <label for="" class="col-md-5 textLabel centrar">TIPO DE CONTENIDO</label>
                                                            <input type="text" class="centrar col-md-7 form-control inputOrigen" placeholder="COMPLETE LOS DATOS">
                                                        </div>

                                                        <div class="row col-md-6">
                                                            <label for="" class="col-md-5 textLabel centrar">COMPLETE LOS DATOS</label>
                                                            <input type="text" class="centrar col-md-7 form-control foco-yellow inputOrigen prueba" placeholder="COMPLETE LOS DATOS">
                                                        </div>
                                                    </div>

                                                    <div class="row col-md-12 dimensiones-total">
                                                        <img src="/img/agregar_paquete.svg" class="col-md-4 left" alt="agregar-paquete" style="height: 1.5rem;">
                                                        <div class="col-md-2"></div>
                                                        <div class="row col-md-6" style="padding-right: 0px;">
                                                            <div class="col-md-4 textLabel">SUB TOTAL</div>
                                                            <div class="col-md-8 text-center total-resultado">$ 300,25 <span>MX</span></div>
                                                        </div>
                                                    </div>    
                                                </div>
                                                <!-- end dimensiones paquete -->
                                                
                                                </div>
                                                <!-- end form envios -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end recuadro gris -->

                                <!-- boton siguiente -->
                                <br>
                                <center>
                                    <a href="#resumen-envio" data-toggle="modal" class="btn siguiente">SIGUIENTE</a>
                                </center>
                                <br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          

<!-- modal resumen de envio -->
<div class="modal fade" id="resumen-envio">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow row col-md-12">
                <img src="/img/web_elements/x-blue.svg" class="close-x" alt=""  data-dismiss="modal" aria-hidden="true">
                <!-- cuerpo del modal -->
                <img src="/img/web_elements/resumen-envios-img.svg" class="col-md-4" alt="">

                <!-- form resumen de envios -->
                <div class="col-md-8 form-resumen centrar" style="justify-content: end;">
                    <h1>RESUMEN DE ENVÍO</h1>
                    <div class="row">
                        <label for="" class="centrar">NOMBRE Y APELLIDO DEL REMITENTE</label>
                        <input type="text" class="form-control" value="NOMBRE Y APELLIDO DEL REMITENTE">
                    </div>

                    <div class="row">
                        <label for="" class="centrar">DIRECIÓN DEL ORIGEN</label>
                        <input type="text" class="form-control" value="DIRECIÓN DEL ORIGEN">
                    </div>

                    <div class="row">
                        <label for="" class="centrar">NOMBRE Y APELLIDO DEL DESTINATARIO</label>
                        <input type="text" class="form-control" value="NOMBRE Y APELLIDO DEL DESTINATARIO">
                    </div>

                    <div class="row">
                        <label for="" class="centrar">DIRECCIÓN DEL DESTINO</label>
                        <input type="text" class="form-control" value="DIRECCIÓN DEL DESTINO">
                    </div>

                    <hr class="pagos-separator">

                    <div class="row botones-resumen-envios">
                        <div class="row col-md-6" style="padding-left: 0px;">
                            <label for="" class="centrar">CANTIDAD DE PAQUETES O SOBRES</label>
                            <input type="text" class="foco-yellow" value="2 (DOS)">
                        </div>

                        <div class="row col-md-6" style="padding-right: 0px;">
                            <label for="" class="centrar" style="font-size: .7rem;">TIPO</label>
                            <input type="text" class="foco-yellow" value="PAQUETE, SOBRE O AMBOS">
                        </div>
                    </div>

                    <div class="row botones-resumen-envios-enviar">
                        <div class="row col-md-6" style="padding-left: 0px; padding-right: 0px;">
                            <div class="total left">TOTAL</div>
                            <span class="centrar">20.000,00</span> 
                            <small>MXN</small>
                        </div>

                        <img src="/img/enviar_paquete.svg" alt="" class="col-md-6"
                            data-dismiss="modal"
                            data-toggle="modal"
                            href="#modal-pagos"      
                        >
                    </div>

                    <div class="col-md-12" style="padding: 0px;">
                        <div class="col-md-4 right editar-envio centrar">
                            <img src="/img/web_elements/lapiz-blue.svg" class="left" alt="">
                            EDITAR ENVÍO
                        </div>
                    </div>
                    
                </div>
                <!-- end form resumen de envios -->
                
            </div>
        </div>
    </div>
</div>
<!--end guia de envios-->


<!-- modal direcciones - origen -->
<div class="modal fade" id="libreta-origen">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow">
                <!-- cuerpo del modal -->
                <div class="cuadro">
                    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="text-center pago">LIBRETA DE DIRECCIONES - ORíGEN</p>
                </div>

                <div class="row buscador-libreta">
                    <input type="text" class="col-md-7 foco-yellow inputcolor" placeholder="CÓDIGO POSTAL, ESTADO, CIUDAD, MUNICIPIO O DELEGACIÓN, CALLE Y NÚMERO">
                    <img src="/img/web_elements/buscador-libreta.svg"  alt="">
                </div>

                <table class="table-responsive labels-table-rastreo direccion-table">
                    <thead>
                        <tr>
                            <th><div>CÓDIGO POSTAL</div></th>
                            <th><div>ESTADO</div></th>
                            <th><div>CIUDAD</div></th>
                            <th><div>MUNICIPIO O DELEGACIÓN</div></th>
                            <th><div>CALLE Y NÚMERO</div></th>
                            <th><img src="/img/web_elements/plus-black.svg" alt=""></th>
                        </tr>                                                    
                    </thead>
                    <tbody>
                        <tr>
                            <td>43645</td>
                            <td>Hidalgo</td>
                            <td>Tulancingo de Bravo</td>
                            <td>Huapalcalcoda</td>
                            <td>Calle 2</td>
                            <td><img src="/img/web_elements/circle-green.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>43645</td>
                            <td>Hidalgo</td>
                            <td>Tulancingo de Bravo</td>
                            <td>Huapalcalcoda</td>
                            <td>Calle 2</td>
                            <td><img src="/img/web_elements/plus-opacity.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>43645</td>
                            <td>Hidalgo</td>
                            <td>Tulancingo de Bravo</td>
                            <td>Huapalcalcoda</td>
                            <td>Calle 2</td>
                            <td><img src="/img/web_elements/circle-opacity.svg" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <span class="col-md-12 mensaje-rojo">* Solo puede elegir una dirección para el ORIGEN de su envío</span>
                <br><br>
                <div class="row col-md-12 input-direccion-elegida">
                    <label for="direccion-elegida" class="col-md-3 bolita">DIRECCIÓN ELEGIDA</label>
                    <input type="text" id="direccion-elegida" class="col-md-9 form-control inputcolor foco-yellow"
                        value="43645, estado Hidalgo, cuidad Tulancingo, delegación Hupalcalcoda, calle 02">
                </div>

                <br>    
                <div class="col-md-12 text-center">
                    <button type="submit" class="guardar">ACEPTAR</button>
                </div>
            
            </div>
        </div>
    </div>
</div>
<!--end direcciones origen-->



<!-- modal direcciones - destino -->
<div class="modal fade" id="libreta-destino">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow">
                <!-- cuerpo del modal -->
                <div class="cuadro">
                    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="text-center pago">LIBRETA DE DIRECCIONES - DESTINO</p>
                </div>

                <div class="row buscador-libreta">
                    <input type="text" class="col-md-7 foco-yellow inputcolor" placeholder="CÓDIGO POSTAL, ESTADO, CIUDAD, MUNICIPIO O DELEGACIÓN, CALLE Y NÚMERO">
                    <img src="/img/web_elements/buscador-libreta.svg"  alt="">
                </div>

                <table class="table-responsive labels-table-rastreo direccion-table">
                    <thead>
                        <tr>
                            <th><div>CÓDIGO POSTAL</div></th>
                            <th><div>ESTADO</div></th>
                            <th><div>CIUDAD</div></th>
                            <th><div>MUNICIPIO O DELEGACIÓN</div></th>
                            <th><div>CALLE Y NÚMERO</div></th>
                            <th><img src="/img/web_elements/plus-black.svg" alt=""></th>
                        </tr>                                                    
                    </thead>
                    <tbody>
                        <tr>
                            <td>43645</td>
                            <td>Hidalgo</td>
                            <td>Tulancingo de Bravo</td>
                            <td>Huapalcalcoda</td>
                            <td>Calle 2</td>
                            <td><img src="/img/web_elements/circle-green.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>43645</td>
                            <td>Hidalgo</td>
                            <td>Tulancingo de Bravo</td>
                            <td>Huapalcalcoda</td>
                            <td>Calle 2</td>
                            <td><img src="/img/web_elements/plus-opacity.svg" alt=""></td>
                        </tr>

                        <tr>
                            <td>43645</td>
                            <td>Hidalgo</td>
                            <td>Tulancingo de Bravo</td>
                            <td>Huapalcalcoda</td>
                            <td>Calle 2</td>
                            <td><img src="/img/web_elements/circle-opacity.svg" alt=""></td>
                        </tr>
                    </tbody>
                </table>
                <span class="col-md-12 mensaje-rojo">* Solo puede elegir una dirección para el DESTINO de su envío</span>
                <br><br>
                <div class="row col-md-12 input-direccion-elegida">
                    <label for="direccion-elegida" class="col-md-3 bolita">DIRECCIÓN ELEGIDA</label>
                    <input type="text" id="direccion-elegida" class="col-md-9 form-control inputcolor foco-yellow"
                        value="43645, estado Hidalgo, cuidad Tulancingo, delegación Hupalcalcoda, calle 02">
                </div>

                <br>    
                <div class="col-md-12 text-center">
                    <button type="submit" class="guardar">ACEPTAR</button>
                </div>
            
            </div>
        </div>
    </div>
</div>
<!--end direcciones destino-->


<!-- modal de pagos -->
<div class="modal fade" id="modal-pagos" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        
            <div class="modal-body yellow">
                <!-- cuerpo del modal -->
                <div class="cuadro">
                    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="text-center pago">PAGOS</p>
                </div>

                <h4 class="text-center titulo">ELIGE TU MÉTODO DE PAGO</h4>

                <div class="container">
                    <div class="row">
                        <div class="col-md-4 padding">
                            <img class="img1" width="100%" src="/img/Paypal.svg" alt="pago" id="paypal">
                        </div>

                        <div class="col-md-4 padding">
                            <img class="img2" width="100%" src="/img/Stripe.svg" alt="pagos" id="stripe">
                        </div>

                        <div class="col-md-4 padding">
                            <img class="img3" width="100%" src="/img/Spe.svg" alt="spei" id="spei">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4 padding">
                            <img class="img4" src="/img/transferencia.svg" width="100%" alt="transferencia" id="transferencia">
                        </div>

                        <div class="col-md-4 padding">
                            <img class="img5" src="/img/deposito.svg" width="100%" alt="deposito" id="deposito">
                        </div>

                        <div class="col-md-4 padding">
                            <img class="img6" src="/img/practicaja.svg" width="100%" alt="practicaja" id="practicaja">
                        </div>
                    </div>
                </div>

                <!-- stripe -->
                <div class="col-md-12" id="caja-stripe">
                    <hr class="pagos-separator">
                    <h4 class="text-center titulo">ingresa LOS SIGUÉNTES DATOS</h4>
                    <form action="#">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="nombre" class="parrafo">NOMBRE (EN LA TARJETA)</label>
                            <input type="text" name="nombre" id="nombre" class="form-control foco-yellow inputcolor" placeholder="NOMBRE (EN LA TARJETA)">
                        </div>

                        <div class="col-md-6">
                            <label for="apellido" class="parrafo">APELLIDO (EN LA TARJETA)</label>
                            <input type="text" name="apelido" id="apellido" class="form-control foco-yellow inputcolor" placeholder="APELLIDO (EN LA TARJETA)">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6">
                            <label for="numero" class="parrafo">NUMERO DE LA TARJETA</label>
                            <input type="text" name="numero" id="numero" class="form-control foco-yellow inputcolor" placeholder="NUMERO DE LA TARJETA">
                        </div>

                        <div class="col-md-3">
                            <label for="fecha" class="parrafo">FECHA DE CADUCIDAD</label>
                            <input type="text" name="fecha" id="fecha" class="form-control foco-yellow inputcolor datepicker">
                            <label for="fecha" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                        </div>

                        <div class="col-md-3">
                            <label for="codigo" class="parrafo">CÓDIGO DE SEGURIDAD</label>
                            <input type="text" name="codigoSeguridad" id="codigoSeguridad" class="form-control foco-yellow inputcolor" placeholder="CÓDIGO DE SEGURIDAD">
                            <label for="codigoSeguridad" class="input-img"><i class="far fa-credit-card"></i></label>
                        </div>
                    </div>

                    <div class="row alo">

                        <label for="monto" class="badge badge-light col-md-3 parrafo2">MONTO A PAGAR</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>

                        <label for="transferido" class="badge badge-light col-md-3 parrafo2">MONTO TRANSFERIDO</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>
                        
                        <div class="col-md-1"></div>
                    </div>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar"
                            data-dismiss="modal"
                            data-toggle="modal"
                            href="#guia-de-envios">
                            ACEPTAR
                        </button>
                    </div>
                    </form>
                </div>
                <!--end stripe-->


                <!-- spei -->
                <div class="col-md-12" id="caja-spei">
                    <hr class="pagos-separator">
                    <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                    <form action="#">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fechaSpei" class="spei">FECHA DE LA TRANSACCIÓN</label>
                            <input type="text" name="fechaSpei" id="fechaSpei" class="form-control foco-yellow inputcolor datepicker">
                            <label for="fechaSpei" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                        </div>

                        <div class="col-md-3">
                            <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                            <input type="time" name="hora" id="hora" class="form-control timepicker foco-yellow inputcolor" list="time">
                            <label for="hora" class="input-img-time"><i class="fas fa-clock"></i></label>
                        </div>

                        <div class="col-md-6">
                            <label for="numerefe" class="spei">NÚMERO DE REFERENCIA</label>
                            <input type="text" name="numeroReferencia" id="numerefe" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                        </div>
                    </div>

                    <div class="col-md-6 folio">
                        <label for="rastreo" class="spei">FOLIO DE RASTREO</label>
                        <input type="text" name="folioRastreo" id="folioRastreo" class="form-control foco-yellow inputcolor" placeholder="FOLIO DE RASTREO">
                    </div>

                    <div class="row">
                        
                        <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>

                        <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO DEPOSITADO</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>
                    </div>
                    <br>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar"
                            data-dismiss="modal"
                            data-toggle="modal"
                            href="#guia-de-envios">
                            ACEPTAR
                        </button>
                    </div>
                    </form>
                </div>
                <!-- end spei -->


                <!-- transferencia -->
                <div class="col-md-12" id="caja-transferencia">
                    <hr class="pagos-separator">
                    <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                    <form action="#">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fechaTransaccion" class="spei">FECHA DE LA TRANSACCIÓN</label>
                            <input type="text" name="fechaTransaccion" id="fechaTransaccion" class="form-control datepicker foco-yellow inputcolor">
                            <label for="fechaTransaccion" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                        </div>

                        <div class="col-md-3">
                            <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                            <input type="time" name="hora" id="hora" class="form-control timepicker foco-yellow inputcolor" list="time">
                            <label for="hora" class="input-img-time"><i class="fas fa-clock"></i></label>
                        </div>

                        <div class="col-md-6">
                            <label for="numeroReferencia" class="spei">NÚMERO DE REFERENCIA</label>
                            <input type="text" name="numeroReferencia" id="numeroReferencia" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 folio">
                            <label for="internet" class="spei">FOLIO DEL INTERNET</label>
                            <input type="text" name="internet" id="internet" class="form-control foco-yellow inputcolor" placeholder="FOLIO DEL INTERNET">
                        </div>
    
                        <div class="col-md-6 folio">
                            <label for="cuenta" class="spei">CUENTA DE RETIRO (OPCIONAL - PARA FACTURAS)</label>
                            <input type="text" name="cuenta" id="cuenta" class="form-control foco-yellow inputcolor" placeholder="CUENTA DE RETIRO (OPCIONAL - PARA FACTURAS)">
                        </div>
                    </div>
                    
                    <div class="row">
                        
                        <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>

                        <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO TRANSFERIDO</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>
                    </div>
                    <br>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar"
                            data-dismiss="modal"
                            data-toggle="modal"
                            href="#guia-de-envios">
                            ACEPTAR
                        </button>
                    </div>
                    </form>
                </div>
                <!-- end transferencia -->


                <!-- deposito en efectivo -->
                <div class="col-md-12" id="caja-deposito">
                    <hr class="pagos-separator">
                    <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                    <form action="#">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fechaTransaccion" class="spei">FECHA DE LA TRANSACCIÓN</label>
                            <input type="text" name="fechaTransaccionDeposito" id="fechaTransaccionDeposito" class="form-control datepicker foco-yellow inputcolor">
                            <label for="fechaTransaccionDeposito" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                        </div>

                        <div class="col-md-3">
                            <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                            <input type="time" name="horaDeposito" id="horaDeposito" class="form-control timepicker foco-yellow inputcolor" list="time">
                            <label for="horaDeposito" class="input-img-time"><i class="fas fa-clock"></i></label>
                        </div>

                        <div class="col-md-6">
                            <label for="numeroReferencia" class="spei">NÚMERO DE REFERENCIA</label>
                            <input type="text" name="numeroReferencia" id="numeroReferencia" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                        </div>
                    </div>
                    
                    <div class="col-md-6 folio">
                        <label for="movimiento" class="spei">NÚMERO DE MOVIMIENTO</label>
                        <input type="text" name="movimiento" id="movimiento" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE MOVIMIENTO">
                    </div>
                    
                    <div class="row">
                        
                        <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>

                        <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO TRANSFERIDO</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>
                    </div>
                    <br>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar"
                            data-dismiss="modal"
                            data-toggle="modal"
                            href="#guia-de-envios">
                            ACEPTAR
                        </button>
                    </div>
                    </form>
                </div>
                <!-- end deposito en efectivo-->

                <!-- practicaja -->
                <div class="col-md-12" id="caja-practicaja">
                    <hr class="pagos-separator">
                    <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                    <form action="#">
                    <div class="row">
                        <div class="col-md-3">
                            <label for="fechaTransaccion" class="spei">FECHA DE LA TRANSACCIÓN</label>
                            <input type="text" name="fechaTransaccionPracticaja" id="fechaTransaccionPracticaja" class="form-control datepicker foco-yellow inputcolor">
                            <label for="fechaTransaccionPracticaja" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                        </div>

                        <div class="col-md-3">
                            <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                            <input type="time" name="horaTransaccion" id="horaTransaccion" class="form-control timepicker foco-yellow inputcolor" list="time">
                            <label for="horaTransaccion" class="input-img-time"><i class="fas fa-clock"></i></label>
                        </div>

                        <div class="col-md-6">
                            <label for="numeroReferencia" class="spei">NÚMERO DE REFERENCIA</label>
                            <input type="text" name="numeroReferencia" id="numeroReferencia" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                        </div>
                    </div>
                    
                    <div class="row folio">
                        <div class="col-md-4">
                            <label for="folionum" class="spei">FOLIO NÚMERO</label>
                            <input type="text" name="folionum" id="folionum" class="form-control foco-yellow inputcolor" placeholder="FOLIO NÚMERO">
                        </div>
                        
                        <div class="col-md-4">
                            <label for="avt" class="spei">AVT</label>
                            <input type="text" name="avt" id="avt" class="form-control foco-yellow inputcolor" placeholder="INGRESAR AVT">
                        </div>
                        
                        <div class="col-md-4 adjuntar-comprobante centrar">
                            <img src="/img/ico/ico_plus.svg" alt="">
                            <span>ADJUNTAR COMPROBANTE</span>
                        </div>
                    </div>
                    
                    <div class="row">
                        
                        <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>

                        <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO TRANSFERIDO</label>
                        <div class="col-md-3 inputcolor2">
                            $ 300,25 <small>MX</small>
                        </div>
                    </div>
                    <br>

                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar"
                            data-dismiss="modal"
                            data-toggle="modal"
                            href="#guia-de-envios">
                            ACEPTAR
                        </button>
                    </div>
                    </form>
                </div>
                <!-- end practicaja -->
            </div>
        </div>
    </div>
</div>
<!-- end modal pagos-->


<!-- modal guia de envios -->
<div class="modal fade" id="guia-de-envios" style="overflow-y: scroll;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow col-md-12">
                <img src="/img/web_elements/x-blue.svg" class="close-x" alt=""  data-dismiss="modal" aria-hidden="true">
                <!-- cuerpo del modal -->
                <img src="/img/logos/wikienvios_logotipo_PNG-01.png" class="col-md-3 logo-listo" alt="">
                <div class="listo">
                    <h1>LISTO!</h1>
                    <span>TU GUÍA DE ENVIO HA SIDO GENERADA</span>
                </div>
                <hr class="listo-separator">

                <div class="botones-credito col-md-12 text-center">
                    <button class="ver-envios">
                        <img src="/img/web_elements/impresora-azul.svg" alt="">
                        <span>IMPRIMIR</span>
                    </button>
                    <button class="ver-envios">
                        <img src="/img/web_elements/descargar-azul.svg" alt="">
                        <span>DESCARGAR GUÍA</span>
                    </button>
                    <button class="ver-envios">
                        <img src="/img/web_elements/flecha-derecha-azul.svg" alt="">
                        <span>ENVIAR POR CORREO</span>
                    </button>
                    <button class="ver-envios">
                        <img src="/img/web_elements/portapapeles-blue.svg" alt="">
                        <span>PORTAPAPELES</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<!--end guia de envios-->


<!-- modal perfil -->
<div class="modal fade" id="perfil">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow col-md-12">
                <!-- cuerpo del modal -->
                <div class="cuadro">
                    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="text-center pago">PERFIL</p>
                </div>
                
                <div class="row col-md-12 div-form">
                    <label for="">NOMBRE (S)</label>
                    <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                </div>

                <div class="row col-md-12 div-form">
                    <label for="">APELLIDO (S)</label>
                    <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                </div>

                <div class="row col-md-12 sin-padding">
                    <div class="row col-md-6 div-form">
                        <label for="">RFC</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                    </div>
                    <div class="row col-md-6 div-form">
                        <label for="">TELEFÓNO</label>
                        <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                    </div>
                </div>

                <div class="row col-md-12 div-form">
                    <label for="">EMAIL</label>
                    <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                </div>

                <div class="row col-md-12 div-form">
                    <label for="">RAZÓN SOCIAL</label>
                    <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                </div>

                <div class="row col-md-12 div-form">
                    <div class="row col-md-7 sin-padding total">
                        <strong class="centrar">TUS PUNTOS</strong>
                        <span class="centrar">100</span>
                        <small>pts</small>
                    </div>
                    <div class="col-md-4 sin-padding centrar canjear-puntos">
                        <img src="/img/web_elements/canjear-puntos.svg" alt="">
                        <span>CANJEAR PUNTOS</span>
                    </div>
                </div>
                <br><br>

                <div class="row text-center">
                    <div class="col-md-5">
                        <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                    </div>

                    <div class="col-md-5" id="in">
                        <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
<!-- end modal-perfil -->


{{> footer }}


{{> scripts }}
