{{> header title="Historial"}}

    {{> menu historial="Active" user="Eduardo Macías"}}

            <!-- Sección Central -->
            <div class="col-md-9" id="seccionCentral">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-panel" role="tabpanel" aria-labelledby="v-pills-panel-tab">
                        <div class="container-fluid">
                            <!-- Titulo Amarillo -->
                            <div class="row" style="margin-top: 1.2rem;">
                                <div class="col-11 col-md-11 col-sm-12 tituloAmarilloCotizacion">
                                    <span>HISTORIAL</span>
                                </div>
                            </div>

                            <!-- Recuadro Gris -->
                            <div class="row">
                                <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                    <!-- Detalle de historial -->
                                    <div class="row recuadroCentralCotizacion" style="background: white;">
                                        <div class="row col-md-12 content-history">
                                        <!-- contenido -->
                                            <div class="col-md-12 title-blue">HISTORIAL DE ENVIOS</div>
                                            
                                                <div class="row col-md-4">
                                                    <label for="" class="col-md-5 labelHistorial">N° DE GUÍA 
                                                        <!-- <i class="fas fa-caret-down"></i> -->
                                                    </label>
                                                    <input type="text" class="col-md-7 foco-yellow inputHistorial"
                                                        value="4555869">
                                                </div>

                                                <div class="row col-md-3">
                                                    <label for="" class="col-md-4 labelHistorial">FECHA</label>
                                                    <input type="text" class="col-md-8 foco-yellow inputHistorial fecha datepicker"
                                                        value="DESDE">
                                                    <img src="/img/web_elements/calendario.svg" class="calendario-historial" alt="">
                                                </div>

                                                <div class="row col-md-3">
                                                    <label for="" class="col-md-4 labelHistorial">FECHA</label>
                                                    <input type="text" class="col-md-8 foco-yellow inputHistorial fecha datepicker"
                                                        value="HASTA">
                                                    <img src="/img/web_elements/calendario.svg" class="calendario-historial" alt="">
                                                </div>
                                                
                                                <img src="/img/web_elements/buscar.svg" alt="" class="row col-md-2">
                                        
                                                <table class="table-responsive labels-table-rastreo" style="margin-bottom: 0px;">
                                                    <thead>
                                                        <tr>
                                                            <th><div>N° DE GUIA</div></th>
                                                            <th><div>FECHA DE ENVÍO</div></th>
                                                            <th><div>TIPO DE ENVÍO</div></th>
                                                            <th><div>DESTINATARIO</div></th>
                                                            <th><div style="width: 15rem;">OPCIONES DE GUÍA</div></th>
                                                            <th><img src="/img/web_elements/black-eye.svg" alt=""></th>
                                                        </tr>                                                    
                                                    </thead>
                                                    <tbody style="border: 2px solid #00bdb7;">
                                                        <tr>
                                                            <td>000-000-000</td>
                                                            <td>15 / 12 / 2019</td>
                                                            <td>PAQUETE</td>
                                                            <td>José Castañeda</td>
                                                            <td class="operaciones-img">
                                                                <img src="/img/web_elements/impresora.svg" alt="">
                                                                <img src="/img/web_elements/caja.svg" alt="">
                                                                <img src="/img/web_elements/flecha-derecha.svg" alt="">
                                                                <img src="/img/web_elements/portrait.svg" alt="">
                                                                <img src="/img/web_elements/stop.svg" alt="">
                                                            </td>
                                                            <td><img src="/img/web_elements/blue-eye.svg" alt="" href="#detalles-de-envios" data-toggle="modal"></td>
                                                        </tr>   
                                                        
                                                        <tr>
                                                            <td>000-000-000</td>
                                                            <td>15 / 12 / 2019</td>
                                                            <td>PAQUETE</td>
                                                            <td>José Castañeda</td>
                                                            <td class="operaciones-img">
                                                                <img src="/img/web_elements/impresora.svg" alt="">
                                                                <img src="/img/web_elements/caja.svg" alt="">
                                                                <img src="/img/web_elements/flecha-derecha.svg" alt="">
                                                                <img src="/img/web_elements/portrait.svg" alt="">
                                                                <img src="/img/web_elements/stop.svg" alt="">
                                                            </td>
                                                            <td><img src="/img/web_elements/blue-eye.svg" alt="" href="#detalles-de-envios" data-toggle="modal"></td>
                                                        </tr>

                                                        <tr>
                                                            <td>000-000-000</td>
                                                            <td>15 / 12 / 2019</td>
                                                            <td>PAQUETE</td>
                                                            <td>José Castañeda</td>
                                                            <td class="operaciones-img">
                                                                <img src="/img/web_elements/impresora.svg" alt="">
                                                                <img src="/img/web_elements/caja.svg" alt="">
                                                                <img src="/img/web_elements/flecha-derecha.svg" alt="">
                                                                <img src="/img/web_elements/portrait.svg" alt="">
                                                                <img src="/img/web_elements/stop.svg" alt="">
                                                            </td>
                                                            <td><img src="/img/web_elements/blue-eye.svg" alt="" href="#detalles-de-envios" data-toggle="modal"></td>
                                                        </tr>                                                        
                                                    </tbody>
                                                </table>


                                                <!-- segunda tabla -->
                                                <table class="table-responsive labels-table-rastreo" style="margin-top: 0px;">
                                                    <thead class="invisible">
                                                        <tr>
                                                            <th><div>N° DE GUIA</div></th>
                                                            <th><div>FECHA DE ENVÍO</div></th>
                                                            <th><div>TIPO DE ENVÍO</div></th>
                                                            <th><div>DESTINATARIO</div></th>
                                                            <th><div style="width: 15rem;">OPCIONES DE GUÍA</div></th>
                                                            <th><img src="/img/web_elements/black-eye.svg" alt=""></th>
                                                        </tr>                                                    
                                                    </thead>
                                                    
                                                    <tbody style="border: 2px solid #fed55d;">
                                                        <tr>
                                                            <td>000-000-000</td>
                                                            <td>15 / 12 / 2019</td>
                                                            <td>PAQUETE</td>
                                                            <td>José Castañeda</td>
                                                            <td class="operaciones-img">
                                                                <img src="/img/web_elements/impresora.svg" alt="">
                                                                <img src="/img/web_elements/caja.svg" alt="">
                                                                <img src="/img/web_elements/flecha-derecha.svg" alt="">
                                                                <img src="/img/web_elements/portrait.svg" alt="">
                                                                <img src="/img/web_elements/stop.svg" alt="">
                                                            </td>
                                                            <td><img src="/img/web_elements/blue-eye.svg" alt="" href="#detalles-de-envios" data-toggle="modal"></td>
                                                        </tr>

                                                        <tr>
                                                            <td>000-000-000</td>
                                                            <td>15 / 12 / 2019</td>
                                                            <td>PAQUETE</td>
                                                            <td>José Castañeda</td>
                                                            <td class="operaciones-img">
                                                                <img src="/img/web_elements/impresora.svg" alt="">
                                                                <img src="/img/web_elements/caja.svg" alt="">
                                                                <img src="/img/web_elements/flecha-derecha.svg" alt="">
                                                                <img src="/img/web_elements/portrait.svg" alt="">
                                                                <img src="/img/web_elements/stop.svg" alt="">
                                                            </td>
                                                            <td><img src="/img/web_elements/blue-eye.svg" alt="" href="#detalles-de-envios" data-toggle="modal"></td>
                                                        </tr>

                                                        <tr>
                                                            <td>000-000-000</td>
                                                            <td>15 / 12 / 2019</td>
                                                            <td>PAQUETE</td>
                                                            <td>José Castañeda</td>
                                                            <td class="operaciones-img">
                                                                <img src="/img/web_elements/impresora.svg" alt="">
                                                                <img src="/img/web_elements/caja.svg" alt="">
                                                                <img src="/img/web_elements/flecha-derecha.svg" alt="">
                                                                <img src="/img/web_elements/portrait.svg" alt="">
                                                                <img src="/img/web_elements/stop.svg" alt="">
                                                            </td>
                                                            <td><img src="/img/web_elements/blue-eye.svg" alt="" href="#detalles-de-envios" data-toggle="modal"></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            <button class="ver-envios">
                                                <img src="/img/web_elements/mas.svg" alt="">
                                                <span>VER MÁS ENVÍOS</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end recuadro 1-->

                            <!--segundo recuadro 2-->
                            <div class="row" style="margin-top: 2rem;">
                                <div class="col-11 mt-1">
                                    <!-- Detalle de historial -->
                                    <div class="row recuadroCentralCotizacion" style="background: white;">
                                        <div class="row col-md-12 content-history">
                                        <!-- contenido -->
                                            <div class="col-md-12 title-blue">HISTORIAL DE CRÉDITO</div>
                                            
                                                <table class="table-responsive labels-table-rastreo historial-credito">
                                                    <thead>
                                                        <tr>
                                                            <th><div>FECHA</div></th>
                                                            <th><div class="descript">DESCRIPCIÓN</div></th>
                                                            <th><div>MONTO</div></th>
                                                            <th><div>SALDO</div></th>
                                                        </tr>                                                    
                                                    </thead>
                                                    <tbody style="border: 2px solid #fed55d;" id="historial-credito">
                                                        <tr>
                                                            <td>15 / 12 / 2019</td>
                                                            <td class="text-left">ABONO</td>
                                                            <td></td>
                                                            <td class="monto-verde">$ 2.000,000.00</td>
                                                        </tr>   
                                                        
                                                        <tr>
                                                            <td>15 / 12 / 2019</td>
                                                            <td class="text-left">Cargo - N° de Guía <span class="blue">45965875</span></td>
                                                            <td class="monto-rojo">$ 2.000,000.00</td>
                                                            <td>$ 2.000,000.00</td>
                                                        </tr>   

                                                        <tr>
                                                            <td>15 / 12 / 2019</td>
                                                            <td class="text-left">ABONO</td>
                                                            <td></td>
                                                            <td class="monto-verde">$ 2.000,000.00</td>
                                                        </tr>   
                                                        
                                                        <tr>
                                                            <td>15 / 12 / 2019</td>
                                                            <td class="text-left">Cargo - N° de Guía <span class="blue">45965875</span></td>
                                                            <td class="monto-rojo">$ 2.000,000.00</td>
                                                            <td>$ 2.000,000.00</td>
                                                        </tr>     
                                                    </tbody>
                                                </table>
                                                    
                                                <div class="botones-credito col-md-12 text-center">
                                                    <button class="ver-envios">
                                                        <img src="/img/web_elements/impresora-azul.svg" alt="">
                                                        <span>IMPRIMIR</span>
                                                    </button>
                                                    <button class="ver-envios">
                                                        <img src="/img/web_elements/descargar-azul.svg" alt="">
                                                        <span>DESCARGAR HISTORIAL</span>
                                                    </button>
                                                    <button class="ver-envios">
                                                        <img src="/img/web_elements/flecha-derecha-azul.svg" alt="">
                                                        <span>ENVIAR POR CORREO</span>
                                                    </button>
                                                </div>

                                                <div class="row col-md-12 dimensiones-total historial-total">
                                                    <div class="col-md-3"></div>
                                                    <div class="col-md-3"></div>
                                                    <div class="row col-md-5" style="padding-right: 0px;">
                                                        <div class="col-md-4 textLabel">SALDO ACTUAL</div>
                                                        <div class="col-md-8 text-center total-resultado">$ 300,25 <span>MX</span></div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end recuadro 2-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


<!-- modal detalles de envios -->
    <div class="modal fade" id="detalles-de-envios">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">DETALLES DE ENVÍOS</p>
                    </div>

                    <!-- detalles de envio -->
                    <div class="banda-blue">
                        <span>DETALLES DE ENVÍO</span>
                    </div>

                    <div class="row caja">
                        <div class="col-md-3">
                            <div class="label-detalle">NÚMERO DE GUÍA</div>
                            <div class="input-detalle-sin-fondo">000-000-000</div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="label-detalle">FECHA DE ENVÍO</div>
                            <div class="input-detalle-con-fondo">15 / 12 / 2019</div>
                        </div>
                    </div>

                    <div class="row caja">
                        <div class="col-md-6">
                            <div class="label-detalle">ORIGEN</div>
                            <div class="input-detalle-con-fondo">
                                <span>Eduardo Macias</span><br>
                                <p>Mexico, 45019, Jalisco, Zapopan, Colonia Sola.</p>
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <div class="label-detalle">DESTINATARIO</div>
                            <div class="input-detalle-con-fondo">
                                <span>José Castañeda</span><br>
                                <p>Mexico, 580220, Michoacan, Morelia, Morelos Sur N° 250.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row caja" style="margin-bottom: 4rem;">
                        <div class="col-md-3 integraciones-detalle">
                            <span>INTEGRACIONES</span>
                            <p>
                                NÚMERO DE ORDEN <br>
                                012458566-0
                            </p>
                        </div>
                        
                        <div class="col-md-9 integraciones-logos">
                            <img src="/img/logos/magento-opacity.svg" class="col-md-4 left" alt="">
                            <img src="/img/logos/woocommerce-opacity.svg" class="col-md-4 woo-integrer" alt="">
                            <img src="/img/logos/shopify.svg" class="col-md-3 shopify-integrer" alt="">
                        </div>
                    </div>

                    <div class="row caja progress-envio">
                        <div class="amarillo"></div>
                        <div class="verde"></div>
                        <div class="azul"></div>
                        <div class="iconos-envios col-md-12 text-center">
                            <img src="/img/web_elements/recolectado.svg" alt="" class="left">
                            <img src="/img/web_elements/en_camino.svg">
                            <img src="/img/web_elements/entregado.svg" alt="" class="right">
                        </div>
                    </div>

                    <div class="row caja data-status" style="margin-top: 1rem;">
                        <!-- label amarilla -->
                        <div class="row col-md-7">
                            <div class="label-status amarillo">
                                <img src="/img/web_elements/recolectado.svg">
                                <span>RECOLECTADO</span>
                            </div>
                            <input type="text" class="foco-yellow input-status" value="Mexico, 45019, Jalisco, Zapopan, Colonia Sola.">
                        </div>

                        <div class="row col-md-5">
                            <div class="label-status amarillo">
                                <span class="fech">FECHA</span>
                            </div>
                            <input type="text" class="foco-yellow input-status" value="15 / 12 / 2019">
                        </div>
                        
                        <!-- label azul -->
                        <div class="row col-md-7">
                            <div class="label-status azul">
                                <img src="/img/web_elements/en_camino.svg">
                                <span class="stat">EN CAMINO</span>
                            </div>
                            <input type="text" class="foco-yellow input-status" value="Mexico, 45019, Jalisco, Zapopan, Colonia Sola.">
                        </div>

                        <div class="row col-md-5">
                            <div class="label-status azul">
                                <span class="fech">FECHA</span>
                            </div>
                            <input type="text" class="foco-yellow input-status" value="15 / 12 / 2019">
                        </div>

                        <!-- label verde -->
                        <div class="row col-md-7">
                            <div class="label-status verde">
                                <img src="/img/web_elements/entregado.svg">
                                <span class="stat">ENTREGADO</span>
                            </div>
                            <input type="text" class="foco-yellow input-status" value="Mexico, 45019, Jalisco, Zapopan, Colonia Sola.">
                        </div>

                        <div class="row col-md-5">
                            <div class="label-status verde">
                                <span class="fech">FECHA</span>
                            </div>
                            <input type="text" class="foco-yellow input-status" value="15 / 12 / 2019">
                        </div>
                    </div>
                    <br>

                    <!-- detalles de paqueteria -->
                    <div class="banda-blue">
                        <span>DETALLES DE PAQUETERÍA</span>
                    </div>

                    <div class="row caja col-md-10 tipo-envio-detalle">
                        <div class="col-md-4 tipo">TIPO DE ENVÍO</div>
                        <div class="row col-md-4"> 
                            <div class="checked-yellow"></div> 
                            DOCUMENTO
                        </div>
                        <div class="row col-md-4">
                            <div class="checked-default"></div>
                            PAQUETE
                        </div>
                    </div>

                    <div class="row caja detalles-paqueteria-piezas">
                        <div class="col-md-2">
                            <span>NÚMERO DE PIEZAS</span><br>
                            2000
                        </div>

                        <div class="col-md-2">
                            <span>LARGO</span><br>
                            100
                            <br>
                            <small>cm</small>
                        </div>

                        <div class="col-md-2">
                            <span>ANCHO</span><br>
                            100
                            <br>
                            <small>cm</small>
                        </div>

                        <div class="col-md-2">
                            <span>ALTO</span><br>
                            100
                            <br>
                            <small>cm</small>
                        </div>

                        <div class="col-md-2">
                            <span>PESO</span><br>
                            100
                            <br>
                            <small>kg</small>
                        </div>
                    </div>

                    <div class="row caja">
                        <div class="row col-md-6 descripcion-detalle-envios">
                            <div class="col-md-5 centrar label">DESCRIPCIÓN <br> DEL CONTENIDO</div>
                            <div class="col-md-7 centrar input">PRODUCTOS ELECTRONICOS</div>
                        </div>
    
                        <div class="row col-md-6 descripcion-detalle-envios">
                            <div class="col-md-5 centrar label">TIPO DE CONTENIDO</div>
                            <div class="col-md-7 centrar input">PRODUCTOS ELECTRONICOS</div>
                        </div>
                    </div>
                    <br>

                    <!-- detalles de pago y facturacion -->
                    <div class="banda-blue">
                        <span>DETALLES DE PAGO Y FACTURACIÓN</span>
                    </div>

                    <div class="row caja">
                        <div class="col-md-4">
                            <div class="label-detalle">ESTATUS DEL PAGO</div>
                            <div class="row input-detalle-con-fondo" style="justify-content: end;">
                                <div class="circle-green"></div>    
                                PAGO
                            </div>
                        </div>
    
                        <div class="col-md-4">
                            <div class="label-detalle">TIPO DE OPERACIÓN</div>
                            <div class="input-detalle-con-fondo">ELECTRONICA</div>
                        </div>

                        <div class="col-md-4">
                            <div class="label-detalle">TIPO DE PAGO</div>
                            <div class="input-detalle-con-fondo centrar">
                                <img src="/img/logos/shopify.svg" style="width: 40%; margin: auto;">
                            </div>
                        </div>
                    </div>

                    <div class="row caja col-md-7 total-detalle-envio right">
                        <div class="centrar label">
                            TOTAL
                        </div>
                        <div class="centrar input">
                            $ 300,25
                        </div>
                        <small>MX</small>
                    </div>
                    <div class="clear"></div>
                    <br>

                    <!-- OPCIONES DE LA GUÍA DEL ENVÍO -->
                    <div class="banda-blue">
                        <span>OPCIONES DE LA GUÍA DEL ENVÍO</span>
                    </div>
                    <br>

                    <div class="botones-detalles-envio row">
                        <button>
                            <img src="/img/web_elements/impresora-azul.svg" alt="">
                            <span>IMPRIMIR</span>
                        </button>
                        <button>
                            <img src="/img/web_elements/descargar-azul.svg" alt="">
                            <span>DESCARGAR GUÍA</span>
                        </button>
                        <button>
                            <img src="/img/web_elements/flecha-derecha-azul.svg" alt="">
                            <span>ENVIAR POR CORREO</span>
                        </button>
                        <button>
                            <img src="/img/web_elements/portapapeles-blue.svg" alt="">
                            <span>COPIAR EN PORTAPAPLES</span>
                        </button>
                        <button class="cancelar">
                            <img src="/img/web_elements/cancelar-white.svg" alt="">
                            <span>CANCELAR</span>
                        </button>
                    </div>

                </div>
                <!-- end div-->
            </div>
        </div>
    </div>
<!--end detalles de envios-->



<!-- modal perfil -->
<div class="modal fade" id="perfil">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow col-md-12">
                <!-- cuerpo del modal -->
                <div class="cuadro">
                    <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <p class="text-center pago">PERFIL</p>
                </div>
                
                <div class="row col-md-12 div-form">
                    <label for="">NOMBRE (S)</label>
                    <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                </div>

                <div class="row col-md-12 div-form">
                    <label for="">APELLIDO (S)</label>
                    <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                </div>

                <div class="row col-md-12 sin-padding">
                    <div class="row col-md-6 div-form">
                        <label for="">RFC</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                    </div>
                    <div class="row col-md-6 div-form">
                        <label for="">TELEFÓNO</label>
                        <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                    </div>
                </div>

                <div class="row col-md-12 div-form">
                    <label for="">EMAIL</label>
                    <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                </div>

                <div class="row col-md-12 div-form">
                    <label for="">RAZÓN SOCIAL</label>
                    <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                </div>

                <div class="row col-md-12 div-form">
                    <div class="row col-md-7 sin-padding total">
                        <strong class="centrar">TUS PUNTOS</strong>
                        <span class="centrar">100</span>
                        <small>pts</small>
                    </div>
                    <div class="col-md-4 sin-padding centrar canjear-puntos">
                        <img src="/img/web_elements/canjear-puntos.svg" alt="">
                        <span>CANJEAR PUNTOS</span>
                    </div>
                </div>
                <br><br>

                <div class="row text-center">
                    <div class="col-md-5">
                        <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                    </div>

                    <div class="col-md-5" id="in">
                        <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                    </div>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
<!-- end modal-perfil -->

  
{{> footer }}

{{> scripts }}
