{{> header title="Inicio de sesion"}}

    <div class="inicio">
        <img class="col-md-lg-6 logo" src="img/logos/wikienvios_logotipo_PNG-01.png" alt="Logo Wikienvios" width="15%">

        <!-- figuras -->
        <div class="figura1"></div>
        <div class="figura2"></div>
        
        <!-- caja de formulario inicio sesion -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 row formulario-sesion">
                <div class="col-md-6 text-left" style="padding: 3rem;">
                    <br>
                    <h1 class="hola sin-mouse">Hola!</h1>
                    <span class="enviaremos sin-mouse">¿Que enviaremos hoy?</span>
                </div>
                <!-- formulario de iniciar sesion-->
                <div class="col-md-6 form">
                    <div id="error-login"></div>

                    <div class="row space-mobile" style="margin-bottom: 1rem;">
                        <label for="email" class="">EMAIL</label>
                        <input type="text" id="email" class="form-control" value="">
                        <img src="img/web_elements/username.svg" alt="">
                    </div>
                    
                    <div class="row space-mobile">
                        <label for="password" class="">CLAVE</label>
                        <input type="password" id="password" class="form-control" value="">
                        <img src="img/web_elements/password.svg" alt="">
                    </div>
                    <a href="#recuperar-cuenta" data-toggle="modal" class="olvidaste col-md-12">¿Olvidaste tu contraseña?</a>

                    <hr class="separar">
                    <span class="tambien col-md-12">Puedes iniciar tambien con:</span>
                    <br>

                    <!-- redes sociales -->
                    <div class="row" style="margin-top: 15px;">
                        <a href="#" class="facebook col-md-4">
                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="14pt" height="14pt" viewBox="0 0 30 30" version="1.1">
                                <g id="surface1">
                                    <path
                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(255, 255, 255);fill-opacity:1;"
                                        d="M 25.605469 0 L 4.394531 0 C 1.972656 0 0 1.972656 0 4.394531 L 0 25.605469 C 0 28.027344 1.972656 30 4.394531 30 L 13.242188 30 L 13.242188 19.394531 L 9.726562 19.394531 L 9.726562 14.121094 L 13.242188 14.121094 L 13.242188 10.546875 C 13.242188 7.640625 15.609375 5.273438 18.515625 5.273438 L 23.847656 5.273438 L 23.847656 10.546875 L 18.515625 10.546875 L 18.515625 14.121094 L 23.847656 14.121094 L 22.96875 19.394531 L 18.515625 19.394531 L 18.515625 30 L 25.605469 30 C 28.027344 30 30 28.027344 30 25.605469 L 30 4.394531 C 30 1.972656 28.027344 0 25.605469 0 Z M 25.605469 0 " />
                                </g>
                            </svg>
                            <span class="textoRedes1">FACEBOOK</span>
                        </a>
    
                        <div class="col-md-4 google enlace">
                            <a href="#">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="14pt" height="14pt" viewBox="0 0 30 30" version="1.1">
                                    <g id="surface1">
                                        <path
                                            style=" stroke:none;fill-rule:nonzero;fill:rgb(98.431373%,73.333333%,0%);fill-opacity:1;"
                                            d="M 6.648438 18.128906 L 5.605469 22.027344 L 1.789062 22.109375 C 0.648438 19.992188 0 17.570312 0 15 C 0 12.511719 0.605469 10.167969 1.675781 8.101562 L 1.679688 8.101562 L 5.074219 8.726562 L 6.566406 12.101562 C 6.253906 13.011719 6.082031 13.984375 6.082031 15 C 6.082031 16.101562 6.28125 17.15625 6.648438 18.128906 Z M 6.648438 18.128906 " />
                                        <path
                                            style=" stroke:none;fill-rule:nonzero;fill:rgb(31.764706%,55.686275%,97.254902%);fill-opacity:1;"
                                                d="M 29.738281 12.199219 C 29.910156 13.105469 30 14.042969 30 15 C 30 16.074219 29.886719 17.121094 29.671875 18.132812 C 28.941406 21.570312 27.035156 24.574219 24.390625 26.699219 L 24.390625 26.695312 L 20.109375 26.476562 L 19.503906 22.695312 C 21.257812 21.667969 22.628906 20.058594 23.351562 18.132812 L 15.328125 18.132812 L 15.328125 12.199219 Z M 29.738281 12.199219 " />
                                            <path
                                                style=" stroke:none;fill-rule:nonzero;fill:rgb(15.686275%,70.588235%,27.45098%);fill-opacity:1;"
                                                d="M 24.390625 26.695312 L 24.390625 26.699219 C 21.820312 28.765625 18.554688 30 15 30 C 9.289062 30 4.320312 26.808594 1.789062 22.109375 L 6.648438 18.128906 C 7.914062 21.511719 11.175781 23.917969 15 23.917969 C 16.644531 23.917969 18.183594 23.472656 19.503906 22.695312 Z M 24.390625 26.695312 " />
                                            <path
                                                style=" stroke:none;fill-rule:nonzero;fill:rgb(94.509804%,26.27451%,21.176471%);fill-opacity:1;"
                                                d="M 24.574219 3.453125 L 19.714844 7.429688 C 18.347656 6.578125 16.730469 6.082031 15 6.082031 C 11.089844 6.082031 7.769531 8.601562 6.566406 12.101562 L 1.679688 8.101562 L 1.675781 8.101562 C 4.171875 3.289062 9.203125 0 15 0 C 18.640625 0 21.976562 1.296875 24.574219 3.453125 Z M 24.574219 3.453125 " />
                                        </g>
                                </svg>
                                <span class="textoRedes2">GOOGLE</span>
                            </a>
                        </div>
                        <br>

                        <a class="col-md-4 ingresar" id="login">
                            INGRESAR
                        </a>

                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="row">
            <div class="col-md-8"></div>
            <div class="col-md-3 row reg text-center">
                <div class="col-md-6" style="margin: 0; padding: 0; line-height: 17px;">
                    <span class="parte sin-mouse">Se parte de nuestra</span>
                    <span class="comunidad sin-mouse">Comunidad</span>
                </div>

                <a href="#ventana1" class="btn col-md-6 enlace registrate" data-toggle="modal">REGISTRATE</a>
            </div> 
            <div class="col-md-1"></div>
        </div>
    </div>     

    <!-- modal ;v -->
    <div class="modal fade" id="ventana1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
                <img src="img/web_elements/x-blue.svg" class="close-x" alt=""  data-dismiss="modal" aria-hidden="true">

                <div class="modal-body modal-registro">

                <div class="row">

                    <div class="col-md-4"></div>

                    <div class="text-center col-md-8">
                        <h1 class="colorin">Bienvenido</h1>
                    </div>
               
                    <div class="col-md-4"></div>

                    <p class="text-center col-md-8 necesitamos">¡Necesitamos algunos datos para seguir con tu registro!</p>
                </div>

                <!-- form -->
                    <img src="img/models/v2/mujer_laptop.png" class="mujer-mobile" style="display: none;" alt="">
                    <div class="container mujer" style="padding-right: 0px; background-image: url(img/models/v2/mujer_laptop.png); background-repeat: no-repeat; background-size: auto 100%;">

                        <div class="row">
                            <div class="col-md-4"></div>

                            <div class="col-md-8 error-register" id="errorRegister"></div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>

                            <label for="nombre" class="badge badge-light col-md-2 bolita2">NOMBRE (S)</label>
                            <input type="text" name="nombre" id="nombre" class="form-control col-md-6 otrabolita foco-yellow" placeholder="NOMBRE (S)">
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4"></div>

                            <label for="apellido" class="badge badge-light col-md-2 bolita2">APELLIDOS (S)</label>
                            <input type="text" name="apellido" id="apellido" class="form-control col-md-6 otrabolita foco-yellow" placeholder="APELLIDOS (S)">
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4"></div>

                            <label for="rfc" class="badge badge-light col-md-1 bolita2">RFC</label>
                            <input type="text" name="rfc" id="rfc" class="form-control col-md-3 otrabolita foco-yellow" placeholder="RFC (opcional)">

                            <label for="telefono" class="badge badge-light col-md-2 bolita2">TELEFÓNO</label>
                            <input type="text" name="telefono" id="telefono" class="form-control col-md-2 otrabolita foco-yellow" placeholder="TELEFÓNO">
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4"></div>

                            <label for="correo" class="badge badge-light col-md-2 bolita2">EMAIL</label>
                            <input type="email" name="correo" id="correo" class="form-control col-md-6 otrabolita foco-yellow" placeholder="EMAIL">
                        </div>
                            
                        <div class="row">
                            <div class="col-md-4"></div>

                            <label for="passwordRegister" class="badge badge-light col-md-2 bolita">CONTRASEÑA</label>
                            <input type="password" name="passwordRegister" id="passwordRegister" class="form-control col-md-2 otrabolita foco-yellow" placeholder="Contraseña">

                            <label for="replyPass" class="badge badge-light col-md-2 bolita">REPETIR</label>
                            <input type="password" name="replyPass" id="replyPass" class="form-control col-md-2 otrabolita foco-yellow" placeholder="repetir pass">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-7 lineaa"></div>
                    </div>
                        <br>
                    <div class="row text-center">
                        <div class="col-md-4"></div>
                        <span class="col-md-8 tambien">Puedes registrarte tambien con:</span>
                    </div>

                    <!-- redes sociales -->
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-4"></div>

                        <a href="#" class="facebook col-md-2">
                            <svg class="face-modal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                width="14pt" height="14pt" viewBox="0 0 30 30" version="1.1">
                                <g id="surface1">
                                    <path
                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(255, 255, 255);fill-opacity:1;"
                                        d="M 25.605469 0 L 4.394531 0 C 1.972656 0 0 1.972656 0 4.394531 L 0 25.605469 C 0 28.027344 1.972656 30 4.394531 30 L 13.242188 30 L 13.242188 19.394531 L 9.726562 19.394531 L 9.726562 14.121094 L 13.242188 14.121094 L 13.242188 10.546875 C 13.242188 7.640625 15.609375 5.273438 18.515625 5.273438 L 23.847656 5.273438 L 23.847656 10.546875 L 18.515625 10.546875 L 18.515625 14.121094 L 23.847656 14.121094 L 22.96875 19.394531 L 18.515625 19.394531 L 18.515625 30 L 25.605469 30 C 28.027344 30 30 28.027344 30 25.605469 L 30 4.394531 C 30 1.972656 28.027344 0 25.605469 0 Z M 25.605469 0 " />
                                </g>
                            </svg>
                            <span class="textoRedes1">FACEBOOK</span>
                        </a>
        
                        <div class="col-md-2 google enlace">
                            <a href="#">
                                <svg class="face-modal" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="14pt" height="14pt" viewBox="0 0 30 30" version="1.1">
                                    <g id="surface1">
                                        <path
                                            style=" stroke:none;fill-rule:nonzero;fill:rgb(98.431373%,73.333333%,0%);fill-opacity:1;"
                                            d="M 6.648438 18.128906 L 5.605469 22.027344 L 1.789062 22.109375 C 0.648438 19.992188 0 17.570312 0 15 C 0 12.511719 0.605469 10.167969 1.675781 8.101562 L 1.679688 8.101562 L 5.074219 8.726562 L 6.566406 12.101562 C 6.253906 13.011719 6.082031 13.984375 6.082031 15 C 6.082031 16.101562 6.28125 17.15625 6.648438 18.128906 Z M 6.648438 18.128906 " />
                                        <path
                                            style=" stroke:none;fill-rule:nonzero;fill:rgb(31.764706%,55.686275%,97.254902%);fill-opacity:1;"
                                                d="M 29.738281 12.199219 C 29.910156 13.105469 30 14.042969 30 15 C 30 16.074219 29.886719 17.121094 29.671875 18.132812 C 28.941406 21.570312 27.035156 24.574219 24.390625 26.699219 L 24.390625 26.695312 L 20.109375 26.476562 L 19.503906 22.695312 C 21.257812 21.667969 22.628906 20.058594 23.351562 18.132812 L 15.328125 18.132812 L 15.328125 12.199219 Z M 29.738281 12.199219 " />
                                            <path
                                                style=" stroke:none;fill-rule:nonzero;fill:rgb(15.686275%,70.588235%,27.45098%);fill-opacity:1;"
                                                d="M 24.390625 26.695312 L 24.390625 26.699219 C 21.820312 28.765625 18.554688 30 15 30 C 9.289062 30 4.320312 26.808594 1.789062 22.109375 L 6.648438 18.128906 C 7.914062 21.511719 11.175781 23.917969 15 23.917969 C 16.644531 23.917969 18.183594 23.472656 19.503906 22.695312 Z M 24.390625 26.695312 " />
                                            <path
                                                style=" stroke:none;fill-rule:nonzero;fill:rgb(94.509804%,26.27451%,21.176471%);fill-opacity:1;"
                                                d="M 24.574219 3.453125 L 19.714844 7.429688 C 18.347656 6.578125 16.730469 6.082031 15 6.082031 C 11.089844 6.082031 7.769531 8.601562 6.566406 12.101562 L 1.679688 8.101562 L 1.675781 8.101562 C 4.171875 3.289062 9.203125 0 15 0 C 18.640625 0 21.976562 1.296875 24.574219 3.453125 Z M 24.574219 3.453125 " />
                                        </g>
                                </svg>
                                <span class="textoRedes2">GOOGLE</span>
                            </a>
                        </div>
                    </div>
                        <br>

                    <div class="row">
                        <div class="col-md-5"></div>

                        <div class="col-md-4" id="in">
                            <button type="submit" class="col-md-8 enlace ingresar" id="btnGuardar">GUARDAR</button>
                        </div>
                    </div>
                </div>
                <!-- form -->

            </div>
        </div>
    </div>


    <!-- modal recuperar cuenta -->
    <div class="modal fade" id="recuperar-cuenta">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <img src="img/web_elements/x-blue.svg" class="close-x" alt=""  data-dismiss="modal" aria-hidden="true">
                    <!-- cuerpo del modal -->
                    <img src="img/logos/wikienvios_logotipo_PNG-01.png" class="col-md-3 logo-listo" alt="">
                    <div class="listo recuperar">
                        <h1>Haz olvidado</h1>
                        <span>TU CONTRASEÑA</span>
                    </div>

                    <div class="col-md-12 centrar title-agrega-email">
                        Por favor, agrega tu email para recuperar tu contraseña
                    </div>

                    <div class="row email-recuperar">
                        <label for="mail" class="centrar">EMAIL</label>
                        <input type="text" id="mail" class="form-control foco-yellow">
                        <img src="img/web_elements/username.svg" alt="">
                    </div>

                    <center>
                    <a href="/enviamos-email" class="btn-recuperar">
                        RECUPERAR CONTRASEÑA
                    </a>
                    </center>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <!--end recuperar cuenta-->

{{> scripts }}