<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>libreta de direcciones</title>
    
    <!-- styles CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/inicioSesion.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/querysMobile.css">
</head>
<body>
    
    <!-- desplegar modal de libreta de direcciones -->
    <a href="#libreta" class="btn btn-primary btn-lg" data-toggle="modal">Modal direcciones - origen</a>
    <a href="#libreta-nueva" class="btn btn-danger btn-lg" data-toggle="modal">nueva direccion - origen</a>

    <a href="#libreta-destino" class="btn btn-info btn-lg" data-toggle="modal">Modal direcciones - destino</a>
    <a href="#libreta-nueva-destino" class="btn btn-warning btn-lg" data-toggle="modal">nueva direccion - destino</a>



    <!-- modal direcciones - origen -->
    <div class="modal fade" id="libreta">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">LIBRETA DE DIRECCIONES - ORíGEN</p>
                    </div>

                    <div class="row buscador-libreta">
                        <input type="text" class="col-md-7 foco-yellow inputcolor" placeholder="CÓDIGO POSTAL, ESTADO, CIUDAD, MUNICIPIO O DELEGACIÓN, CALLE Y NÚMERO">
                        <img src="img/web_elements/buscador-libreta.svg"  alt="">
                    </div>

                    <table class="table-responsive labels-table-rastreo direccion-table">
                        <thead>
                            <tr>
                                <th><div>CÓDIGO POSTAL</div></th>
                                <th><div>ESTADO</div></th>
                                <th><div>CIUDAD</div></th>
                                <th><div>MUNICIPIO O DELEGACIÓN</div></th>
                                <th><div>CALLE Y NÚMERO</div></th>
                                <th><img src="img/web_elements/plus-black.svg" alt=""></th>
                            </tr>                                                    
                        </thead>
                        <tbody>
                            <tr>
                                <td>43645</td>
                                <td>Hidalgo</td>
                                <td>Tulancingo de Bravo</td>
                                <td>Huapalcalcoda</td>
                                <td>Calle 2</td>
                                <td><img src="img/web_elements/circle-green.svg" alt=""></td>
                            </tr>

                            <tr>
                                <td>43645</td>
                                <td>Hidalgo</td>
                                <td>Tulancingo de Bravo</td>
                                <td>Huapalcalcoda</td>
                                <td>Calle 2</td>
                                <td><img src="img/web_elements/plus-opacity.svg" alt=""></td>
                            </tr>

                            <tr>
                                <td>43645</td>
                                <td>Hidalgo</td>
                                <td>Tulancingo de Bravo</td>
                                <td>Huapalcalcoda</td>
                                <td>Calle 2</td>
                                <td><img src="img/web_elements/circle-opacity.svg" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="col-md-12 mensaje-rojo">* Solo puede elegir una dirección para el ORIGEN de su envío</span>
                    <br><br>
                    <div class="row col-md-12 input-direccion-elegida">
                        <label for="direccion-elegida" class="col-md-3 bolita">DIRECCIÓN ELEGIDA</label>
                        <input type="text" id="direccion-elegida" class="col-md-9 form-control inputcolor foco-yellow"
                            value="43645, estado Hidalgo, cuidad Tulancingo, delegación Hupalcalcoda, calle 02">
                    </div>

                    <br>    
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar">ACEPTAR</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!--end direcciones origen-->


    <!--nueva direccion origen modal -->
    <div class="modal fade" id="libreta-nueva">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">NUEVA DIRECCIÓN - ORíGEN</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">NOMBRE (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="NOMBRE (S) DEL REMITENTE">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">APELLIDOS (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="APELLIDO (S) DEL REMITENTE">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">RFC
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RFC">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">RAZÓN SOCIAL 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RAZÓN SOCIAL ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO">
                        </div>

                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO 2 (OPCIONAL)">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">CORREO ELECTRÓNICO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CORREO ELECTRÓNICO">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="parrafo">CÓDIGO POSTAL
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CÓDIGO POSTAL">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">ESTADO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="ESTADO">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">CIUDAD
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CIUDAD">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">MUNICIPIO O DELEGACIÓN
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="MUNICIPIO O DELEGACIÓN">
                        </div>

                        <div class="col-md-9">
                            <label for="" class="parrafo">CALLE Y NÚMERO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CALLE Y NÚMERO *">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="parrafo">DIRECCIÓN LINEA 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="INTERIOR, COLONIA, ETC. (OPCIONAL)">
                        </div>
                    </div>
                    <span class="col-md-12 mensaje-rojo-obligatorio">* TODOS LOS CAMPOS MARCADOS, SON OBLIGATORIOS</span>
                    
                    <br><br>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar">GUARDAR</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- end nueva direccion origen-->


    <!-- modal direcciones - destino -->
    <div class="modal fade" id="libreta-destino">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">LIBRETA DE DIRECCIONES - DESTINO</p>
                    </div>

                    <div class="row buscador-libreta">
                        <input type="text" class="col-md-7 foco-yellow inputcolor" placeholder="CÓDIGO POSTAL, ESTADO, CIUDAD, MUNICIPIO O DELEGACIÓN, CALLE Y NÚMERO">
                        <img src="img/web_elements/buscador-libreta.svg"  alt="">
                    </div>

                    <table class="table-responsive labels-table-rastreo direccion-table">
                        <thead>
                            <tr>
                                <th><div>CÓDIGO POSTAL</div></th>
                                <th><div>ESTADO</div></th>
                                <th><div>CIUDAD</div></th>
                                <th><div>MUNICIPIO O DELEGACIÓN</div></th>
                                <th><div>CALLE Y NÚMERO</div></th>
                                <th><img src="img/web_elements/plus-black.svg" alt=""></th>
                            </tr>                                                    
                        </thead>
                        <tbody>
                            <tr>
                                <td>43645</td>
                                <td>Hidalgo</td>
                                <td>Tulancingo de Bravo</td>
                                <td>Huapalcalcoda</td>
                                <td>Calle 2</td>
                                <td><img src="img/web_elements/circle-green.svg" alt=""></td>
                            </tr>

                            <tr>
                                <td>43645</td>
                                <td>Hidalgo</td>
                                <td>Tulancingo de Bravo</td>
                                <td>Huapalcalcoda</td>
                                <td>Calle 2</td>
                                <td><img src="img/web_elements/plus-opacity.svg" alt=""></td>
                            </tr>

                            <tr>
                                <td>43645</td>
                                <td>Hidalgo</td>
                                <td>Tulancingo de Bravo</td>
                                <td>Huapalcalcoda</td>
                                <td>Calle 2</td>
                                <td><img src="img/web_elements/circle-opacity.svg" alt=""></td>
                            </tr>
                        </tbody>
                    </table>
                    <span class="col-md-12 mensaje-rojo">* Solo puede elegir una dirección para el DESTINO de su envío</span>
                    <br><br>
                    <div class="row col-md-12 input-direccion-elegida">
                        <label for="direccion-elegida" class="col-md-3 bolita">DIRECCIÓN ELEGIDA</label>
                        <input type="text" id="direccion-elegida" class="col-md-9 form-control inputcolor foco-yellow"
                            value="43645, estado Hidalgo, cuidad Tulancingo, delegación Hupalcalcoda, calle 02">
                    </div>

                    <br>    
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar">ACEPTAR</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!--end direcciones destino-->


    <!--nueva direccion destino modal -->
    <div class="modal fade" id="libreta-nueva-destino">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">NUEVA DIRECCIÓN - DESTINO</p>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">NOMBRE (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="NOMBRE (S) DEL REMITENTE">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">APELLIDOS (S) DEL REMITENTE 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="APELLIDO (S) DEL REMITENTE">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="" class="parrafo">RFC
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RFC">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">RAZÓN SOCIAL 
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="RAZÓN SOCIAL ">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO">
                        </div>

                        <div class="col-md-3">
                            <label for="" class="parrafo">TELEFONO 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="TELEFONO 2 (OPCIONAL)">
                        </div>

                        <div class="col-md-6">
                            <label for="" class="parrafo">CORREO ELECTRÓNICO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CORREO ELECTRÓNICO">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <label for="" class="parrafo">CÓDIGO POSTAL
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CÓDIGO POSTAL">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">ESTADO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="ESTADO">
                        </div>

                        <div class="col-md-4">
                            <label for="" class="parrafo">CIUDAD
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CIUDAD">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="" class="parrafo">MUNICIPIO O DELEGACIÓN
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="MUNICIPIO O DELEGACIÓN">
                        </div>

                        <div class="col-md-9">
                            <label for="" class="parrafo">CALLE Y NÚMERO
                                <span style="color: #D62020;">*</span>
                            </label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="CALLE Y NÚMERO *">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="parrafo">DIRECCIÓN LINEA 2</label>
                            <input type="text" class="form-control inputcolor foco-yellow"
                                placeholder="INTERIOR, COLONIA, ETC. (OPCIONAL)">
                        </div>
                    </div>
                    <span class="col-md-12 mensaje-rojo-obligatorio">* TODOS LOS CAMPOS MARCADOS, SON OBLIGATORIOS</span>
                    
                    <br><br>
                    <div class="col-md-12 text-center">
                        <button type="submit" class="guardar">GUARDAR</button>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <!-- end nueva direccion destino-->

<!-- include scripts -->
<script src="js/all.min.js"></script>
<script src="js/jquery.min.js"></script>
<script src="js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/datepicker.js"></script>
<script src="js/main.js"></script>