<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- include estilos -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/inicioSesion.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/querysMobile.css">
    <title>Modal</title>
</head>
<body>
    <!-- modal de pagos -->
    <a href="#ventana1" class="btn btn-primary btn-lg" data-toggle="modal">Modal Pagos</a>

    <div class="modal fade" id="ventana1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            
                <div class="modal-body yellow">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">PAGOS</p>
                    </div>

                    <h4 class="text-center titulo">ELIGE TU MÉTODO DE PAGO</h4>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 padding">
                                <img class="img1" width="100%" src="img/Paypal.svg" alt="pago" id="paypal">
                            </div>

                            <div class="col-md-4 padding">
                                <img class="img2" width="100%" src="img/Stripe.svg" alt="pagos" id="stripe">
                            </div>

                            <div class="col-md-4 padding">
                                <img class="img3" width="100%" src="img/Spe.svg" alt="spei" id="spei">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 padding">
                                <img class="img4" src="img/transferencia.svg" width="100%" alt="transferencia" id="transferencia">
                            </div>

                            <div class="col-md-4 padding">
                                <img class="img5" src="img/deposito.svg" width="100%" alt="deposito" id="deposito">
                            </div>

                            <div class="col-md-4 padding">
                                <img class="img6" src="img/practicaja.svg" width="100%" alt="practicaja" id="practicaja">
                            </div>
                        </div>
                    </div>

                    <!-- stripe -->
                    <div class="col-md-12" id="caja-stripe">
                        <hr class="pagos-separator">
                        <h4 class="text-center titulo">ingresa LOS SIGUÉNTES DATOS</h4>
                        <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="nombre" class="parrafo">NOMBRE (EN LA TARJETA)</label>
                                <input type="text" name="nombre" id="nombre" class="form-control foco-yellow inputcolor" placeholder="NOMBRE (EN LA TARJETA)">
                            </div>

                            <div class="col-md-6">
                                <label for="apellido" class="parrafo">APELLIDO (EN LA TARJETA)</label>
                                <input type="text" name="apelido" id="apellido" class="form-control foco-yellow inputcolor" placeholder="APELLIDO (EN LA TARJETA)">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <label for="numero" class="parrafo">NUMERO DE LA TARJETA</label>
                                <input type="text" name="numero" id="numero" class="form-control foco-yellow inputcolor" placeholder="NUMERO DE LA TARJETA">
                            </div>

                            <div class="col-md-3">
                                <label for="fecha" class="parrafo">FECHA DE CADUCIDAD</label>
                                <input type="text" name="fecha" id="fecha" class="form-control foco-yellow inputcolor datepicker">
                                <label for="fecha" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                            </div>

                            <div class="col-md-3">
                                <label for="codigo" class="parrafo">CÓDIGO DE SEGURIDAD</label>
                                <input type="text" name="codigoSeguridad" id="codigoSeguridad" class="form-control foco-yellow inputcolor" placeholder="CÓDIGO DE SEGURIDAD">
                                <label for="codigoSeguridad" class="input-img"><i class="far fa-credit-card"></i></label>
                            </div>
                        </div>

                        <div class="row alo">

                            <label for="monto" class="badge badge-light col-md-3 parrafo2">MONTO A PAGAR</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>

                            <label for="transferido" class="badge badge-light col-md-3 parrafo2">MONTO TRANSFERIDO</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>
                            
                            <div class="col-md-1"></div>
                        </div>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="guardar">ACEPTAR</button>
                        </div>
                        </form>
                    </div>
                    <!--end stripe-->


                    <!-- spei -->
                    <div class="col-md-12" id="caja-spei">
                        <hr class="pagos-separator">
                        <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                        <form action="#">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="fechaSpei" class="spei">FECHA DE LA TRANSACCIÓN</label>
                                <input type="text" name="fechaSpei" id="fechaSpei" class="form-control foco-yellow inputcolor datepicker">
                                <label for="fechaSpei" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                            </div>

                            <div class="col-md-3">
                                <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                                <input type="time" name="hora" id="hora" class="form-control timepicker foco-yellow inputcolor" list="time">
                                <label for="hora" class="input-img-time"><i class="fas fa-clock"></i></label>
                            </div>

                            <div class="col-md-6">
                                <label for="numerefe" class="spei">NÚMERO DE REFERENCIA</label>
                                <input type="text" name="numeroReferencia" id="numerefe" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                            </div>
                        </div>

                        <div class="col-md-6 folio">
                            <label for="rastreo" class="spei">FOLIO DE RASTREO</label>
                            <input type="text" name="folioRastreo" id="folioRastreo" class="form-control foco-yellow inputcolor" placeholder="FOLIO DE RASTREO">
                        </div>

                        <div class="row">
                            
                            <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>

                            <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO DEPOSITADO</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>
                        </div>
                        <br>
                        <div class="col-md-12 text-center">
                            <button type="submit" class="guardar">ACEPTAR</button>
                        </div>
                        </form>
                    </div>
                    <!-- end spei -->


                    <!-- transferencia -->
                    <div class="col-md-12" id="caja-transferencia">
                        <hr class="pagos-separator">
                        <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                        <form action="#">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="fechaTransaccion" class="spei">FECHA DE LA TRANSACCIÓN</label>
                                <input type="text" name="fechaTransaccion" id="fechaTransaccion" class="form-control datepicker foco-yellow inputcolor">
                                <label for="fechaTransaccion" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                            </div>

                            <div class="col-md-3">
                                <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                                <input type="time" name="hora" id="hora" class="form-control timepicker foco-yellow inputcolor" list="time">
                                <label for="hora" class="input-img-time"><i class="fas fa-clock"></i></label>
                            </div>

                            <div class="col-md-6">
                                <label for="numeroReferencia" class="spei">NÚMERO DE REFERENCIA</label>
                                <input type="text" name="numeroReferencia" id="numeroReferencia" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6 folio">
                                <label for="internet" class="spei">FOLIO DEL INTERNET</label>
                                <input type="text" name="internet" id="internet" class="form-control foco-yellow inputcolor" placeholder="FOLIO DEL INTERNET">
                            </div>
        
                            <div class="col-md-6 folio">
                                <label for="cuenta" class="spei">CUENTA DE RETIRO (OPCIONAL - PARA FACTURAS)</label>
                                <input type="text" name="cuenta" id="cuenta" class="form-control foco-yellow inputcolor" placeholder="CUENTA DE RETIRO (OPCIONAL - PARA FACTURAS)">
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>

                            <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO TRANSFERIDO</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>
                        </div>
                        <br>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="guardar">ACEPTAR</button>
                        </div>
                        </form>
                    </div>
                    <!-- end transferencia -->


                    <!-- deposito en efectivo -->
                    <div class="col-md-12" id="caja-deposito">
                        <hr class="pagos-separator">
                        <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                        <form action="#">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="fechaTransaccion" class="spei">FECHA DE LA TRANSACCIÓN</label>
                                <input type="text" name="fechaTransaccionDeposito" id="fechaTransaccionDeposito" class="form-control datepicker foco-yellow inputcolor">
                                <label for="fechaTransaccionDeposito" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                            </div>

                            <div class="col-md-3">
                                <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                                <input type="time" name="horaDeposito" id="horaDeposito" class="form-control timepicker foco-yellow inputcolor" list="time">
                                <label for="horaDeposito" class="input-img-time"><i class="fas fa-clock"></i></label>
                            </div>

                            <div class="col-md-6">
                                <label for="numeroReferencia" class="spei">NÚMERO DE REFERENCIA</label>
                                <input type="text" name="numeroReferencia" id="numeroReferencia" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                            </div>
                        </div>
                        
                        <div class="col-md-6 folio">
                            <label for="movimiento" class="spei">NÚMERO DE MOVIMIENTO</label>
                            <input type="text" name="movimiento" id="movimiento" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE MOVIMIENTO">
                        </div>
                        
                        <div class="row">
                            
                            <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>

                            <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO TRANSFERIDO</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>
                        </div>
                        <br>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="guardar">ACEPTAR</button>
                        </div>
                        </form>
                    </div>
                    <!-- end deposito en efectivo-->

                    <!-- practicaja -->
                    <div class="col-md-12" id="caja-practicaja">
                        <hr class="pagos-separator">
                        <h4 class="text-center titulo">INGRESA LOS SIGUÍENTES DATOS</h4>
                        <form action="#">
                        <div class="row">
                            <div class="col-md-3">
                                <label for="fechaTransaccion" class="spei">FECHA DE LA TRANSACCIÓN</label>
                                <input type="text" name="fechaTransaccionPracticaja" id="fechaTransaccionPracticaja" class="form-control datepicker foco-yellow inputcolor">
                                <label for="fechaTransaccionPracticaja" class="input-img"><i class="far fa-calendar-alt"></i></label> 
                            </div>

                            <div class="col-md-3">
                                <label for="hora" class="spei">HORA DE LA TRANSACCIÓN</label>
                                <input type="time" name="horaTransaccion" id="horaTransaccion" class="form-control timepicker foco-yellow inputcolor" list="time">
                                <label for="horaTransaccion" class="input-img-time"><i class="fas fa-clock"></i></label>
                            </div>

                            <div class="col-md-6">
                                <label for="numeroReferencia" class="spei">NÚMERO DE REFERENCIA</label>
                                <input type="text" name="numeroReferencia" id="numeroReferencia" class="form-control foco-yellow inputcolor" placeholder="NÚMERO DE REFERENCIA">
                            </div>
                        </div>
                        
                        <div class="row folio">
                            <div class="col-md-4">
                                <label for="folionum" class="spei">FOLIO NÚMERO</label>
                                <input type="text" name="folionum" id="folionum" class="form-control foco-yellow inputcolor" placeholder="FOLIO NÚMERO">
                            </div>
                            
                            <div class="col-md-4">
                                <label for="avt" class="spei">AVT</label>
                                <input type="text" name="avt" id="avt" class="form-control foco-yellow inputcolor" placeholder="INGRESAR AVT">
                            </div>
                            
                            <div class="col-md-4 adjuntar-comprobante">
                                <i class="fas fa-plus-circle"></i> 
                                <span>ADJUNTAR COMPROBANTE</span>
                            </div>
                        </div>
                        
                        <div class="row">
                            
                            <label for="monto" class="badge badge-light col-md-2 parrafo2">MONTO A PAGAR</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>

                            <label for="transferido" class="badge badge-light col-md-2 parrafo2">MONTO TRANSFERIDO</label>
                            <div class="col-md-3 inputcolor2">
                                $ 300,25 <small>MX</small>
                            </div>
                        </div>
                        <br>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="guardar">ACEPTAR</button>
                        </div>
                        </form>
                    </div>
                    <!-- end practicaja -->
                </div>
            </div>
        </div>
    </div>


    <!-- include scripts -->
    <script src="js/all.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/datepicker.js"></script>
    <script src="js/main.js"></script>