{{> header title="Panel"}}

    {{> menu panel="Active" user="Eduardo Macías"}}
    
        <!-- Sección Central --> 
            <div class="row col-md-9" id="panel">
                <div class="col-md-7 centrar banner">
                    banner informativo
                </div>

                <div class="col-md-5 centrar tu-saldo">
                    <span>TU SALDO</span>
                    <div>$ 200.25</div>
                </div>

                
                <div class="col-md-6">
                    <!-- recuadro envios -->
                    <div class="col-md-12 recuadro-panel">
                        <div class="title-blue">ENVÍOS RECIENTES</div>
                        
                        <table class="table-responsive tabla-envios-recientes">
                            <thead>
                                <tr>
                                    <th>FECHA DE ENVÍO</th>
                                    <th>DESTINATARIO</th>
                                    <th>ESTATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>22/09/2019</td>
                                    <td>Carlos Peréz</td>
                                    <td><div class="green">enviado</div></td>
                                </tr>

                                <tr>
                                    <td>15/09/2019</td>
                                    <td>Marcos López</td>
                                    <td><div class="yellows">en camino</div></td>
                                </tr>

                                <tr>
                                    <td>05/09/2019</td>
                                    <td>María</td>
                                    <td><div class="blues">entregado</div></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!--end recuadro envios -->

                    <!-- recuadro integraciones -->
                    <div class="col-md-12 recuadro-panel text-center">
                        <div class="title-blue">TUS INTEGRACIONES</div>                        
                        <img src="img/logos/magento-opacity.svg" class="integraciones" alt="magento">
                        <img src="img/logos/woocommerce.svg" class="integraciones" alt="woocommerce">
                        <img src="img/logos/shopify.svg" class="integraciones" alt="shopify">                        
                    </div>
                    <!--end recuadro integraciones -->                
                </div> 

                <div class="col-md-6">
                    <!-- recuadro resumen de envios -->
                    <div class="col-md-12 recuadro-panel">
                        <div class="title-blue">RESUMEN DE ENVÍOS</div> 

                        <img src="img/web_elements/calendario.svg" class="select-calendario" alt="">
                        <input type="text" class="form-control datepicker select-fecha" 
                            placeholder="Agosto 06,2019 - Septiembre 06,2019">
                        
                        <div class="row col-md-12" style="padding: 0px;">
                            <canvas id="enviados" class="col-md-6"></canvas>
                            <canvas id="en-transito" class="col-md-6"></canvas>
                            <canvas id="entregado" class="col-md-6"></canvas>
                            <canvas id="incidencia" class="col-md-6"></canvas>
                        </div>  
                    </div>
                    <!--end recuadro resumen de envios -->    
                </div>

            </div>
            <!-- end seccion central-->

        </div><!-- end contenido central -->
    </div><!-- end contenido central -->
    
    <!-- modal perfil -->
    <div class="modal fade" id="perfil">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">PERFIL</p>
                    </div>
                    
                    <div class="row col-md-12 div-form">
                        <label for="">NOMBRE (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">APELLIDO (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                    </div>

                    <div class="row col-md-12 sin-padding">
                        <div class="row col-md-6 div-form">
                            <label for="">RFC</label>
                            <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                        </div>
                        <div class="row col-md-6 div-form">
                            <label for="">TELEFÓNO</label>
                            <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                        </div>
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">EMAIL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">RAZÓN SOCIAL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <div class="row col-md-7 sin-padding total">
                            <strong class="centrar">TUS PUNTOS</strong>
                            <span class="centrar">100</span>
                            <small>pts</small>
                        </div>
                        <div class="col-md-4 sin-padding centrar canjear-puntos">
                            <img src="img/web_elements/canjear-puntos.svg" alt="">
                            <span>CANJEAR PUNTOS</span>
                        </div>
                    </div>
                    <br><br>

                    <div class="row text-center">
                        <div class="col-md-5">
                            <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                        </div>

                        <div class="col-md-5" id="in">
                            <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal-perfil -->

{{> footer }}


{{> scripts importScript="/js/dashboard/graficas.js" }}
