<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/estiloModal.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <title>Prueba Ventana Modal</title>
</head>

<body>
    <p class="parrafoModal enlace">
        <a href="#exampleModalLong" data-target="#modalRegistroUsuario" data-toggle="modal">Registrar Usuario</a><br>
    </p>
    <div class="modal fade" id="modalRegistroUsuario" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="row bordeVentanaModal">
                    <div class="cerrarModal col-12 d-flex flex-row justify-content-end">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span class="d-flex align-content-center" aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="col-lg-5 align-self-center">
                        <img class="bienvenidaModal text-center" src="img/models/v2/mujer_laptop.png" height="400em"
                            alt="Bienvenido">
                    </div>
                    <div class="col-lg-7 text-center container2Modal">
                        <form>
                            <label class="lblBienvenidoModal"><strong>bienvenido</strong></label>
                            <p class="parrafoModal texto1Modal font-weight-normal">¡Necesitamos algunos datos para
                                seguir con el registro!</p>
                            <!-- Nombre -->
                            <div class="form-group form-inline espaciadoModal">
                                <label for="txtNombreModal" class="lblNombreModal">nombre(s)</label>
                                <input type="text" required id="txtNombreModal" class="txtNombreModal" title="Nombre(s)"
                                    size="31" placeholder="Nombre(s)">
                            </div>
                            <!-- Apellido -->
                            <div class="form-group form-inline espaciadoModal">
                                <label for="txtApellidoModal" class="lblApellidoModal">apellido(s)</label>
                                <input type="text" required id="txtApellidoModal" class="txtApellidoModal"
                                    title="Apellido(s)" size="30" placeholder="Apellido(s)">
                            </div>
                            <div class="d-flex align-items-center">
                                <!-- Teléfono / Email -->
                                <div class="form-group form-inline espaciadoModal">
                                    <label for="txtTelefonoModal" class="lblTelefonoModal">teléfono(s)</label>
                                    <input type="text" required id="txtTelefonoModal" class="txtTelefonoModal"
                                        maxlength="12" title="Teléfono(s)" size="15" placeholder="teléfono">
                                    <label for="txtEmailModal" class="lblEmailModal">email</label>
                                    <input type="mail" required id="txtEmailModal" class="txtEmailModal" title="Email"
                                        size="13" placeholder="email">
                                </div>
                            </div>
                            <!-- Contraseña 1 / 2 -->
                            <div class="d-flex">
                                <div class="form-group form-inline align-items-center espaciadoModal">
                                    <label for="txtClave1Modal"
                                        class="lblClave1Modal align-self-center">contraseña</label>
                                    <input type="password" required id="txtClave1Modal" class="txtClave1Modal"
                                        title="Introduzca su contraseña" size="15" placeholder="contraseña">
                                    <label for="txtClave2Modal"
                                        class="lblClave2Modal align-self-center">repetir<br>contraseña</label>
                                    <input type="password" required id="txtClave2Modal" class="txtClave2Modal"
                                        title="Repita la contraseña" size="15" placeholder="repetir">
                                </div>
                            </div>
                            <hr class="estiloLinea2Modal">
                            <p class="parrafoModal espaciadoModal texto2Modal">Puedes registrarte también con:</p>
                            <!-- Botones Redes Sociales -->
                            <div class="d-flex flex-row mb-2 justify-content-around">
                                <!-- Facebook -->
                                <div class="p-2">
                                    <div class="d-flex flex-row mb-2 align-items-start">
                                        <a href="http://" class="lnkFacebookModal p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="14pt" height="14pt"
                                                viewBox="0 0 30 30" version="1.1">
                                                <g id="surface1">
                                                    <path
                                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(255, 255, 255);fill-opacity:1;"
                                                        d="M 25.605469 0 L 4.394531 0 C 1.972656 0 0 1.972656 0 4.394531 L 0 25.605469 C 0 28.027344 1.972656 30 4.394531 30 L 13.242188 30 L 13.242188 19.394531 L 9.726562 19.394531 L 9.726562 14.121094 L 13.242188 14.121094 L 13.242188 10.546875 C 13.242188 7.640625 15.609375 5.273438 18.515625 5.273438 L 23.847656 5.273438 L 23.847656 10.546875 L 18.515625 10.546875 L 18.515625 14.121094 L 23.847656 14.121094 L 22.96875 19.394531 L 18.515625 19.394531 L 18.515625 30 L 25.605469 30 C 28.027344 30 30 28.027344 30 25.605469 L 30 4.394531 C 30 1.972656 28.027344 0 25.605469 0 Z M 25.605469 0 " />
                                                </g>
                                            </svg>
                                            <span class="textoRedes1Modal">facebook</span>
                                        </a>
                                    </div>
                                </div>
                                <!-- Google -->
                                <div class="p-2">
                                    <div class="d-flex flex-row mb-2 align-items-start">
                                        <a href="http://" class="lnkGoogleModal p-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                xmlns:xlink="http://www.w3.org/1999/xlink" width="14pt" height="14pt"
                                                viewBox="0 0 30 30" version="1.1">
                                                <g id="surface1">
                                                    <path
                                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(98.431373%,73.333333%,0%);fill-opacity:1;"
                                                        d="M 6.648438 18.128906 L 5.605469 22.027344 L 1.789062 22.109375 C 0.648438 19.992188 0 17.570312 0 15 C 0 12.511719 0.605469 10.167969 1.675781 8.101562 L 1.679688 8.101562 L 5.074219 8.726562 L 6.566406 12.101562 C 6.253906 13.011719 6.082031 13.984375 6.082031 15 C 6.082031 16.101562 6.28125 17.15625 6.648438 18.128906 Z M 6.648438 18.128906 " />
                                                    <path
                                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(31.764706%,55.686275%,97.254902%);fill-opacity:1;"
                                                        d="M 29.738281 12.199219 C 29.910156 13.105469 30 14.042969 30 15 C 30 16.074219 29.886719 17.121094 29.671875 18.132812 C 28.941406 21.570312 27.035156 24.574219 24.390625 26.699219 L 24.390625 26.695312 L 20.109375 26.476562 L 19.503906 22.695312 C 21.257812 21.667969 22.628906 20.058594 23.351562 18.132812 L 15.328125 18.132812 L 15.328125 12.199219 Z M 29.738281 12.199219 " />
                                                    <path
                                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(15.686275%,70.588235%,27.45098%);fill-opacity:1;"
                                                        d="M 24.390625 26.695312 L 24.390625 26.699219 C 21.820312 28.765625 18.554688 30 15 30 C 9.289062 30 4.320312 26.808594 1.789062 22.109375 L 6.648438 18.128906 C 7.914062 21.511719 11.175781 23.917969 15 23.917969 C 16.644531 23.917969 18.183594 23.472656 19.503906 22.695312 Z M 24.390625 26.695312 " />
                                                    <path
                                                        style=" stroke:none;fill-rule:nonzero;fill:rgb(94.509804%,26.27451%,21.176471%);fill-opacity:1;"
                                                        d="M 24.574219 3.453125 L 19.714844 7.429688 C 18.347656 6.578125 16.730469 6.082031 15 6.082031 C 11.089844 6.082031 7.769531 8.601562 6.566406 12.101562 L 1.679688 8.101562 L 1.675781 8.101562 C 4.171875 3.289062 9.203125 0 15 0 C 18.640625 0 21.976562 1.296875 24.574219 3.453125 Z M 24.574219 3.453125 " />
                                                </g>
                                            </svg>
                                            <span class="textoRedes2Modal">google</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" id="btnGuardar" class="btnGuardar">guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>