{{> header title="Rastreo"}}

    {{> menu rastreo="Active" user="Eduardo Macías"}}

        <!-- Sección Central -->
            <div class="col-md-9" id="seccionCentral">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-panel" role="tabpanel" aria-labelledby="v-pills-panel-tab">
                        <div class="container-fluid">
                            <div class="row" style="margin-top: 1.2rem;">
                                <!-- Titulo Amarillo -->
                                <div class="col-11 col-md-11 col-sm-12 tituloAmarilloCotizacion">
                                    <span>rastreo</span>
                                </div>
                            </div>

                            <!-- Recuadro Gris -->
                            <div class="row">
                                <div class="col-11 mt-1" style="padding-left: 0px; padding-right: 0px;">
                                    <!-- Detalle de Cotización -->
                                    <div class="row recuadroCentralCotizacion">
                                        <div class="container" style="background: #FFFFFF 0% 0% no-repeat padding-box; max-width: 100%;">
                                            <h1 class="titulo-lista-envios">LISTA DE ENVÍOS</h1>

                                            <div class="row col-md-12 buscar-numero-guia">
                                                <label class="col-md-4" for="guia">NÚMERO DE GUíA</label>
                                                <input type="text" id="guia" class="col-md-5 foco-yellow" placeholder="ESCRIBA SU NÚMERO DE GUÍA">
                                                <img class="col-md-3" src="/img/web_elements/buscar.svg" alt="">
                                            </div>

                                            <table class="table-responsive labels-table-rastreo">
                                                <thead>
                                                    <tr>
                                                        <th><div>NÚMERO DE GUíA</div></th>
                                                        <th><div>FECHA DE ENVÍO</div></th>
                                                        <th><div>CUIDAD DESTINO</div></th>
                                                        <th><div>ESTATUS DE ENVÍO</div></th>
                                                        <th><div>DESTINATARIO</div></th>
                                                        <th><img src="/img/web_elements/black-eye.svg" alt=""></th>
                                                    </tr>                                                    
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>000-000-000</td>
                                                        <td>15 / 12 / 2019</td>
                                                        <td>PAQUETE</td>
                                                        <td><div class="row col-md-12 status-envio">
                                                                <div class="entregado"></div>
                                                                <div>ENTREGADO</div>
                                                            </div>
                                                        </td>
                                                        <td class="text-left p-3">
                                                            <span  class="name-table-destinatario">José Castañeda</span><br>
                                                            Morelos Sur N° 250 Morella Michoacan 580220 Morelia, MC Mexico
                                                        </td>
                                                        <td><img src="/img/web_elements/blue-eye.svg" alt=""></td>
                                                    </tr>

                                                    <tr>
                                                        <td>000-000-000</td>
                                                        <td>15 / 12 / 2019</td>
                                                        <td>DOCUMENTO</td>
                                                        <td><div class="row col-md-12 status-envio">
                                                                <div class="camino-documento"></div>
                                                                <div>EN CAMINO</div>
                                                            </div>
                                                        </td>
                                                        <td class="text-justify p-3">
                                                            <span class="name-table-destinatario">José Castañeda</span> <br>
                                                            Morelos Sur N° 250 Morella Michoacan 580220 Morelia, MC Mexico
                                                        </td>
                                                        <td><img src="/img/web_elements/blue-eye.svg" alt=""></td>
                                                    </tr>
                                                    <tr>
                                                        <td>000-000-000</td>
                                                        <td>15 / 12 / 2019</td>
                                                        <td>PAQUETE</td>
                                                        <td><div class="row col-md-12 status-envio">
                                                                <div class="camino-paquete"></div>
                                                                <div>EN CAMINO</div>
                                                            </div>
                                                        </td>
                                                        <td class="text-justify p-3">
                                                            <span class="name-table-destinatario">José Castañeda</span> <br>
                                                            Morelos Sur N° 250 Morella Michoacan 580220 Morelia, MC Mexico
                                                        </td>
                                                        <td><img src="/img/web_elements/blue-eye.svg" alt=""></td>
                                                    </tr>
                                                </tbody>
                                            </table>                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>


    <!-- modal perfil -->
    <div class="modal fade" id="perfil">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body yellow col-md-12">
                    <!-- cuerpo del modal -->
                    <div class="cuadro">
                        <button type="button" class="close2" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <p class="text-center pago">PERFIL</p>
                    </div>
                    
                    <div class="row col-md-12 div-form">
                        <label for="">NOMBRE (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="NOMBRE (S)">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">APELLIDO (S)</label>
                        <input type="text" class="form-control foco-yellow" placeholder="APELLIDO (S)">
                    </div>

                    <div class="row col-md-12 sin-padding">
                        <div class="row col-md-6 div-form">
                            <label for="">RFC</label>
                            <input type="text" class="form-control foco-yellow" placeholder="RFC (OPCIONAL)">
                        </div>
                        <div class="row col-md-6 div-form">
                            <label for="">TELEFÓNO</label>
                            <input type="text" class="form-control foco-yellow" placeholder="TELEFÓNO">
                        </div>
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">EMAIL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="EMAIL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <label for="">RAZÓN SOCIAL</label>
                        <input type="text" class="form-control foco-yellow" placeholder="RAZÓN SOCIAL">
                    </div>

                    <div class="row col-md-12 div-form">
                        <div class="row col-md-7 sin-padding total">
                            <strong class="centrar">TUS PUNTOS</strong>
                            <span class="centrar">100</span>
                            <small>pts</small>
                        </div>
                        <div class="col-md-4 sin-padding centrar canjear-puntos">
                            <img src="img/web_elements/canjear-puntos.svg" alt="">
                            <span>CANJEAR PUNTOS</span>
                        </div>
                    </div>
                    <br><br>

                    <div class="row text-center">
                        <div class="col-md-5">
                            <button type="submit" class="col-md-12 enlace ingresar blanco-informacion">EDITAR INFORMACION</button>
                        </div>

                        <div class="col-md-5" id="in">
                            <button type="submit" class="col-md-12 enlace ingresar">GUARDAR</button>
                        </div>
                    </div>
                    <br>

                </div>
            </div>
        </div>
    </div>
    <!-- end modal-perfil -->
    
{{> footer }}

{{> scripts }}

