{{> header title="Recuperar contraseña"}}

    <div class="inicio">
        <img class="col-md-lg-6 logo" src="/img/logos/wikienvios_logotipo_PNG-01.png" alt="Logo Wikienvios" width="15%">

        <!-- figuras -->
        <div class="figura1"></div>
        <div class="figura2"></div>
        
        <!-- caja de formulario inicio sesion -->
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 row formulario-sesion centrar">
                <!-- contenido formulario -->
                <div class="col-md-6 text-left" style="padding: 3rem;">
                    <br>
                    <h1 class="hola sin-mouse">NUEVA</h1>
                    <span class="enviaremos sin-mouse">CONTRASE&Nacute;A</span>
                </div>
                <!-- formulario de iniciar sesion-->
                <div class="col-md-6 form recuperacion-form">
                    <div class="row space-mobile" style="margin-bottom: 1.5rem;">
                        <label for="email" class="">NUEVA CONTRASE&Nacute;A</label>
                        <input type="text" id="email" class="form-control">
                        <img src="/img/web_elements/llave.svg" alt="">
                    </div>
                    
                    <div class="row space-mobile">
                        <label for="password" class="">CONFIRMAR CONTRASE&Nacute;A</label>
                        <input type="text" id="password" class="form-control">
                        <img src="/img/web_elements/reload.svg" alt="">
                    </div>   
                    <a data-target="#cuenta-recuperada" data-toggle="modal"  class="col-md-4 ingresar">
                        ACEPTAR
                    </a>             
                </div>   
                <!-- END FORMULARIO -->  

            </div>
            <br>
        </div>
        <!-- end caja formulario inicio sesion-->
    </div>     

    
<!-- modal cuenta recuperada -->
<div class="modal fade" id="cuenta-recuperada">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body yellow col-md-12">
                <!-- <img src="/img/web_elements/x-blue.svg" class="close-x" alt=""  
                    data-dismiss="modal" aria-hidden="true">-->
                <!-- cuerpo del modal -->
                <img src="/img/logos/wikienvios_logotipo_PNG-01.png" class="col-md-3 logo-listo" alt="">
                <div class="listo">
                    <h1>LISTO!</h1>
                    <span>HAS RECUPERADO TU CONTRASE&Nacute;A</span>
                </div>
                <br>
                <center>
                    <a href="/dashboard" class="ingresar-recuperacion">INGRESA</a>
                </center>
                <br>
            </div>
        </div>
    </div>
</div>
<!--end guia de envios-->


{{> scripts }}