/*  Etiquetas  */
.tituloPagina {
	text-transform: uppercase;
    font: 100 13px/19px "Montserrat-Bold";
    position: relative;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: #FED55D;
    border-radius: .25rem;
}
.contenidoTitulo {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
}
.recuadroGrisFull{
	background: #F5F5F4 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
	border-radius: 10px;
}
.form-group.required label:after { 
    content:" *";
    color:red;
 }
 ::placeholder {
    color: #484349;
    font: 600 8px 'Montserrat-Bold';
}
/* input, textarea {
    background-color : #F5F5F4 !important;
    border: 0px !important;
} */
form{
    width: 100%;
}
.labelForm{
	color: #484349;
	text-transform: uppercase;
    font: 600 10px 'Montserrat-Bold';
    margin-left: 10px;
}

.m-switch{
    margin-top: 6px;
}

.switch {
    position: relative;
    display: block;
    width: 60px;
    height: 25px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 4px;
    bottom: 3px;
    background-color: #FFF;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #00BDB7 ;
}

input:focus + .slider {
    box-shadow: 0 0 1px #00BDB7 ;
}

input:checked + .slider:before {
    -webkit-transform: translateX(33px);
    -ms-transform: translateX(33px);
    transform: translateX(33px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.group-switch{
    padding-left: 0px !important;
}

input::-webkit-input-placeholder {
    transform:translate3d(0,-4px,0)
}

.button-yellow {
    border-radius: 34px;
    background-color: #FED55D;
    border: none;
    color: #707070;
    cursor: pointer;
    display: inline-block;
    font: 100 8px "Montserrat-Bold";
    padding: 4px 4px;
    white-space: nowrap;
    text-decoration: none !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.btn-alt{
    min-width: 150px;
    min-height: 30px;
    font: 100 15px "Montserrat-Bold";
}

.button-yellow:hover {
    color: #707070;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.img-button{
    width: 18px;
}

.button-green {
    border-radius: 34px;
    background-color: #00BDB7;
    border: none;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font: 100 8px "Montserrat-Bold";
    padding: 8px 8px;
    white-space: nowrap;
    text-decoration: none !important;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
}

.button-green:hover {
    color: #FFF;
    transform: translateY(-5px);
    transition: all 0.2s ease;
}

.custom-control-label {
    position: relative;
    font: 100 14px "Montserrat-Medium";
    letter-spacing: 0.75px;
    color: #707070;
    opacity: 1;
    padding: 3px;
}

.custom-control-label::before {
    border: #00BDB7 solid 2px !important;
    border-radius: 0 !important;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #00BDB7 !important;
    background-color: #00BDB7 !important;
}

.invalid-warning {
    margin-top: .25rem;
    font: 100 8px "Montserrat-Bold";
    color: #D62020;
}

.title-box{
    border-radius: 34px;
    height: 27px;
    background-color: #ECECEB;
    z-index: 20;
}

.typeBox{
    border-top-left-radius: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 34px;
    height: 35px;
    background-color: #F5F5F4;
    vertical-align: middle;
    border: #F5F5F4 solid 1px !important;
}

.box-green{
    border-top-left-radius: 34px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 34px;
    height: 27px;
    background-color: #00BDB7;
    vertical-align: middle;
    margin-left: -20px;
    border: #00BDB7 solid 1px !important;
    min-width: 180px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.subtotal{
    text-align: left;
    font: 500 10px "Montserrat-Bold";
    letter-spacing: 1.2px;
    color: #FFFFFF;
    opacity: 1;
}

.label-box{
    padding: 8px; 
    color:#707070;
    font: 100 8px "Montserrat-Bold";
}

.labelCheck{
    border-radius: 34px;
    height: 35px;
    min-width: 100px;
    width: 180px;
    background-color: #ECECEB;
    z-index: 20;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.packages{
    padding-right: 4px !important;
    padding-left: 4px !important;
    height: 65px !important;
}

.title-group {
    padding: 12px; 
    color:#707070;
    font: 100 8px "Montserrat-Bold";
    border-radius: .3rem;
}

.custom-textinput{
    border-radius: 5px;
    background-color: #F5F5F4;
    height: 100%;
}

.textinput-title{
    color:#484349;
    font: 100 9px "Montserrat-Bold";
    height: 22px;
}

.input-yellow{
    border: 1px solid #FED55D !important; 
    height: 34px !important; 
    margin-left: -20px;
    text-align:center;
}

.form-control.input-yellow:focus {
    border-color: #FED55D;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 173, 7, 0.6);
}

.textinput-sub{
    color:#484349;
    font: 100 9px "Montserrat-Bold";
    position: absolute;
    bottom: 2px;
    right: 15px;
}

.subtotalinfo{
    color:#FFF;
    font: 100 9px "Montserrat-Bold";
    position: absolute;
    bottom: 5px;
    right: 15px;
}
input.dimensions[type="text"] {
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    padding: 0 !important;
    height: 30%;
}

.input-prepend {
    border-radius: 4px;
    background: white;
}

.input-prepend .add-on {
    margin-right: -28px;
}

.input-prepend input {
    border-radius: 4px;
    background: none;
    padding-left: 34px; /*28 for icon, 6 for normal padding*/
}

.input-group-prepend {
    margin-right: 0px !important; 
    
}

.input-group-text{
    border-radius: 34px !important;
}

.wrap {
    z-index: 999999;
    right: 0;
    height: 34px;
    text-align: center;
    border-radius: 34px;
    background-color: #F5F5F4;
    /* Solution part I. */
    display: table;
}
.colum-buttons{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.image-row {
    text-align: center;
}

.image-box {
    width: 40%;
    padding: 1%;
    margin: .5%;
    background:#FFF;
    display: inline-block;
    font-size: 0; /* fixes bottom padding */
    cursor: pointer;
}

.single-box {
    width: 80%;
    padding: 1%;
    margin: .5%;
    background:#FFF;
    display: inline-block;
    font-size: 0; /* fixes bottom padding */
    cursor: pointer;
}

.image-box img {
    max-width: 100%;
}

.single-box img {
    max-width: 100%;
}
