/*  Media Queries / Responsiveness  */

@media only screen and (max-width: 1150px) {
    .vbar {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .columna1BarraVerde {
        margin-top: 30px;
        display: block;
    }
}


/* @media only screen and (max-width: 1400px) {
    #logoWikienvios {
		display: none;
    }
}

@media only screen and (max-width: 1340px) {
	#logoWikienvios {
		display: none;
    }
    
    .recuadroCentralCotizacion {
        height: 100%;
    }

    .barraVerdeCotizacion {
        display: inline-block;
        height: 55%;
    }

    .textoBarraVerdeCotizacion {
        display: block;
    }

    .vbar {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
	#logoWikienvios {
		display: none;
    }
    
    #burgerMenu {
        display: block;
    }

    #botonesPanel {
        display: none;
    }

    #seccionCentral {
        width: 90%;
    }
} */
