/* Estilo Modal */


/*  Fuentes  */

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('../fonts/Montserrat/Montserrat-Regular.ttf'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
    unicode-range: "U+0-10FFFF";
}

@font-face {
    font-family: 'Montserrat-Light';
    src: local('Montserrat-Light'), url('../fonts/Montserrat/Montserrat-Light.ttf'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
    unicode-range: "U+0-10FFFF";
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url('../fonts/Montserrat/Montserrat-Bold.ttf'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'), url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
    unicode-range: "U+0-10FFFF";
}


/*  Etiquetas  */

.lblNombreModal,
.lblApellidoModal {
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 23px;
    text-transform: uppercase;
    color: #707070;
    font: 100 12px/15px 'Montserrat-Bold';
    z-index: 2;
    padding: 13px 60px;
}

.lblTelefonoModal {
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 25px;
    text-transform: uppercase;
    color: #707070;
    -webkit-color: #707070;
    font: 100 12px/15px 'Montserrat-Bold';
    z-index: 2;
    padding: 13px 20px;
    margin-left: 0px;
}

.lblEmailModal {
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 25px;
    text-transform: uppercase;
    color: #707070;
    -webkit-color: #707070;
    font: 100 12px/15px 'Montserrat-Bold';
    z-index: 2;
    padding: 13px 30px;
    margin-left: 20px;
    letter-spacing: 1.3px;
}

.lblClave1Modal,
.lblClave2Modal {
    background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    font: 100 .7rem 'Montserrat-Bold';
    z-index: 2;
    width: 100%;
}

.lblClave1Modal {
    padding: 13px 7px;
    /*margin-left: 10px;*/
}

.lblClave2Modal {
    padding: 13px 7px;
    /*margin-left: 15px;*/
}

.col-md-6 {
    padding: 0px;
}

.lblBienvenidoModal {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background: #00bdb7;
    border-radius: 30px;
    text-transform: uppercase;
    color: white;
    font: 100 20px/23px 'Montserrat-Bold';
    font-weight: 1000;
    letter-spacing: 1.5px;
    width: 100%;
    height: 3rem;
    padding-top: .6rem;
}


/*  Campos de Texto  */

.txtNombreModal,
.txtApellidoModal {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border: 0;
    border-radius: 12px;
    text-transform: uppercase;
    font: 100 12px/15px 'Montserrat-Bold';
    color: #B3B3B3;
    position: relative;
    z-index: 1;
    letter-spacing: 1.5px;
    margin-left: -40px;
    padding-left: 4rem;
    height: 2.6rem;
}

@media (max-width: 700px) {
    .txtNombreModal,
    .txtApellidoModal {
        margin-left: 0px;
        margin-bottom: 1.5rem;
    }
    .lblEmailModal {
        margin-left: 0px;
    }
    #pass,
    #replyPass {
        width: 65% !important;
    }
}

.txtTelefonoModal {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border: 0;
    border-radius: 12px;
    text-transform: uppercase;
    color: #b3b3b3;
    font: 100 12px/15px 'Montserrat-Bold';
    position: relative;
    z-index: 1;
    letter-spacing: 1.5px;
    margin-left: -30px;
    padding: 12px 0px;
    padding-left: 40px;
}

.txtEmailModal {
    background: #f5f5f4;
    border: 0;
    border-radius: 12px;
    text-transform: uppercase;
    color: #b3b3b3;
    font: 100 12px/15px 'Montserrat-Bold';
    position: relative;
    z-index: 1;
    letter-spacing: 1.5px;
    margin-left: -30px;
    padding: 12px 30px;
    padding-left: 40px;
}

.txtClave1Modal,
.txtClave2Modal {
    background: #f5f5f4;
    border: 0;
    border-radius: 12px;
    text-transform: uppercase;
    color: #b3b3b3;
    font: 100 12px/15px 'Montserrat-Bold';
    letter-spacing: -0.2px;
    position: relative;
    margin-left: -40px;
    width: 100%;
}

.txtClave1Modal {
    padding: 11px 0px;
    padding-left: 50px;
}

.txtClave2Modal {
    padding: 11px 0px;
    padding-left: 47px;
}

.txtNombreModal::placeholder,
.txtApellidoModal::placeholder,
.txtTelefonoModal::placeholder,
.txtEmailModal::placeholder,
.txtClave1Modal::placeholder,
.txtClave2Modal::placeholder {
    color: #B3B3B3;
    opacity: 1;
}


/*  Botón Guardar  */

#btnGuardar {
    background: #fed55d;
    -webkit-box-shadow: 0px 7px 13px -9px rgba(92, 90, 92, 1);
    -moz-box-shadow: 0px 7px 13px -9px rgba(92, 90, 92, 1);
    box-shadow: 0px 7px 13px -9px rgba(92, 90, 92, 1);
    text-transform: uppercase;
    color: #707070;
    border-radius: 30px;
    border: 0;
    font: 100 15px/18px 'Montserrat-Bold';
    padding: 15px 80px;
    transition: all 0.2s ease;
    margin-top: 30px;
    margin-bottom: 20px;
}

.btnGuardar:hover {
    /* font-size: 1em; */
    letter-spacing: 1.7px;
    transition: all 0.2s ease;
    font-weight: 800;
    transform: scale(1.1);
}

.containerModal {
    width: 100%;
    /* border: 1px solid red; */
}

.container2Modal {
    align-content: center;
    /* border: 1px solid tomato; */
}

img .bienvenidaModal {
    margin-top: 80px;
    margin-right: 140px;
}

hr.estiloLinea2Modal {
    top: 486px;
    left: 587px;
    width: 90%;
    height: 5px;
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border-radius: 30px;
    opacity: 1;
}

.espaciadoModal {
    padding: 3px 0px;
}


/* Párrafos */

.texto1Modal,
.texto2Modal {
    color: #484349;
    font-family: "Montserrat";
    font-size: 1.1em;
    letter-spacing: 1px;
    display: block;
    align-items: flex-start;
    margin: 20px 20px;
}

.texto1Modal {
    /* font-weight: 100; */
    top: 149px;
    left: 609px;
    height: 24px;
    text-align: center;
    font: 100 19px/22px "Montserrat";
    letter-spacing: 1px;
    color: #484349;
    opacity: 1;
}

.texto2Modal {
    /* font-weight: 100; */
    top: 512px;
    left: 784px;
    height: 18px;
    text-align: center;
    font: 100 13px/17px 'Montserrat';
    letter-spacing: 0.7px;
    color: #484349;
    opacity: 1;
}


/* .parrafoModal {
	margin-top: 30px;
	margin-left: 30px;
	font-weight: 800;
	font-size: 0.8em;
} */


/* Botones Redes Sociales */

.lnkFacebookModal {
    border: 0;
    background: #3b5998;
    text-transform: uppercase;
    border-radius: 30px;
    color: white;
    padding: 5px 35px;
    z-index: 2;
    font: 100 11px/14px "Montserrat-Bold";
    text-decoration: none;
}

.lnkFacebookModal:hover {
    color: white;
    -webkit-box-shadow: 0px 7px 13px -10px rgba(92, 90, 92, 1);
    -moz-box-shadow: 0px 7px 13px -10px rgba(92, 90, 92, 1);
    box-shadow: 0px 7px 13px -10px rgba(92, 90, 92, 1);
    transition: all 0.2s ease;
    font-weight: 100;
    text-decoration: none;
}

.lnkGoogleModal {
    border: 0;
    border: 1px solid #dedede;
    background: white;
    text-transform: uppercase;
    border-radius: 30px;
    color: #3284ff;
    padding: 5px 50px;
    z-index: 2;
    font: 100 11px/14px "Montserrat-Bold";
    text-decoration: none;
}

.lnkGoogleModal:hover {
    -webkit-box-shadow: 0px 7px 13px -10px rgb(184, 179, 184);
    -moz-box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
    box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
    transition: all 0.2s ease;
    font-weight: 100;
    text-decoration: none;
}

.textoRedes1Modal {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 50px;
}

.textoRedes2Modal {
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 50px;
}

.bordeVentanaModal {
    border-radius: 10px;
    border: 4px solid #fed55d;
    margin: 0px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.cerrarModal {
    border: 0;
    background: #00bdb7;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
    font-size: 1.5em;
    position: absolute;
    height: 3rem;
    width: 2.8rem;
    margin: auto auto;
    padding: auto auto;
    display: block;
    align-content: center;
    right: -5px;
    top: -5px;
}

.close {
    color: white;
    z-index: 10;
}

.modal-content {
    border-radius: 10px;
}

.iconoSmallModal {
    align-self: center;
}

#pass,
#replyPass {
    width: 30%;
}

.turquesa {
    background: #00BDB7;
    color: white;
}

.alt {
    height: 2.6rem;
}