/* Estilo elementos pantalla Inicio */

/*  Fuentes  */
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
	url('../fonts/Montserrat/Montserrat-Regular.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat-Light'),
	url('../fonts/Montserrat/Montserrat-Light.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat-Medium'),
	url('../fonts/Montserrat/Montserrat-Medium.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'),
	url('../fonts/Montserrat/Montserrat-Bold.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
body {
    overflow-x: hidden;
    overflow-y: hidden;
}
input[type=email] {
    width: 60%;
}
input[type=password] {
    width: 63%;
}
hr.estiloLinea1 {
	top: 486px;
	left: 587px;
	width: 60%;
	height: 3px;
	background: #DEDEDE 0% 0% no-repeat padding-box;
	border-radius: 30px;
    opacity: 2;
}
/*  Etiquetas  */
.lblEtiquetas {
    width: 30%;
	margin-left: 10px;
    padding: 10px 20px;
	background: #00BDB7 0% 0% no-repeat padding-box;
	border-radius: 30px;
	z-index: 2;
    color: white;
	text-transform: uppercase;
    font: 100 13px/19px "Montserrat-Bold";
}

/*  Campos de Texto  */
.txtEmailInicio {
    -webkit-box-shadow: 0px 7px 13px -13px rgb(184, 179, 184);
	-moz-box-shadow: 0px 7px 13px -13px rgba(184, 179, 184);
	box-shadow: 0px 7px 13px -13px rgba(184, 179, 184);
	margin-left: -30px;
	padding: 12px 30px;
    padding-left: 40px;
	background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
	border: 0;
	border-radius: 12px;
	position: relative;
	z-index: 1;
	letter-spacing: 1.5px;
	color: #b3b3b3;
    text-transform: uppercase;
	font: 100 11px/14px "Montserrat-Bold";
}
.txtClaveInicio1 {
    -webkit-box-shadow: 0px 7px 13px -13px rgb(184, 179, 184);
	-moz-box-shadow: 0px 7px 13px -13px rgba(184, 179, 184);
	box-shadow: 0px 7px 13px -13px rgba(184, 179, 184);
    margin-left: -40px;
    padding: 11px 0px;
    padding-left: 50px;
	background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
	border: 0;
	border-radius: 12px;
	position: relative;
	z-index: 1;
	letter-spacing: -0.2px;
	color: #b3b3b3;
    text-transform: uppercase;
	font: 100 11px/14px "Montserrat-Bold";
}

/*  Botón Guardar  */
#btnIngresar {
	-webkit-box-shadow: 0px 7px 13px -11px rgba(92,90,92,1);
	-moz-box-shadow: 0px 7px 13px -11px rgba(92,90,92,1);
	box-shadow: 0px 7px 13px -11px rgba(92,90,92,1);
	margin-top: 5px;
    margin-bottom: 15px;
	padding: 13px 60px;
	background: #fed55d;
	border-radius: 30px;
    border: 0;
	transition: all 0.3s ease;
	color: #707070;
	text-transform: uppercase;
    font: 100 14px/17px "Montserrat-Bold";
}
.btnIngresar:hover {
	transition: all 0.3s ease;
	letter-spacing: 1.1px;
	transform: scale(1.1);
}

/*  Párrafos  */
.saludo {
    margin-top: 60px;
    margin-left: 230px;
    color: #00bdb7;
    font: 100 5.5em 'Montserrat-Light', sans-serif;
}
.subtitulo {
    margin-left: 230px;
    margin-top: -20px;
	color: #707070;
    font: 100 2.2em 'Montserrat-Light';
}
.container {
    width: 100%;
}
.espaciado {
	padding: 3px 0px;
}
.espaciado2 {
	padding: 20px 0px;
}

/*  Logotipo  */
.logoWiki {
    margin: 0 auto;
    margin-top: -10px;
    margin-bottom: 20px;
    display: block;
    align-self: center;
}

/*  Botones Redes Sociales  */
.lnkFacebook {
	padding: 5px 35px;
	border: 0;
	background: #3b5998;
	border-radius: 30px;
	z-index: 2;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font: 100 11px/14px "Montserrat-Bold";
}
.lnkFacebook:hover {
	-webkit-box-shadow: 0px 7px 13px -10px rgba(92,90,92,1);
	-moz-box-shadow: 0px 7px 13px -10px rgba(92,90,92,1);
	box-shadow: 0px 7px 13px -10px rgba(92,90,92,1);
	transition: all 0.2s ease;
	color: white;
	text-decoration: none;
	font-weight: 100;
}
.lnkGoogle {
	padding: 5px 50px;
	background: white;
	border: 1px solid #dedede;
	border-radius: 30px;
    z-index: 2;
	color: #3284ff;
	text-decoration: none;
	text-transform: uppercase;
    font: 100 11px/14px "Montserrat-Bold";
}
.lnkGoogle:hover {
	-webkit-box-shadow: 0px 7px 13px -10px rgb(184, 179, 184);
	-moz-box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	transition: all 0.2s ease;
	text-decoration: none;
	font-weight: 100;
}
.textoRedes1 {
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 50px;
}
.textoRedes2 {
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 50px;
}

/*  Figuras de fondo  */
.figuraFondo {
    -webkit-box-shadow: 0px 3px 6px #F5F5F4;
    -moz-box-shadow: 0px 3px 6px #F5F5F4;
    box-shadow: 0px 3px 6px #F5F5F4;
    top: -5%;
    left: -120%;
    width: 1190px;
    height: 370px;
    background: #FAF9F9 0% 0% no-repeat padding-box;
    border-top-left-radius: 226px;
    border-bottom-left-radius: 226px;
    position: absolute;
    z-index: -1;
}
.figura1 {
    top: -280%;
    left: 40%;
    width: 330px;
    height: 1053px;
    background: #00BDB7 0% 0% no-repeat padding-box;
    border-bottom-left-radius: 226px;
    position: absolute;
    z-index: -1;
    transform: rotate(-20deg);
}
.figura2 {
    top: 0%;
    left: -220%;
    width: 330px;
    height: 700px;
    background: #FED55D 0% 0% no-repeat padding-box;
    border-top-left-radius: 350px;
    position: absolute;
    z-index: -1;
    transform: rotate(100deg);
}

/*  Sección final  */
.texto1 {
	padding-left: 30px;
	padding-top: 5px;
	justify-items: center;
	color: #484349;
	font: 100 11px/15px 'Montserrat';
}
.texto2 {
	letter-spacing: 2.5px;
	color: #484349;
	text-transform: uppercase;
	font: 100 14px/18px 'Montserrat';
}
.textoCentro {
	height: 10%;
	display: flexbox;
	z-index: -1;
}
.fondoTexto {
	width: 100%;
	padding: -5px 0;
	background: #F5F5F4 0% 0% no-repeat;
	border-radius: 10px;
}
.lnkRegistrate {
	margin-left: 10%;
	padding: 12px 40px;
	background: #484349;
	border-radius: 30px;
	z-index: 2;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
	font: 100 15px/19px 'Montserrat-Bold';
}
.lnkRegistrate:hover {
	color: #FFFFFF;
	text-decoration: none;
}

.columna2 {
    margin-top: -30px;
    padding-right: -100px;
}
.columna3 {
    border: 1px solid black;
}
.recuperaClave {
	margin-left: 40%;
	text-decoration: none;
	text-transform: uppercase;
	color: #00BDB7;
    font: 300 0.8em 'Montserrat-Medium';
}
.recuperaClave:hover {
	color: #00BDB7;
	text-decoration: underline;
}


/*estilos ;v*/
.col-md-lg-6 {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.texto{
	font-size: small;
}

