/* Estilo elementos pantalla Panel */
/*  Fuentes  */
@font-face {
	font-family: 'Montserrat-Regular';
	src: local('Montserrat-Regular'),
	url('../fonts/Montserrat/Montserrat-Regular.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat-Light'),
	url('../fonts/Montserrat/Montserrat-Light.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat-Medium'),
	url('../fonts/Montserrat/Montserrat-Medium.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'),
	url('../fonts/Montserrat/Montserrat-Bold.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}

body {
    margin: 0 0;
    padding: 0 0;
	background: white;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: #707070;
}

/*  Header  */
.barraHeader {
    width: 100%;
    height: 109px;
    margin-top: 30px;
    background: #00BDB7;
    display: flex;
    align-items: space-between;
}
.bienvenidoHeader {
	width: 90%;
	height: 50px;
	margin-top: 5px;
	margin: auto 0;
	padding: 15px 180px;
	background: #FED55D;
	border-radius: 30px;
	color: #707070;
	text-transform: uppercase;
	font: 100 20px/23px 'Montserrat-Bold';
}
.usuarioHeader {
	color: #707070;
	text-transform: capitalize;
	font: 400 20px/23px 'Montserrat-Regular';
}
.perfilHeader {
	width: 15%;
	height: 50%;
	margin-right: 80px;
	padding: 15px 100px;
	background: #fff;
	border-radius: 30px;
	color: #707070;
	text-transform: uppercase;
	font: 100 16px/19px 'Montserrat-Bold';
}

/*  Sidebar  */
.itemNav {
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 13px 0px;
	background: #F8F8F8;
	display: flex;
	justify-content: center;
	border: 1px solid #D0D0D0;
	border-radius: 30px;
	transition: all 0.2s ease;
	z-index: 0;
	color: #707070;
	font: 100 15px/18px 'Montserrat-Regular';
}
.itemNav:hover {
	-webkit-box-shadow: 0px 7px 13px -10px rgb(184, 179, 184);
	-moz-box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	transition: all 0.2s ease;
	z-index: 3;
	color: #707070;
	text-decoration: none;
	transform: translateY(-5px);
}
.itemNavActive {
	-webkit-box-shadow: 0px 7px 13px -10px rgb(184, 179, 184);
	-moz-box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	width: 70%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 13px 30px;
	background: #FED55D;
	display: flex;
	justify-content: center;
	border: 1px solid #FED55D;
	border-radius: 30px;
	transition: all 0.2s ease;
	color: #707070;
	font: 100 15px/18px 'Montserrat-Bold';
}
.itemNavActive:hover {
	color: #707070;
	text-decoration: none;
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/*  Sección Central  */
.conteoPaquetes {
	padding: 20px;
	background: #FED55D;
	border-color: #FED55D;
	border-radius: 5px;
}
.tituloAmarilloCotizacion {
	padding: 7px;
	background: #FED55D;
	border-color: #FED55D;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	color: #484349;
	font: 100 22px 'Montserrat-Bold';

}
.areaSaldoPuntos {
	width: 85%;
	padding-right: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.textoSaldoPuntos {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	letter-spacing: 1.25px;
	color: #484349;
	text-transform: uppercase;
	font: 600 16px/19px 'Montserrat-Bold';
}
.monto1 {
	-webkit-box-shadow: 0px 3px 6px #00000029;
	-moz-box-shadow: 0px 3px 6px #00000029;
	box-shadow: 0px 3px 6px #00000029;
	top: 239px;
	left: 1373px;
	width: 240px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 50px;
	padding-bottom: 10px;
	background: #00BDB7 0% 0% no-repeat padding-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 46px;
	letter-spacing: 2px;
	color: #FFFFFF;
	font: 600 28px/31px 'Montserrat-Regular';
}
.monto2 {
	-webkit-box-shadow: 0px 3px 6px #00000029;
	-moz-box-shadow: 0px 3px 6px #00000029;
	box-shadow: 0px 3px 6px #00000029;
	top: 239px;
	left: 1373px;
	width: 240px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 50px;
	padding-bottom: 10px;
	background: #FED55D 0% 0% no-repeat padding-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 46px;
	letter-spacing: 2px;
	color: #707070;
	font: 600 28px/31px 'Montserrat-Regular';
}
.textoVerde1 {
	display: inline;
	justify-content: center;
	letter-spacing: 2px;
	color: #00BDB7;
	font: 600 28px/31px 'Montserrat-Bold';
}
.textoVerde2 {
	margin: 10px 0;
	display: inline-flex;
	justify-content: center;
	letter-spacing: 1.4px;
	color: #00BDB7;
	font: 600 23px/26px 'Montserrat-Bold';
}
.textoObscuro {
	display: inline;
	letter-spacing: 2px;
	color: #484349;
	font: 600 28px/31px 'Montserrat-Bold';
}
.canjearDescuento {
	left: 692px;
	width: 398px;
	height: 40px;
	margin-top: 20px;
	background: #484349 0% 0% no-repeat padding-box;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #484349;
	border-radius: 23px;
	letter-spacing: 1px;
	color: #FFFFFF;
	text-transform: uppercase;
	font: 600 16px/19px 'Montserrat-Bold';
}
.recuadroGris1 {
	width: 80%;
	padding: 20px;
	background: #F5F5F4 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
	border-radius: 10px;
}
.recuadroGris2 {
	width: 95%;
	margin-top: 20px;
	background: #F5F5F4 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
	border-radius: 10px;
}
.recuadroGris3 {
	width: 95%;
	margin-top: 40px;
	background: #F5F5F4 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
	border-radius: 10px;
}
.recuadroCentralCotizacion {
	margin-top: 20px;
	background: #F5F5F4 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
	border-radius: 10px;
}
.tituloRecuadro {
	width: 100%;
    height: 40px;
	margin-top: 20px;
    background: #00BDB7 0% 0% no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 1px;
	color: #FFF;
	text-transform: uppercase;
	font: 600 20px/23px 'Montserrat-Bold';
}
.etiquetaTipoEnvio {
	width: 20%;
	height: 40px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 20px;
	background: #ECECEB 0% 0% no-repeat padding-box;
	border-radius: 23px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.6px;
	color: #707070;
	text-transform: uppercase;
	font: 100 11px 'Montserrat-Bold';
	z-index: 20;
}
input[type="checkbox"] {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 2px solid #00BDB7;
	cursor: pointer;
}
.barraVerdeCotizacion {
	width: 100%;
    height: 140px;
	margin-top: 20px;
	margin-bottom: 40px;
    background: #00BDB7 0% 0% no-repeat;
}
.textoBarraVerdeCotizacion {
	display: inline-flex;
	justify-content: start;
	align-items: center;
	letter-spacing: 0.5px;
	color: #FFF;
	text-transform: capitalize;
	font: 100 11px 'Montserrat-Bold';
}
.vbar {
	width:4px;
	height: 100px;
	background-color:#FFF;
	margin-right: 20px;
	border-radius: 10px;
}
.columna1BarraVerde {
	margin-left: 10px;
	text-transform: uppercase;
	font: 100 12px 'Montserrat-Bold';
}
.columna2BarraVerde {
	margin: 20px 0;
	font: 500 8px 'Montserrat-Medium';
	text-transform: uppercase;
}
.recuadroBlancoPrecio {
	width: 30%;
	height: 70px;
	margin-left: 0px;
	margin-right: 30px;
	background: #fff;
	border-radius: 10px;
	border: 1px solid #fff;
	font-weight: 600;
	text-transform: uppercase;
	color: #484349;
	font: 600 10px 'Montserrat-Bold';
}
.cuadroFecha {
	margin-left: auto;
	margin-right: auto;
	padding: 10px 30px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	display: block;
	border: 1px solid #B3B3B3;
	border-radius: 5px;
}
.integraciones {
	transition: all 0.2s ease;
}
.integraciones:hover {
	transition: all 0.2s ease;
	transform: scale(1.1);
	text-decoration: none;
}
.tituloTablaEnvios {
	margin-top: 15px;
	color: #484349;
	text-transform: uppercase;
	font: 600 10px 'Montserrat-Bold';
}
.textoTablaEnvios {
	margin-top: 10px;
	margin-bottom: 5px;
	letter-spacing: 1px;
	color: #707070;
	text-transform: capitalize;
	font: 600 10px 'Montserrat-Medium';
}
.textoResumenEnvios {
	margin-top: 50px;
	margin-bottom: 30px;
	display: inline-flexbox;
	justify-content: center;
	color: #707070;
	text-transform: uppercase;
	font: 100 15px 'Montserrat-Medium';
}
.textoTablaCotizacion {
	color: #707070;
	text-transform: uppercase;
	font: 600 10px 'Montserrat-Medium';
}
.espacioBlancoEnvios {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px 0px;
	background: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	border-radius: 7px;
}
.btnStatusEnvios1 {
	width: 100%;
	padding: 10px 20px;
	background: #20D645;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	color: #fff;
	text-transform: uppercase;
	font: 600 10px 'Montserrat-Medium';
}
.btnStatusEnvios2 {
	width: 100%;
	padding: 10px 15px;
	background: #FFFF00;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	letter-spacing: -0.8px;
	color: #484349;
	text-transform: uppercase;
	font: 600 10px 'Montserrat-Medium';
}
.btnStatusEnvios3 {
	width: 100%;
	padding: 10px 20px;
	background: #2620D6;
	display: flex;
	justify-content: center;
	border-radius: 20px;
	color: #fff;
	text-transform: uppercase;
	font: 600 10px 'Montserrat-Medium';
}
.btnAgregaPaquete {
	transition: all 0.2s ease;
}
.btnAgregaPaquete:hover {
	-webkit-box-shadow: 0px 7px 13px -10px rgb(184, 179, 184);
	-moz-box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	box-shadow: 0px 7px 13px -10px rgba(184, 179, 184);
	transition: all 0.2s ease;
	z-index: 3;
	color: #707070;
	text-decoration: none;
	transform: translateY(-5px);
}


/*  Footer  */
.footerPanel {
    width: 100%;
    height: 290px;
	margin-bottom: 30px;
    background: #F5F5F4;
	display: inline-flex;
}
.tituloFooter {
	margin: 40px 0;
	color: #707070;
	text-transform: uppercase;
	font: 100 14px/18px 'Montserrat-Bold';
}
.textoFooter {
	margin-bottom: 30px;
	color: #707070;
	text-transform: capitalize;
	font: 600 14px/18px 'Montserrat-Regular';
}
.textoFooter > a {
	color: #707070;
	text-decoration: none;
}
.textoFooter > a:hover {
	color: #707070;
	text-decoration: none;
}
.circle_media{
	-webkit-box-shadow: 0px 5px 30px -20px;
	-moz-box-shadow: 0px 5px 30px -20px;
	box-shadow: 0px 5px 30px -20px;
	width: 50px;
	height: 50px;
	margin-left: 25px;
	padding: 13px;
	background: #707070;
	display: inline-block;
	border-radius: 50%;
}
.circle_media>svg{
	width: 25px;
	height: 25px;
	fill: white;
}

