/* Estilo elementos pantalla Inicio */

/*  Fuentes  */
@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
	url('../fonts/Montserrat/Montserrat-Regular.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat-Light'),
	url('../fonts/Montserrat/Montserrat-Light.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat-Medium'),
	url('../fonts/Montserrat/Montserrat-Medium.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}
@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'),
	url('../fonts/Montserrat/Montserrat-Bold.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}

* {
	font-family: Montserrat;
}

.enlace:hover, a:hover {
	text-decoration: none;
	transform: scale(1.06);
	transition: .4s ease;
	cursor: pointer;
}

.inicio {
	padding: 0px;
	text-align: center;
	
}

.figura1 {
    background: #00BDB7 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 12rem;
    width: 15%;
    position: fixed;
    border-bottom-left-radius: 90%;
	right: 0px;
	top: 0px;
	z-index: -10;
}

.figura2 {
	background: #FED55D 0% 0% no-repeat padding-box;
	opacity: 1;
	height: 12rem;
    width: 15%;
    position: fixed;
    border-top-right-radius: 90%;
    left: 0px;
	bottom: 0px;
	z-index: -10;
} 

.hola{
	font-size: 6rem;
	letter-spacing: 6.15px;
	color: #00BDB7;
	opacity: 1;
	margin-bottom: -10px;
}

.enviaremos {
	font-size: 2.5rem;
	letter-spacing: .3px;
	color: #707070;
	opacity: 1;
}

.formulario-sesion {
	background: #FAF9F9 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #F5F5F4;
	border-radius: 10rem 0px 0px 10rem;
	opacity: 1;
}

.sin-padding {
	padding: 0px !important;
}

.form div {
	justify-content: center;
}

.formulario-sesion .form label {
	background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 66px;
    opacity: 1;
    letter-spacing: 1px;
    color: #FFFFFF;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
    padding: 12px 0px;
    z-index: 1;
}

.formulario-sesion .form input{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 5px 3px 6px #F5F5F4;
	border-radius: 10px;
	left: -20px;
	height: 3rem;
	padding-left: 1.7rem;
	border: 1px solid #b3b3b38f;
}

.olvidaste {
    letter-spacing: 0.6px;
    color: #00BDB7;
	font-size: 1rem;
	margin-left: 14rem;
}

.logo {
	/* margin-bottom: 3rem; */
    /* margin-top: 3rem; */
    width: 19%;
}

.separar {
	width: 60%;
    border: 1.5px solid #b3b3b387;
	margin-top: 14px;
	margin-bottom: 5px;
}

.tambien {
	font-size: 1rem;
    color: #7d6b6b;
	opacity: 1;
}

/* redes sociales */
.facebook {
	background: #3B5998 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	border-radius: 2rem;
	margin-right: 15px;
	padding: .5rem;
}

.facebook span {
	opacity: 1;
	letter-spacing: 0.7px;
	color: #FFFFFF;
    width: 100%;
    font-weight: bold;
    font-size: .8rem;
}

.facebook svg {
	position: relative;
	right: 1.5rem;
}

.google {
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 3px 3px 6px #F5F5F4;
	border: 1px solid #DEDEDE;
	opacity: 1;
	border-radius: 2rem;
	margin-left: 15px;
	padding: .5rem;

}

.google span {
	opacity: 1;
	letter-spacing: 0.7px;
	color: #3284FF;
    width: 100%;
    font-weight: bold;
    font-size: 1rem;
}

.google svg {
	position: relative;
	right: 1.5rem;
}

.form {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

.ingresar {
	background: #FED55D 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #DEDEDE;
	border-radius: 2rem;
	letter-spacing: 1px;
	color: #707070;
	font-weight: bold;
	font-size: 1rem;
	padding: 5px;
	margin-top: 15px;
	padding: .5rem;
}

.ingresar:hover {
	color: #707070;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
	justify-content: center;
}

.registrate {
	border-radius: 2rem; 
	background: #484349 0% 0% no-repeat padding-box;
	color: white; 
	line-height: 1.7rem;
	font-weight: bold;
	font-size: 1rem;
}

.registrate:hover {
	color: white;
}

.parte {
	color: #484349;
	font-size: 1rem;
	letter-spacing: 0.75px;
}

.comunidad {
	color: #484349;
	opacity: 1;
	letter-spacing: 1.15px;
	font-size: 1.2rem;
}

.sin-mouse {
	cursor: default;
}

.reg {
	border-radius: 2rem;
	padding-right: 0px;
	background: #F5F5F4 0% 0% no-repeat padding-box;
	opacity: 1;
}

/*estilos para formularios*/
.bolita{
	background: #00BDB7 0% 0% no-repeat padding-box;
	border-radius: 66px;
	opacity: 1;
	letter-spacing: 1px;
	color: #FFFFFF;
	width: 100%;
	font-weight: bold;
	font-size: .6rem;
	line-height: 1.4rem;
	z-index: 1;
	height: 1.75rem;
}

.bolita2{
	border-radius: 66px;
	opacity: 1;
	letter-spacing: 1px;
	color: #707070;
	width: 100%;
	font-weight: bold;
	font-size: .6rem;
	line-height: 1.4rem;
	z-index: 1;
	height: 1.75rem;
	background: rgba(236, 236, 235);
}

.otrabolita{
	background: #F5F5F4 0% 0% no-repeat padding-box;
	box-shadow: 5px 3px 6px #F5F5F4;
	border-radius: 10px;
	left: -20px;
	height: 1.75rem;
	padding-left: 1.7rem;
	border: 1px solid #b3b3b326;
	font-size: .6rem;
    
}

.colorin{
	background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    padding: .5rem;
}

.necesitamos {
	color: #484349;
	font-size: .8rem;
}

.lineaa{
	border-bottom: 2px solid #DEDEDE;
	margin-top: 5px;
}

.modal-registro {
	background: transparent linear-gradient(90deg, #F5F5F4 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
    border-radius: 1rem;
}

.modal-content {
	border-radius: 1rem;
}

button.close {
	background: #00BDB7 0% 0% no-repeat padding-box;
    opacity: 1;
    width: 1.8rem;
    height: 1.7rem;
    border-radius: 50%;
	color: #FFFFFF;
	position: absolute;
	z-index: 1;
	right: -11px;
    top: -7px;
}

button.close:hover {
	background: #00BDB7 0% 0% no-repeat padding-box;
	color: #FFFFFF;
	transform: scale(1.1);
}

.modal-body .ingresar {
	margin-top: 0px;
	border: none;
}

.modal-body .container .row {
	margin-bottom: .6rem;
}


/*estilo del modal de pagos*/
.yellow{
	background: transparent linear-gradient(90deg, #F5F5F4 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
    margin: 1.2rem;
	border-radius: 1rem;
	padding-left: 0;
	padding-right: 0;
}

.cuadro{
	background: #FED55D 0% 0% no-repeat padding-box;
	opacity: 1;
	width: 100%;
}

.titulo{
	font-family: Montserrat-light;
	text-transform: uppercase;
	opacity: 1;
	letter-spacing: 1.6px;
	color: #707070;
	padding: 1rem;
}

.pago{
	font-weight: bold;
	font-size: .8rem;
	color: #707070;
}

.img1{
	background: transparent url('img/Paypal.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.img2{
	background: transparent url('img/Stripe.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.img3{
	background: transparent url('img/Spe.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.img4{
	background: transparent url('img/transferencia.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.img5{
	background: transparent url('img/deposito.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.img6{
	background: transparent url('img/practicaja.svg') 0% 0% no-repeat padding-box;
	opacity: 1;
}

.padding{
	padding: 1rem;
}

button.close2{
    position: absolute;
	background: transparent;
    border: none;
    font-size: 1.5rem;
    right: 0px;
    top: 7px;
    font-weight: bold;
    color: #707070;	
}

/* estilos modal de pagos stripe */
.inputcolor{
	background: #F5F5F4 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;
	font-size: .6rem;
}

.parrafo{
	font-weight: bold;
	font-size: .6rem;
	letter-spacing: 0.6px;
	color: #484349;
	opacity: 1;
	margin-left: 1rem;
}

.parrafo2{
	color: #707070;
	width: 100%;
	font-weight: bold;
	font-size: .5rem;
	line-height: 1.4rem;
	z-index: 1;
	height: 1.75rem;
	background: #ECECEB 0% 0% no-repeat padding-box;
	border-radius: 28px;
	opacity: 1;
	left: 13px;
}

.inputcolor2{
	background: #00BDB7 0% 0% no-repeat padding-box;
	border-radius: 10px;
	opacity: 1;
	box-shadow: 5px 3px 6px #F5F5F4;
	left: -18px;
	height: 1.75rem;
	border: 1px solid #b3b3b326;
	font-size: 1rem;
    text-align: center;
}

.inputcolor2-1{
	border-radius: 10px;
	opacity: 1;
	box-shadow: 5px 3px 6px #F5F5F4;
	left: -20px;
	height: 1.75rem;
	border: 1px solid #b3b3b326;
	font-size: 1rem;
    text-align: center;
	background: #FED55D 0% 0% no-repeat padding-box;
}

.alo{
	padding: .7rem;
}

.guardar{
	background: #FED55D 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 6px #0000001A;
	border-radius: 38px;
	opacity: 1;
	font-weight: Bold;
	letter-spacing: 1.35px;
	color: #484349;
	opacity: 1;
	font-size: small;
	border: none;
	padding: .5rem;
	width: 7rem;
	margin-left: -12px;
}

/* estilos modal de pagos spei */
.spei{
	font-weight: bold;
	font-size: .5rem;
	letter-spacing: 0.5px;
	color: #484349;
	opacity: 1;
	margin-left: .9rem;
}

.folio{
	padding: 1rem;
	padding-bottom: 1rem;
}

/* estilos de pagos practicaja */
.adjuntar{
	background: #FED55D 0% 0% no-repeat padding-box;
	border-radius: 38px;
	padding: .4rem;
	font-weight: bold;
    font-size: .6rem;
    letter-spacing: 0.5px;
    color: #484349;
    opacity: 1;
}

.fa-plus-circle{
	color: #00BDB7;
	font-size: 18px;
	border: 2px solid white;
	border-radius: 10px;
}

.icon-input, .icon-input-eye{
	position: relative;
    right: 4rem;
    top: .7rem;
    color: #808080ad;
}

.svg-inline--fa.fa-w-14, .svg-inline--fa.fa-w-18 {
    width: 2rem;
    height: 2rem;
}

.face-modal {
	right: 0px !important;
}

.otrabolita::-webkit-input-placeholder {
	color: #B3B3B3;
}