@font-face {
	font-family: 'Montserrat';
	src: local('Montserrat'),
	url('../fonts/Montserrat/Montserrat-Regular.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: local('Montserrat-Bold'),
	url('../fonts/Montserrat/Montserrat-Bold.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}

@font-face {
	font-family: 'Montserrat-Light';
	src: local('Montserrat-Light'),
	url('../fonts/Montserrat/Montserrat-Light.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: local('Montserrat-Medium'),
	url('../fonts/Montserrat/Montserrat-Medium.ttf'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff2'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('woff'),
	url('https://fonts.googleapis.com/css?family=Montserrat:100&display=swap') format('ttf');
	unicode-range: "U+0-10FFFF";
}

* {
    font-family: Montserrat;
}

.row {
	justify-content: center;
}

.ayuda {
    width: 40%;
    height: 2.5rem;
    position: relative;
    top: -10px;
    left: -5px;
}

#v-pills-ayuda-tab {
    height: 3rem;
    justify-content: end;
}

.labelCheck {
    color: #707070;
    z-index: 1;
    font-weight: bold;
    font-size: .6rem;
    margin: 0px;
    position: relative;
    left: -10px;
}

.custom-control-label {
    font-size: .5rem;
    font-weight: bold;
    line-height: 17px;
}

.espacioBlancoEnvios {
    padding: 0px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.custom-control-label::before {
    height: .9rem;
    width: .9rem;
}

.custom-control {
    padding-right: 0px;
}

.labelOrigen {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    padding: 1rem;
}

.labelOrigen span {
    color: #707070;
    font-weight: bold;
    padding-left: 0px;
    font-size: .8rem;
}

.textLabel {
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    opacity: 1;
    font-size: .5rem;
    font-weight: bold;
    color: #707070;
    margin: 0px;
    line-height: 26px;
    text-align: center;
    position: relative;
    left: 10px;
    z-index: 1;
}

.inputOrigen {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FED55D !important;
    border-radius: 10px;
    height: 1.7rem;
    position: relative;
    right: 10px;
    padding-left: 2rem;
}

.inputOrigen:focus {
    /* border-color: #FED55D; */
    box-shadow: none;
}

.component {
    margin-top: .5rem;
}

.dimensiones {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-top: 2rem;
    justify-content: end;
    padding-left: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
}

.dimensiones .packages {
    margin: .3rem;
}

.package-img {
    width: 4rem;
    position: relative;
    top: 4px;
}

.dimensiones-title {
    color: #707070;
    font-weight: bold;
    font-size: .9rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.dimensiones-total {
    margin-top: 1.5rem;
    padding-left: 0px;
    padding-right: 0px;
}

.dimensiones-total img {
    padding-left: 0px;
}

.total-resultado {
    background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding-left: 2rem;
    color: #FFFFFF;
    font-weight: bold;
    line-height: 26px;
}

.total-resultado span {
    cursor: default;
    font-size: .9rem;
}

.dimensiones-total .textLabel {
    color: #484349;
    position: relative;
    left: 20px;
    font-size: .7rem;
}

.contenido-footer {
    margin-top: 2rem;
    padding-right: 0px;
}

.contenido-footer .input-yellow {
    text-align: left;
    padding-left: 2rem !important;
}

/* .mt-4, .my-4 {
    margin-top: .5rem !important;
} */

.footer-formulario-cotizacion {
    background: #00BDB7 0% 0% no-repeat padding-box;
    margin: 0px;
    margin-top: 1.5rem;
    color: #FFFFFF;
    font-size: .5rem;
    padding-left: 0px;
    padding-right: 0px;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
}

.footer-formulario-cotizacion div{
    padding: 1rem;
    font-size: .75rem;
}

.total-footer {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    color: #484349;
    font-weight: bold;
    font-size: 1rem;
    height: 5rem;
    margin-top: .4rem;
    margin-bottom: .4rem;
    padding-top: 10px !important;
}

.title-total-footer {
    font-size: .7rem;
}

.total-number-footer {
    font-size: 2rem;
    line-height: 2rem;
}

.moneda-footer {
    font-size: .6rem;
    position: relative;
    left: 1rem;
    top: 1rem;
}

.origen-footer {
    border-right: 2px solid;
    height: 4rem;
    margin-top: .7rem;
    padding-top: 5px !important;
}

.footer-formulario-cotizacion img {
    padding: 0px;
    position: relative;
    top: 0px;
}

.barraHeader {
    height: 4rem;
}

.bienvenidoHeader {
    height: 2rem;
    font-size: 1rem;
    font-weight: bold;
}

.usuarioHeader {
    font-size: 1rem;
}

.tituloAmarilloCotizacion {
    color: #484349;
    font-weight: bold;
    font-size: 1.5rem;
}

.tituloAmarilloCotizacion span{
    font-family: 'Montserrat-Bold';
}

.itemNavActive {
    font-weight: bold;
}

.mt-3, .my-3 {
    margin-top: 1.4rem !important;
}

.cuadroEnvio {
    margin: 1.5rem;
}

.labelOrigen {
    margin-left: 1rem;
    margin-right: 1rem;
}

.titulo-lista-envios {
    width: 100%;
    background: #00BDB7 0% 0% no-repeat padding-box;
    color: #FFFFFF;
    font-size: .9rem;
    font-weight: bold;
    text-align: center;
    padding: .5rem;
    margin-top: 1rem;
}

.buscar-numero-guia {
    margin: 0px;
    padding-left: 4rem;
    margin-top: 1.5rem;
}

.buscar-numero-guia label {
    background: #FED55D 0% 0% no-repeat padding-box;
    border-radius: 25px;
    font-size: .8rem;
    font-weight: bold;
    text-align: center;
    height: 2rem;
    line-height: 2rem;
    position: relative;
    left: 1rem;
    z-index: 1;
}

.buscar-numero-guia input {
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    height: 2rem;
    padding-left: 1.5rem;
    font-size: .7rem; 
    border: none;       
}

.buscar-numero-guia input::-webkit-input-placeholder {
    color: #B3B3B3;
}

.foco-yellow {
    font-weight: bold;
}

.foco-yellow:focus {
    /* border-color: #FED55D; */
    outline: 0px;
    /* box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px rgba(250, 173, 7, 0.6) !important; */
}

.foco-yellow::-webkit-input-placeholder {
    color: #B3B3B3;
    font-family: 'Montserrat-Medium';
}

.buscar-numero-guia img {
    height: 2rem;
    position: relative;
    right: 3rem;
    cursor: pointer;
}

.labels-table-rastreo {
    width: 90%;
    margin-top: 1.5rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
}

.labels-table-rastreo thead th div{
    width: 11rem;
    margin: auto;
    background: #707070 0% 0% no-repeat padding-box;
    font-size: .7rem;
    border-radius: 23px;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 1.9rem;
    margin-bottom: .7rem;
}

.labels-table-rastreo thead th img, .labels-table-rastreo tbody td img{    
    height: 2rem;
} 

.labels-table-rastreo thead th img{
    margin-bottom: .7rem;
}

.labels-table-rastreo tbody td img{
   margin: 1rem;
}

.labels-table-rastreo tbody{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #FED55D;
    border-radius: 10px;
    border-collapse: collapse;
    border-radius: 1em;
}

.labels-table-rastreo td{
    color: #707070;
    font-size: 0.7rem;
    width: 20%;
    font-weight: bold;
}

.labels-table-rastreo th, .labels-table-rastreo td {
    text-align: center;
}


.labels-table-rastreo tbody tr:nth-child(odd) {
    background: #F5F5F4 0% 0% no-repeat padding-box;
}
.labels-table-rastreo tbody tr:nth-child(even) {
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.invisible {
    visibility: hidden;
}

.direccion-table tbody tr:nth-child(odd) {
    background: #F5F5F4 0% 0% no-repeat padding-box;
}
.direccion-table tbody tr:nth-child(even) {
    background: #DEDEDE 0% 0% no-repeat padding-box;
}

.name-table-destinatario {
    font-size: .8rem;
}

.status-envio {
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 23px;
    margin: 0px;
    height: 1.5rem;
    line-height: 1.5rem;
}

.entregado {
    background: #20D645 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    height: 12px;
    width: 12px;
    border-radius: 2rem;
    position: relative;
    right: 10px;
    top: 5px;
}

.camino-documento {
    background: #FFFF00 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    height: 12px;
    width: 12px;
    border-radius: 2rem;
    position: relative;
    right: 10px;
    top: 5px;
}

.camino-paquete {
    background: #283593 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    height: 12px;
    width: 12px;
    border-radius: 2rem;
    position: relative;
    right: 10px;
    top: 5px;
}

.yellow {
    margin: 0px;
}

.pagos-separator {
    border: 1.5px solid #00BDB7;
    width: 90%;
}

.parrafo {
    font-size: .8rem;
}

.inputcolor{
    background: #F5F5F4 0% 0% no-repeat padding-box;
    box-shadow: 5px 3px 6px #F5F5F4;
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #b3b3b326;
    font-size: .7rem;
    margin-bottom: 1rem;
}

#modal-pagos .modal-lg, #modal-pagos .modal-xl{
    max-width: 90%;
}

.parrafo2 {
    font-size: .8rem;
    height: auto;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 2rem;
}

.inputcolor2 {
    font-size: .8rem;
    line-height: 1px;
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 1rem;
    height: 0px;
}

.input-img {
    float: right;
    bottom: 3rem;
    position: relative;
    right: 1rem;
    height: 0rem;
    color: #707070;
}


#paypal, #spei, #stripe, #transferencia, #deposito, #practicaja {
    cursor: pointer;
    transition: 1s all;
}

.alo {
    margin-bottom: .5rem;
}
 
#caja-stripe, #caja-spei, #caja-transferencia, #caja-deposito, #caja-practicaja {
    display: none;
}

.timepicker {
    padding: .4rem;
}

.input-img-time {
    float: right;
    bottom: 2.65rem;
    position: relative;
    right: .5rem;
    height: 1.4rem;
    line-height: 0rem;
    font-size: 1.4rem;
    color: #707070;
    background: #f5f5f4;
    z-index: 2;
    border-radius: 100%;
}

.folio {
    padding-top: 0px;
}

.svg-inline--fa.fa-w-14, .svg-inline--fa.fa-w-18 {
    width: 1.5rem;
}

.spei {
    font-size: .8rem;
}

.adjuntar-comprobante {
    margin-top: 2rem;
    padding: 5px;
    height: 2rem;
    background: #FED55D;
    border-radius: 2rem;
    font-weight: bold;
    box-shadow: 0px 0px 6px #0000001A;
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

#libreta .modal-lg, #libreta-nueva .modal-lg {
    max-width: 70%;
}

.pago {
    font-size: 1rem;
    padding: .5rem;
    font-family: 'Montserrat-Bold';
}

button.close2 {
    position: absolute;
    background: transparent;
    border: none;
    font-size: 2rem;
    right: 10px;
    top: 11px;
    font-weight: bold;
    color: #707070;
    outline: 0px;
}

.buscador-libreta input {
    margin-bottom: 0px;
    left: 20px;
    padding-right: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    padding-bottom: 0px;
    padding-top: 0px;
    height: 2rem;
    font-weight: bold;
    color: #707070;
}

.buscador-libreta img {
    z-index: 3;
    height: 2rem;
}

.mensaje-rojo {
    color: #D62020;
    font-weight: bold;
    left: 4rem;
    font-size: .7rem;
}

.mensaje-rojo-obligatorio {
    color: #D62020;
    font-weight: bold;
    left: 1rem;
    font-size: .7rem;
}

.direccion-table {
    margin-bottom: 0px;
}

.input-direccion-elegida {
    padding-right: 3rem;
}

.input-direccion-elegida label {
    position: relative;
    left: 2rem;
    height: 2rem;
    font-size: .7rem;
    text-align: center;
    line-height: 2rem;
}

.input-direccion-elegida input {
    height: 2rem;
    padding: 0px;
    padding-left: 2.5rem;
    font-weight: bold;
    color: #707070;
}

.guardar {
    font-size: 1rem;
    width: 11rem;
    background: #FED55D 0% 0% no-repeat padding-box;
	box-shadow: 5px 5px 6px #0000001A;
	border-radius: 38px;
	opacity: 1;
	font-weight: Bold;
	letter-spacing: 1.35px;
	color: #707070;
    border: none;
    padding: .5rem;
}

.title-blue {
    background: #00BDB7;
    color: white;
    font-weight: bold;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .2rem;
    font-size: 1.5rem;
}

.content-history {
    padding: 0px;
}

.content-history .row {
    padding: 5px;
}

.fa-caret-down{ 
    font-size: 2rem;
    position: relative;
    top: .4rem;
}

.labelHistorial {
    background: #FED55D 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    line-height: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0px;
    z-index: 1;
    padding: 0px;
    font-size: .8rem;
}

.inputHistorial {
    background: #F5F5F4;
    border-radius: 10px;
    padding: 0px;
    padding-left: 2.5rem;
    border: 1px solid #b3b3b326;
    position: relative;
    right: 2rem;
    font-size: .8rem;
}

.fecha {
    background: #DEDEDE 0% 0% no-repeat padding-box;
    text-align: center;
}

input.dimensions[type="text"] {
    background: #f5f5f4;
    border: none;
}

input.dimensions[type="text"]:focus {
    box-shadow: none !important;
}

.operaciones-img img {
    margin: 5px !important;
}

.ver-envios {
    background: #FED55D 0% 0% no-repeat padding-box;
    border-radius: 30px;
    font-weight: bold;
    color: #707070;
    border: none;
    outline:none !important;
    padding: .3rem;
    padding-right: .5rem;
    padding-left: .5rem;
    margin-bottom: 2rem;
}

.ver-envios span {
    padding: 1rem;
    position: relative;
    top: 3px;
}

.monto-rojo {
    color: #D62020 !important;
}

.monto-verde {
    color: #20D645 !important;
}

.blue {
    color: #0099FF !important;
}

.historial-credito td {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.botones-credito button {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 16rem;
}

.botones-credito button span {
    padding-left: 0px;
    padding-right: 0px;
    line-height: 1.7rem;
}

.botones-credito button img {
    float: left;
}

.historial-total div {
    font-size: 1rem;
    padding: .4rem;
}

.historial-total {
    margin-bottom: 1rem;
}

.calendario-historial {
    position: absolute;
    top: 15px;
}

.descript {
    width: 25rem !important;
}

.logo-listo {
    position: absolute;
    right: 0px;
}

.listo {
    margin: 2rem;
    margin-top: 7rem;
}

.listo h1{
    letter-spacing: 6.55px;
    color: #00BDB7;
    font-size: 8rem;
}

.listo span {
    letter-spacing: 1.6px;
    color: #707070;
    text-transform: uppercase;
    font-size: 2rem;
    font-family: 'Montserrat-Light';
}

.listo-separator {
    border: 3px solid #00BDB7;
    width: 90%;
}

.close-x {
    position: absolute;
    right: -17px;
    top: -15px;
    cursor: pointer;
    z-index: 10;
}

.banda-blue {
    background: #00BDB7;
    color: white;
    font-weight: bold;
    text-align: center;
    padding: .4rem;
    font-size: .8rem;
}

.label-detalle {
    width: 100%;
    font-size: .7rem;
    font-weight: bold;
    margin-left: .4rem;
}

.caja {
    margin: 2rem;
    margin-bottom: 0px;
    justify-content: end;
}

.input-detalle-sin-fondo {
    color: #707070;
    margin-top: 1rem;
    margin-left: .5rem;
}

.input-detalle-con-fondo {
    color: #707070;
    background: #F5F5F4;
    border-radius: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: .3rem;
    padding-right: .3rem;
}

.input-detalle-con-fondo span {
    font-weight: bold;
}

.input-detalle-con-fondo p {
    font-size: .8rem;
    width: 80%;
}

.integraciones-detalle {
    background: #ECECEB;
    color: #707070;
    font-weight: bold;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
    left: 10px;
    z-index: 1;
}

.integraciones-detalle p {
    font-size: .6rem;
    margin-bottom: 0px;
}

.integraciones-logos {
    padding-top: 1rem;
    border: 3px solid #FED55D;
    border-radius: 10px;
    right: 10px;
}

.integraciones-logos img {
    vertical-align: baseline;
}

.integraciones-logos .left {
    margin-left: 1rem;
}

.progress-envio .amarillo {
    width: 30%;
    background: #FFFF00;
    height: 1.5rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    left: 20px;
    z-index: 1;
}

.progress-envio .verde {
    width: 50%;
    background: #20D645;
    height: 1.5rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    position: relative;
    left: 10px;
}

.progress-envio .azul {
    width: 20%;
    background: #0099FF;
    height: 1.5rem;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
}

.iconos-envios {
    position: relative;
    z-index: 5;
    bottom: 35px;
    padding-right: 0px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.data-status .label-status {
    border-radius: 2rem;
    padding: .5rem;
    width: 40%;
    font-size: .8rem;
    font-weight: bold;
    z-index: 1;
    text-align: center;
}

.data-status .label-status img {
    width: 1.5rem;
    float: left;
}

.data-status .label-status span{
    position: relative;
    top: 2px;
}

.amarillo {
    background: #FFFF00;
}

.azul {
    background: #0099FF;
    color: white;
}

.verde {
    background: #20D645;
}

.input-status {
    background: #F5F5F4;
    border: 0px;
    width: 60%;
    border-radius: 10px;
    position: relative;
    left: -15px;
    padding-left: 1.3rem;
}

.data-status .row{
    margin-bottom: 1rem;
}

.tipo-envio-detalle {
    background: #F5F5F4;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: .7rem;
    border-radius: 1rem;
}

.tipo-envio-detalle .tipo {
    background: #ECECEB;
    font-size: 1rem;
    border-radius: 2rem;
}

.checked-yellow {
    background: #FED55D 0% 0% no-repeat padding-box;
    border: 2px solid #707070;
    height: 1.5rem;
    width: 15%;
    position: relative;
    top: 10px;
    margin-right: .5rem;
}

.checked-default {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #00BDB7;
    height: 1.5rem;
    width: 15%;
    position: relative;
    top: 10px;
    margin-right: .5rem;
}

.detalles-paqueteria-piezas div{
    background: #F5F5F4;
    margin: 12px;
    border-radius: 10px;
    font-weight: bold;
    padding-bottom: 5px;
}

.detalles-paqueteria-piezas span {
    font-size: .5rem;
}

.detalles-paqueteria-piezas small {
    font-size: .5rem;
    font-weight: bold;
    float: right;
}

.descripcion-detalle-envios .label{
    background: #ECECEB;
    border-radius: 2rem;
    font-size: .6rem;
    font-weight: bold;
    padding: .5rem;
    position: relative;
    left: 8px;
    z-index: 1;
}

.descripcion-detalle-envios .input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FED55D;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: .6rem;
    position: relative;
    right: 8px;
}

.centrar {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.circle-green {
    background: #20D645 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    margin-right: 1rem;
}

.total-detalle-envio {
    background: #00BDB7;
    border-radius: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px;
}

.total-detalle-envio .label{
    background: #ECECEB;
    border-radius: 2rem;
    letter-spacing: 1.5px;
    color: #484349;
    font-size: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: .2rem;
    padding-top: .2rem;
    width: 40%;
    font-family: 'Montserrat-Bold';
}

.total-detalle-envio .input {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin: auto;
    width: 60%;
    font-family: 'Montserrat-Bold';
}

.total-detalle-envio small {
    color: white;
    font-weight: bold;
    height: 1rem;
    position: absolute;
    right: 10px;
    bottom: 0px;
    font-size: .6rem;
}

.botones-detalles-envio {
    background: #F5F5F4;
}

.botones-detalles-envio button {
    background: #FED55D 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    font-weight: bold;
    color: #707070;
    border: none;
    outline:none !important;
    font-size: .7rem;
    margin: .2rem;
    padding: .4rem;
    padding-right: .7rem;
}

.botones-detalles-envio img {
    width: 1.5rem;
}

.botones-detalles-envio .cancelar {
    background: #FF5151 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 6px #0000001A;
    color: white;
}

.botones-detalles-envio button span {
    position: relative;
    top: 2px;
}

.clear {
    clear: both;
}

.woo-integrer {
    position: relative;
    top: 9px;
}

.shopify-integrer{
    position: relative;
    top: 6px;
}

.recuperar {
    margin-top: 2rem;
}

.recuperar h1 {
    font-size: 3rem;
}

.recuperar span {
    font-size: 2rem;
}

.title-agrega-email {
    margin-top: 4rem;
}

.email-recuperar {
    padding: 2rem;
}

.email-recuperar label {
    background: #00BDB7;
    border-radius: 2rem;
    color: white;
    height: 3rem;
    position: relative;
    left: 10px;
    z-index: 2;
}

.email-recuperar input {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 5px 3px 6px #F5F5F4;
    border-radius: 10px;
    height: 3rem;
    position: relative;
    right: 10px;
    padding-left: 2rem;
    padding-right: 3rem;
}

.input-icon {
    position: relative;
    right: 3rem;
    top: .7rem;
    color: #B3B3B3;
}

.btn-recuperar {
    background: #FED55D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #DEDEDE;
    border-radius: 2rem;
    font-family: 'Montserrat-Bold';
    letter-spacing: 1px;
    color: #707070;
    border: none;
    padding: .8rem;
    cursor: pointer;
}


.form-envios {
    margin: 1.5rem;
    margin-top: .5rem;
    background: white;
    padding: 1rem;
    border-radius: 5px;
}

.form-envios label {
    font-size: .7rem;
}

.form-envios a{
    font-weight: bold;
}

.form-envios input {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}

.form-envios input:focus {
    border-color: none;
    outline: 0px;
    box-shadow: none !important;
}

.form-envios input::-webkit-input-placeholder {
    color: #B3B3B3;
    opacity: .6;
}

.buttons-envios a {
    margin: 10px;
}

.img-button {
    position: relative;
    right: -2px;
    float: left;
    top: 2px;
}

.pago {
    background: #FED55D 0% 0% no-repeat padding-box;
}

/*estilo del modal de pagos*/
.yellow{
	background: transparent linear-gradient(90deg, #F5F5F4 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	border: 3px solid #FED55D;
    margin: 0px;
	border-radius: 1rem;
	padding-left: 0;
	padding-right: 0;
}

.modal-content {
	border-radius: 1rem;
}

.bolita{
	background: #00BDB7 0% 0% no-repeat padding-box;
	border-radius: 66px;
	opacity: 1;
	letter-spacing: 1px;
	color: #FFFFFF;
	width: 100%;
	font-weight: bold;
	font-size: .6rem;
	line-height: 1.4rem;
	z-index: 1;
	height: 1.75rem;
}

.button-yellow .align-middle {
    position: relative;
    top: 2px;
    font-size: .8rem;
}

.button-green .align-middle {
    font-size: .8rem;
    font-family: 'Montserrat-Bold';
}

#seccionCentral {
    padding: 0px;
}

.form-dimensiones-envios .espacioBlancoEnvios {
    background: #F5F5F4 0% 0% no-repeat padding-box;
}

.description-envios {
    margin-top: 2rem;
}

.form-envios input {
    height: auto;
}

.form-envios .inputOrigen::-webkit-input-placeholder{
    letter-spacing: 0.75px;
    color: #B3B3B3;
}

.siguiente {
    background: #FED55D 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 6px #0000001A;
    border-radius: 2rem;
    letter-spacing: 1.35px;
    color: #484349;
    font-family: 'Montserrat-Bold';
}

.form-resumen {
    padding-left: 2rem;
    padding-right: 2rem;
}

.form-resumen h1 {
    background: #00BDB7;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
    font-family: 'Montserrat-bold';
    padding: .5rem;
}

.form-resumen .row {
    margin-bottom: .6rem;
    margin-top: .6rem;
}

.form-resumen .row label{
    width: 30%;
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    letter-spacing: 0.6px;
    color: #707070;
    font-weight: bold;
    font-size: .6rem;
    margin-bottom: 0px;
    position: relative;
    left: 10px;
    z-index: 2;
    padding: .3rem;
}

.form-resumen .row input{
    width: 70%;
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    letter-spacing: 0.6px;
    color: #B3B3B3;
    font-weight: bold;
    border: none;
    font-size: .7rem;
    height: auto;
    position: relative;
    right: 10px;
    padding-left: 2rem;
}

.form-resumen .pagos-separator {
    width: 100%;
}

.botones-resumen-envios {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}

.botones-resumen-envios .row label {
    width: 40%;
    font-size: .4rem;
    background: #00BDB7 0% 0% no-repeat padding-box;
    color: white;
}

.botones-resumen-envios .row input {
    width: 60%;
    font-size: .4rem;
}

.botones-resumen-envios-enviar {
    margin-top: 0px !important;
}

.botones-resumen-envios-enviar .row {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    letter-spacing: 1.2px;
    color: #484349;
    font-family: 'Montserrat-Bold';
}

.botones-resumen-envios-enviar .row .total {
    background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    color: white;
    font-weight: bold;
    width: 40%;
}

.botones-resumen-envios-enviar .row span {
    width: 60%;
    font-family: 'Montserrat-Bold';
    color: #484349;
}

.botones-resumen-envios-enviar .row small {
    font-size: .4rem;
    font-family: 'Montserrat-Bold';
    color: #484349;
    position: absolute;
    right: 8px;
    bottom: 5px;
}

.botones-resumen-envios-enviar img {
    height: 3.8rem;
    vertical-align: text-top;
    position: relative;
    top: 3px;
    left: 20px;
}

.editar-envio {
    background: #00BDB7 0% 0% no-repeat padding-box;
    box-shadow: 5px 5px 6px #0000001A;
    border-radius: 2rem;
    letter-spacing: 0.45px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: .5rem;
    padding: .5rem;
    padding-left: 1rem;
}

.editar-envio img {
    position: absolute;
    left: 4px;
}

.parrafo, .spei {
    letter-spacing: 0.6px;
    color: #484349;
    font-weight: bold;
    position: relative;
}

.inputcolor {
    border: none;
    box-shadow: none;
}


.parrafo2{
	color: #484349;
	width: 100%;
	font-weight: bold;
	font-size: 1rem;
	line-height: 1.4rem;
	z-index: 1;
	background: #ECECEB 0% 0% no-repeat padding-box;
	border-radius: 2rem;
	opacity: 1;
    left: 13px;
    font-family: 'Montserrat-Bold';
    letter-spacing: 0.75px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
}

.inputcolor2{
	background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 10px;
	left: -18px;
	border: 1px solid #b3b3b326;
	font-size: 1.5rem;
    text-align: center;
    font-family: 'Montserrat-Bold';
    padding: 1.5rem;

}

.inputcolor2 small {
    position: absolute;
    right: 10px;
    bottom: 13px;
}

#modal-pagos .titulo {
    letter-spacing: 1.6px;
    color: #707070;
    text-transform: uppercase;
}

#modal-pagos .col-md-12 form {
    padding-left: 3rem;
    padding-right: 1rem;
}

.adjuntar-comprobante img {
    position: absolute;
    left: 2px;
}

.adjuntar-comprobante span {
    font-family: 'Montserrat-Bold';
}

.adjuntar-comprobante {
    margin-bottom: 2rem;
}

.itemNavActive span {
    font-family: 'Montserrat-Bold';
}

.buscador-directorio input {
    height: auto;
    margin: 0px;
    border-radius: 2rem;
    padding-right: 2rem;
}

.buscador-directorio img {
    z-index: 3;
    position: relative;
    left: -30px;
    padding: 0px;
}

.boton-amarillo {
    background: #FED55D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2rem;
    padding: .5rem;
    color: #70706e !important;
}

.boton-amarillo span {
    font-family: 'Montserrat-Bold';
    margin-left: 2rem;
    font-size: .8rem;
}

.boton-amarillo img {
    position: absolute;
}

.space-mobile label {
    width: 30% !important;
    position: relative;
    left: 25px;
}

.space-mobile input {
    width: 65%;
    padding-left: 2rem;
}

.space-mobile img {
    width: 5%;
    right: 2.5rem;
    position: relative;
}


.email-recuperar label {
    width: 30% !important;
    position: relative;
    left: 25px;
}

.email-recuperar input {
    width: 66%;
    padding-left: 3rem;
}

.email-recuperar img {
    width: 4%;
    right: 3rem;
    position: relative;
}

.card-email {
    background: #20D645 0% 0% no-repeat padding-box;
    border-radius: 10rem;
}

.card-email p {
    letter-spacing: 0.95px;
    font-size: 1.2rem;
    color: white;
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 1rem;
}

.recuperacion-form .ingresar {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    top: 3rem;
    font-family: 'Montserrat-bold';
    color: #707070 !important;
}

.recuperacion-form label {
    width: 40% !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    margin-bottom: 0px;
}

.recuperacion-form input {
    width: 55% !important;
    height: auto !important;
    font-size: 1.5rem;
}

.ingresar-recuperacion {
    background: #FED55D 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #DEDEDE;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 1rem 4rem;
    letter-spacing: 1px;
    color: #707070;
    font-family: 'Montserrat-bold';    
}

.ingresar {
    font-family: 'Montserrat-bold';    
}

.banner {
    background: #FED55D 0% 0% no-repeat padding-box;
    border: 3px solid #FED55D;
    border-radius: 10px;
    letter-spacing: 2px;
    color: #00BDB7;
    font-family: 'Montserrat-Bold';
    height: 10rem;
    font-size: 1.5rem;
}

.tu-saldo {
    max-height: 10rem;
}

.tu-saldo span {
    letter-spacing: 1.25px;
    color: #484349;
    font-family: 'Montserrat-bold';
}

.tu-saldo div {
    background: #00BDB7 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 46px;
    color: white;
    width: 60%;
    margin: 0px auto;
    padding: .4rem;
    font-size: 1.3rem;
}

.recuadro-panel{
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border: 3px solid #FED55D;
    border-radius: 10px;
    padding: 0px;
    margin-top: 2rem;
}

#panel .title-blue{
    font-size: 1rem;
}

.integraciones{
    padding: 1.3rem;
}

.tabla-envios-recientes {
    width: 90%;
    margin: auto;
}

.tabla-envios-recientes thead th {
    letter-spacing: 0.75px;
    color: #707070;
    font-family: 'Montserrat-bold';
    text-align: center;
    width: 40%;
}

.tabla-envios-recientes tbody tr {
    border-radius: 8px;
    background: white;
    border-bottom: 1rem solid #F5F5F4;
    
}

.tabla-envios-recientes tbody tr td {
    padding: 1rem;
    text-align: center;
    letter-spacing: 0.75px;
    color: #707070;
}

.tabla-envios-recientes .green {  
    background: #20D645;  
    color: white;
    padding: .4rem;
    border-radius: 2rem;
}


.tabla-envios-recientes .yellows {  
    background: #FFFF00 0% 0% no-repeat padding-box;
    color: black;
    padding: .4rem;
    border-radius: 2rem;
}


.tabla-envios-recientes .blues {  
    background: #2620D6 0% 0% no-repeat padding-box;
    color: white;
    padding: .4rem;
    border-radius: 2rem;
}

.recuadro-panel img {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.recuadro-panel canvas {
    padding: 0px;
    margin: 0px;
}

.select-fecha {
    width: 80%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    text-align: center;
}

.select-calendario {
    position: absolute;
    left: 5rem;
    margin-top: 1.4rem !important;
}

.footer-panel {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    margin-top: 4rem;
}

.title-footer{
    letter-spacing: 0.7px;
    color: #707070;
    font-family: 'Montserrat-bold';
}

.parrafo-footer {
    letter-spacing: 0.7px;
    color: #707070;
}

.pagos-metodos img {
    margin: 10px;
}

.footer-panel .centrar {
    padding: 2rem;
}

.PUN{
    padding: 0.5rem;
}

.canjear {
    background: #484349 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;    
}

.canjear span {
    letter-spacing: 0.6px;
    color: #FFFFFF;
    font-family: 'Montserrat-Bold';
    font-size: .7rem;
}

.blanco-informacion {
    background: #F8F8F8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D0D0D0;
    border-radius: 30px;
}

.close-perfil {
    top: 17px !important;
    font-size: 3rem !important;
    color: white !important;
}

.configuraciones-caja {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #FED55D;
    border-radius: 10px;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.configuraciones-caja div {
    padding: 1rem;
}

.configuraciones-caja div label {
    letter-spacing: 0.6px;
    color: #484349;
    font-family: 'Montserrat-bold';
    font-size: .8rem;
}

.configuraciones-caja div input {
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border-radius: 10px;
}

.button-amarillo {
    background: #FED55D 0% 0% no-repeat padding-box;
    border-radius: 2rem;
    padding: .5rem;
}

.button-amarillo img {
    position: absolute;
}

.button-amarillo span {
    font-family: 'Montserrat-bold' !important;
    letter-spacing: 0.65px;
    color: #707070;
}

#perfil .pago {
    background: #00BDB7 0% 0% no-repeat padding-box;
    color: white;
}

#perfil .close2 {
    color: white;
}

.div-form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.div-form label {
    width: 30%;
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Montserrat-Bold';
    letter-spacing: 0.6px;
    color: #707070;
    left: 10px;
    position: relative;
    z-index: 1;
    margin: 0px;
    font-size: .8rem;
}

.div-form input {
    width: 70%;
    background: #F5F5F4 0% 0% no-repeat padding-box;
    border-radius: 10px;
    background: #F5F5F4 0% 0% no-repeat padding-box;
    height: auto;
    padding-left: 2rem;
    position: relative;
    right: 10px;
    border: none;
}

.sin-padding {
    padding: 0px;
}

.total {
    background: #00BDB7 0% 0% no-repeat padding-box;
    border-radius: 10px;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    margin: auto;
}

.total strong{
    width: 30%;
    background: #ECECEB 0% 0% no-repeat padding-box;
    border-radius: 2rem;    
    font-family: 'Montserrat-Bold';
    letter-spacing: 0.6px;
    color: #707070;    
    font-size: .8rem;
    position: absolute;
    left: -2px;
    height: 100%;
    text-align: center;
}

.total span {
    color: white;
    font-family: 'Montserrat-bold';
    width: 100%;
    font-size: 1.7rem;
    padding-left: 7rem;
}

.total small {
    color: white;
    position: absolute;
    right: 8px;
    bottom: 3px;
}

.canjear-puntos {
    background: #484349 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 31px;
    opacity: 1;
    color: white;
    font-weight: bold;
    margin: auto;
}

.canjear-puntos img {
    position: absolute;
    left: 5px;
}

.canjear-puntos span {
    padding: .6rem;
    padding-left: 2rem;
} 


#perfil .enlace, #perfil .enlace {
    font-size: .8rem;
    margin-bottom: 1rem;
}

#error-login {
    color: #f14336;
    font-weight: bold;
    padding-bottom: 1rem;
}

#spinner {
    display: none;
}

.error-register {
    text-align: center;
    color: #dc3545;    
    font-weight: bold;
}

.modal-body .ingresar {
    outline: 0px;
}

#errorCotizacion {
    color: red;
    margin: 1rem;
    font-weight: bold;
    background: white;
    border: 2px solid #fed55d;
    border-radius: 5px;
    display: none;
    text-align: center;
}

#btnCotizacion, #barrer, #agregarPaqueteCotizacion {
    cursor: pointer;
}

#lista-paquetes {
    margin: auto;
    margin-top: 2rem;
}

#lista-paquetes table tbody tr td img {
    width: 1.5rem;
    cursor: pointer;
}

.button-amarillo {
    max-width: 22%;
}

.button-amarillo span {
    font-size: .8rem;
}

.button-amarillo img {
    left: 4px;
}

.buttons-envios a{
    color: #707070 !important; 
}
