
/***************************
/* media querys para ipad *
***************************/
@media only screen 
and (min-device-width : 768px) 
and (max-device-height : 1024px)  { 

    .figura1, .figura2 {
        height: 8rem;
        width: 20%;
    }

    .formulario-sesion .form label {
        font-size: .7rem;
    }

    .formulario-sesion .form input {
        height: 2.4rem;
        padding-right: 2rem;
    }

    .svg-inline--fa.fa-w-14, .svg-inline--fa.fa-w-18 {
        height: 1.5rem;
    }

    .icon-input, .icon-input-eye {
        right: 3.5rem;
        top: .5rem;
    }

    .olvidaste {
        font-size: .6rem;
    }

    .tambien {
        font-size: .9rem;
    }

    .facebook span, .google span {
        font-size: .6rem;
    }

    .facebook svg, .google svg {
        right: 0px;
    }

    .hola {
        margin-top: 4rem;
    }

    .mujer {
        background-size: auto 80% !important;
    }

    .necesitamos {
        font-size: .6rem;
    }

    .logo {
		width: 40%;
	}

	.enviaremos {
		font-size: .9rem;
	}

	.hola {
		font-size: 2.5rem;
	}

	.olvidaste {
		margin-left: 0px;
	}

	.facebook svg, .google svg {
		float: none;
	}

	.ingresar {
		font-size: 10px;
	}

	.parte {
		font-size: .4rem;
	}

	.comunidad {
		font-size: .8rem;
	}

	.registrate {
		font-size: .6rem;
	}

	.bolita2 {
		font-size: .5rem;
    	line-height: 1.6rem;
	}

	.otrabolita {
		font-size: .7rem;
	}

	.bolita {
		font-size: .5rem;
    	line-height: 1.7rem;
	}

	.modal-registro .facebook span {
		font-size: .6rem;
	}

	.modal-registro .facebook svg, .modal-registro .google svg {
		left: 1.2rem;
	}

	.mujer {
		background-size: 37% 85%;
	}

	/* estilos modal de pagos stripe */
	.parrafo{
		font-size: .9rem;
		letter-spacing: 0.5px;
		margin-bottom: 0;
	}

	.inputcolor{
		font-size: .7rem;
        width: 95%;
        
	}

	.parrafo2{
		font-size: .6rem;
	}

	.inputcolor2{
		font-size: 1rem;
	}

	.tab{
		padding: 0;
		right: 12px;
	}

	.titulo {
		font-size: 1rem;
	}

	.labelCheck {
		font-size: .5rem;
	}

	.textLabel {
		font-size: .2rem;
	}

	.moneda-footer {
		left: 5rem;
	}

	.tituloAmarilloCotizacion{
		font-size: .9rem;
	}

	.titulo-lista-envios {
		font-size: .7rem;
	}

    .buscar-numero-guia {
        padding-left: 1rem;
    }

	.buscar-numero-guia label {
		font-size: .5rem;
		
	}

	.buscar-numero-guia img {
		position: relative;
		right: 3rem;
		cursor: pointer;
		top: 0px;
    }
    
    .buscar-numero-guia input {
        border: none;
    }

	#botonesPanel span {
		font-size: .7rem;
	}

	.ayuda {
		left: 2px;
    }
    
    .google span {
        font-size: .8rem;
    }

    .adjuntar-comprobante span {
        font-size: .7rem;
    }

    .dimensiones .packages {
        margin: 0px;
    }

    .packages {
        height: 5rem !important;
    }

    .textinput-title {
        margin-bottom: 1rem;
    }

    .package-img {
        right: 5px;
        width: 4rem;
        position: relative;
        top: 9px;
    }

    .textLabel {
        padding: 0px;
        font-size: .4rem;
    }

    .espacioBlancoEnvios {
        max-width: 90%;
    }

    .total-resultado {
        font-size: .6rem;
    }

    

    .footer-formulario-cotizacion div {
        font-size: .4rem;
    }

    .total-number-footer {
        font-size: 1rem;
        line-height: 2rem;
    }

    .moneda-footer {
        left: 1rem;
        top: 1rem;
    }

    .footer-formulario-cotizacion img {
        top: 22px;
    }

    .mensaje-rojo {
        left: 2rem;
    }

    .historial-total {
        margin-top: 0px;
    }

    .title-blue {
        font-size: 1rem;
    }

    .botones-credito button {
        margin-bottom: 1rem;
    }

    .labelHistorial {
        font-size: .6rem;
        height: 2rem;
        top: .5rem;
        line-height: 2rem;
    }

    .calendario-historial {
        position: absolute;
        width: 1rem;
        top: 20px;
    }

    .inputHistorial {
        background: #F5F5F4;
        border-radius: 10px;
        padding: 0px;
        border: 1px solid #b3b3b326;
        position: relative;
        right: 2rem;
        font-size: .5rem;
        text-align: center;
        padding-left: 1.9rem;
        height: 2rem;
        top: .5rem;
    }

    .listo h1 {
        font-size: 4rem;
    }

    .listo span {
        font-size: 1rem;
    }

    .integraciones-detalle, .input-detalle-sin-fondo, .input-detalle-con-fondo {
        font-size: .6rem;
    }

    .integraciones-logos {
        padding-top: 2rem;
    }

    .woo-integrer, .shopify-integrer {
        top: 0px;
    }

    .tipo-envio-detalle .tipo {
        font-size: .7rem;
    }

    .tipo-envio-detalle {
        font-size: .6rem;
    }

    .data-status .label-status span {
        font-size: .4rem;
    }

    .input-status {
        font-size: .7rem;
    }

    .checked-yellow, .checked-default {
        height: 1rem;
        top: 15px;
    }

    .data-status .label-status {
        padding: 0px;
        padding-top: .5rem;
        padding-bottom: .5rem;
        padding-left: .2rem;
        padding-right: .2rem;
    }

    .detalles-paqueteria-piezas div {
        margin: 7px;
    }

    .cuadroEnvio {
        max-width: 100%;
    }

     .form-resumen .row label {
        font-size: .4rem;
    }

    .botones-resumen-envios-enviar .row .total {
        font-size: .8rem;
    }

    .botones-resumen-envios-enviar .row span {
        font-size: .7rem;
    } 

    .parrafo, .spei {
        font-size: .6rem;
    }

    .card-email {
        padding-top: 1rem;
    }
    
}
/* end ipad style*/


/**************************************
    media querys para mobile boostrap 
**************************************/
@media (max-device-width: 767px){
    
    .olvidaste {
        font-size: .6rem;
        margin-left: 9rem;
    }

    .enviaremos {
        font-size: 1rem;
    }

    .figura1, .figura2 {
        height: 4rem;
        width: 25%;
    }

    .logo {
        width: 30%;
    }

    .hola {
        font-size: 2rem;
    }

    .formulario-sesion .form input {
        margin-bottom: 0rem;
        padding-left: 1.5rem;
        width: 60%;
        left: -20px;
        height: 2rem;
    }

    .form {
        padding-left: 0px;
        padding-right: 0px;
    }

    .space-mobile {
        padding-left: 12px;
    }

    .formulario-sesion .form label {
        margin-bottom: 0px;
        width: 40%;
        line-height: 29px;        
        padding: 0px;
        padding-left: 8px;
        font-size: .6rem;
    }

    .facebook {
        width: 40%;
        text-align: center;
    }

    .modal-registro .facebook span {
        font-size: .6rem;
    }

    .modal-registro .facebook svg, .modal-registro .google svg {
        margin-left: 0px;
    }

    .google {
        width: 40%;
        text-align: center;
    }

    .google span {
        font-size: .7rem;
    }

    .ingresar {
        width: 50%;
    }

    .google svg, .facebook svg {
        margin: 0px;
    }

    .svg-inline--fa.fa-w-14, .svg-inline--fa.fa-w-18 {
        height: 1rem;
        width: 1rem;
    }

    .reg {
        width: 50%;
    }

    .form {
        padding-bottom: 1rem;
    }

    .formulario-sesion {
        border-radius: 0px;
    }

    .mujer {
        background-image: none !important;
        padding-left: 0px;
    }

    .mujer-mobile {
        display: block !important;
        width: 60%;
        margin: auto;
        margin-left: 4rem;
        margin-bottom: .7rem;
    }

    .necesitamos {
        font-size: .7rem;
        margin-bottom: .5rem;
    }

    .otrabolita {
        left: 0px;
        text-align: center;
        padding: .5rem;
        font-size: .7rem;
        width: 60%;
        left: -10px;
    }

    .bolita2 {
        font-size: .5rem;
        width: 40%;
        left: 10px;
        margin-bottom: 1rem;
    }

    #rfc {
        margin-bottom: .1rem;
    }

    .bolita {
        margin-bottom: 0px;
        font-size: .7rem;
        line-height: 1.5rem;
        width: 30%;
        position: relative;
        left: 1rem;
    }

    #pass, #replyPass {
        width: 70%;
        left: 0px;
        margin-bottom: 1rem;
        font-size: .6rem;
    }

    .modal-body .container .row {
        margin-bottom: .1rem;
    }

    #in {
        text-align: center;
    }

    /* estilos modal de pagos stripe */
    .parrafo2{
        left: -5px;
        width: 93%;
    }

    .inputcolor2{
        left: -5px;
        width: 93%;
        margin-bottom: 9px;
        text-align: center;
    }

    .inputcolor2-1{
        left: -5px;
        width: 93%;
        text-align: center;
    }

    .tab{
        left: 80px;
        padding-top: 1rem;
    }

    label{
        margin-bottom: 0;
    }

    .titulo{
        font-size: smaller;
    }

    .icon-input, .icon-input-eye {
        right: -9rem;
        top: -1.5rem;
    }

    .bienvenidoHeader {
        font-size: .5rem;
        position: relative;
        left: -6rem;
        height: 1.5rem;
    }
    
    .usuarioHeader {
        font-size: .6rem;
        width: 5rem;
        margin-left: 4px !important;
    }

    .cuadroEnvio {
        margin-left: 0px;
    }

    .labelOrigen {
        margin-left: 2rem;
        margin-right: 2rem;
        margin-bottom: 1rem;
    }

    .dimensiones {
        margin-top: 1rem;
    }

    .textLabel {
        width: 30%;
        padding-left: 0px;
        padding-right: 0px;
    }

    .inputOrigen {
        width: 60%;
    }

    .labelOrigen span {
        padding-left: 2rem;
    }

    .dimensiones .packages, .pack-img {
        width: 44%;
    }

    .total-resultado {
        width: 50%;
    }

    .dimensiones-total img {
        margin-bottom: 1rem;
        padding-right: 0px;
        padding-left: 1.2rem;
    }

    .footer-formulario-cotizacion div {
        width: 50%;
        margin-top: 1rem;
        font-size: .5rem;
    }
    

    .moneda-footer {
        left: 5rem;
    }

    .footer-formulario-cotizacion img {
        top: 20px;
    }

    #logoWikienvios {
        position: relative;
        height: 2rem;
        width: 7rem;
        left: -3.5rem;
    }

    .dimensiones-total div {
        padding: 0px;
    }

    .perfil-cotizacion {
        width: 0px;
    }

    .perfil-cotizacion img {
        position: relative;
        left: -2.4rem;
        width: 7rem;
    }

    .barraHeader {
        width: 100%;
    }

    .buscar-numero-guia {
        margin: 0px;
        padding: 0px;
    }

    .buscar-numero-guia label {
        width: 40%;
        font-size: .4rem;
        left: 5px;
    }

    .buscar-numero-guia input {
        width: 60%;
        right: 5px;
    }

    .buscar-numero-guia img {
        width: 100%;
        right: 0rem;
        margin-top: .5rem;
    }

    .titulo-lista-envios {
        margin-bottom: 1rem;
    }

    .facebook span {
        font-size: .7rem;
    }

    .facebook svg, .google svg {
        right: 0rem;
    }

    .parte {
        font-size: .9rem;
    }

    .parrafo2 {
        font-size: .5rem;
        height: 2rem;
        padding: 0px;
        margin-bottom: 0px;
        line-height: 2rem;
        left: 10px;
        width: 40%;
    }

    .inputcolor2 {
        width: 60%;
        padding: .95rem;
        right: 5px;
    }

    .input-img {
        bottom: 2.7rem;
    }

    .modal-lg, .modal-xl{
        margin: 1.1rem;
    }

    .input-img-time {
        float: right;
        bottom: 2.5rem;
        position: relative;
        right: .9rem;
        height: 1.4rem;
        line-height: 0rem;
        font-size: 1.1rem;
        color: #707070;
        background: #f5f5f4;
        z-index: 2;
        border-radius: 100%;
    }

    .container-fluid {
        padding-right: 0px;
    }

    .dimensiones-title{
        font-size: .8rem;
    }

    .total-number-footer {
        font-size: 1rem;
    }

    #libreta .modal-lg, #libreta-nueva .modal-lg {
        max-width: 90%;
    }

    .buscador-libreta input{
        width: 90%;
        left: 0px;
    }

    .buscador-libreta img {
        margin-top: .5rem;
    }

    .mensaje-rojo {
        font-size: .5rem;
        left: 15px;
    }

    .input-direccion-elegida label {
        width: 40%;
    }

    .input-direccion-elegida input {
        width: 60%;
    }

    .input-direccion-elegida {
        padding: 0px;
        padding-right: 1.5rem;
    }

    .guardar {
        font-size: .8rem;
    }

    .pago {
        font-size: .8rem;
    }
    
    button.close2 {
        top: 8px;
    }

    .mensaje-rojo-obligatorio {
        font-size: .5rem;
    }

    .labelHistorial {
        width: 40%;
        font-size: .7rem;
        position: relative;
        left: 1rem;
    }
    
    .inputHistorial {
        width: 60%;
        right: 1rem;
    }

    .fecha {
        padding-left: 4rem;
    }

    .title-blue {
        font-size: 1rem;
    }

    .descript {
        width: 15rem !important;
    }

    .botones-credito button {
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 1rem;
    }

    .historial-total .textLabel {
        font-size: .6rem;
    }

    .historial-total {
        margin-top: 0px;
    }

    .logo-listo {
        width: 40%;
    }

    .listo h1 {
        font-size: 3rem;
    }

    .listo span {
        font-size: .6rem;
    }

    .integraciones-logos .left {
        margin: 0px;
    }

    .integraciones-detalle {
        left: 0px;
    }

    .integraciones-logos {
        right: 0px;
        top: -15px;
    }

    .input-detalle-sin-fondo {
        margin-bottom: 1.5rem;
    }

    .label-detalle {
        margin-top: 1rem;
    }

    .iconos-envios img{
        width: 2rem;
        top: 7px;
        position: relative;
    }

    .data-status .label-status {
        width: 100%;
    }

    .input-status {
        width: 100%;
        left: 0px;
        height: 2.5rem;
    }

    .tipo-envio-detalle {
        height: auto;
        margin: 0px;
        margin-top: 2rem;
        padding: 0px;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
    }

    .checked-default {
        margin-right: 0px;
        right: 15px;
    }

    .descripcion-detalle-envios .label {
        left: 0px;
    }

    .descripcion-detalle-envios .input {
        right: 0px;
        height: 3rem;
        border-radius: 0px;
        margin-bottom: 1rem;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        top: -10px;
        width: 95%;
    }

    .total-detalle-envio {
        margin: 0px;
        margin-top: 2rem;
    }

    .botones-detalles-envio button {
        width: 70%;
    }

    .botones-detalles-envio button img {
        float: left;
    }

    .recuperar span {
        font-size: 1rem;
    }

    .email-recuperar label {
        left: 15px;
        font-size: .7rem;
        height: auto;
    }

    .email-recuperar input {
        right: 0px;
        top: 0px;
        padding-bottom: 0px;
        height: auto;
        padding-left: 1rem;
        padding-right: 2.5rem;
    }

    .input-icon {
        right: -7rem;
        top: -3.2rem;
    }

    .cuadroEnvio {
        padding: 0px;
    }

    .cuadroEnvio .labelCheck, .cuadroEnvio .custom-control-label {
        font-size: .4rem;
        left: -5px;
    }

    .dimensiones-total div {
        font-size: .6rem;
    }

    .description-envios .textLabel {
        width: 100%;
        left: 0px;
    }

    .description-envios .inputOrigen{
        width: 100%;
        left: 0px;
        padding: 0px .5rem;
        margin-bottom: 1rem;
    }

    .description-envios .row {
        padding: 0px;
    }

    .description-envios {
        padding-right: 0px;
    }

    .dimensiones {
        padding: 0px;
    }

    .botones-resumen-envios .row {
        padding: 0px;
    }

    .botones-resumen-envios-enviar img {
        left: 0px;
        top: 0px;
    }

    .form-resumen .row label {
        font-size: .3rem;
    }

    .form-resumen .row input {
        font-size: .5rem;
    }

    #modal-pagos .col-md-12 form {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    #botonesPanel, .container-fluid {
        padding: 0px;
    }
    
    .buscador-directorio img {
        left: 0px;
    }

    .email-recuperar img{
        width: 1.3rem;
        right: 2.9rem;
        top: 10p;
        margin-top: 7px;
        position: absolute;
    }

    .card-email p {
        font-size: .7rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .card-email {
        padding-top: 1rem;
    }

    .div-form label, .total strong {
        font-size: .6rem;
    }

    .total span {
        padding-left: 5rem;
    }

    .canjear-puntos {
        margin-top: 1rem;
    }

    .button-amarillo {
        float: none;
        width: 90%;
        margin: 1rem;
    }

    .space-mobile img {
        right: 1.5rem;
    }

    .card-email img {
        width: 3rem;
        margin: auto;
    }

    .btn-recuperar {
        font-size: .6rem;
    }
}
/* end mobile bootstrap */


/****************************
    media querys para galaxy 
*****************************/
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) {

    .icon-input, .icon-input-eye {
        right: -7.5rem;
    }

    button.close {
        right: -6px;
        top: -3px;
    }

    .perfil-cotizacion img {
        position: relative;
        left: -2.6rem;
        width: 6rem;
        padding: 0px;
    }

    .bienvenidoHeader {
        font-size: .5rem;
        position: relative;
        left: -5.1rem;
        height: 1.5rem;
    }

    .total-resultado {
        width: 60%;
    }
    
} 
/* end galaxy */



/*****************************
    media querys para iphone 
******************************/
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-height: 667px) {
    
    .bienvenidoHeader {
        left: -4.5rem;
    }
    .perfil-cotizacion img {
        width: 5rem;
        padding: 0px;
    }

    #logoWikienvios {
        left: -3rem;
    }

    .icon-input, .icon-input-eye {
        right: -8rem;
    }
    
    .total-resultado {
        width: 60%;
    }

}
/* end querys iphone */