body {
    background: #00BDB7;
}

.main {
    background: #ffffff;
    margin-top: 20%; 
    padding: 10px; 
    text-align: center;
    border-radius: 10px;
}

.cover {
    padding: 2px;
}

.img {
    border-radius: 10px;
}

.padder {
    padding-left: 10px; 
}

.btn {
    background: #fed55d;
    border-color: #fed55d;
}
